[2021-06-07 04:57] rameshsambu-dev commented on #236
using the sdk  version implementation 'com.razorpay:checkout:1.6.5'

[2021-06-07 05:00] rameshsambu-dev commented on #236
Caused by java.lang.NullPointerException
       at java.util.Objects.requireNonNull(Objects.java:203)
       at com.razorpay.AutoReadOtpHelper.onReceive(AutoReadOtpHelper.java:36)
       at android.app.LoadedApk$ReceiverDispatcher$Args.lambda$getRunnable$0$LoadedApk$ReceiverDispatcher$Args(LoadedApk.java:1560)
       at android.app.-$$Lambda$LoadedApk$ReceiverDispatcher$Args$_BumDX2UKsnxLVrE6UJsJZ

[2021-06-08 16:19] thisshri commented on #110
For Razorpay web integration, the success handler callback is not being called when the payment is made through UPI.
In test mode in local, it works, but on production, it's not working.
The payment is done and with status as authorized, but since the success handler is not called, I cannot process the order and capture the payment from the backend.

[2021-06-10 05:11] peeyushyogi commented on #190
Is this issue resolved 1.6.6.
what is solution for that

[2021-06-10 07:05] sumedht commented on #190
@peeyushyogi Update ur SDK to latest version.

[2021-06-10 07:19] ayush-razorpay commented on #110
@thisshri  please raise an Integrations ticket for this from your dashboard. We will look into this.

[2021-06-11 14:53] pratikvar opened #238 "Unable to user fragmentManager inside onPaymentSuccess and onPaymentError"
## Description

Can not use `supportFragmentManager` for any of fragment or dialog fragment transaction as `supportFragmentManager.isStateSaved` return `true` inside `onPaymentSuccess` and `onPaymentError`

## Razorpay SDK Version :
com.razorpay:checkout:1.6.6

## Android OS Version :
currently using Android Pie and Oreo

### What you did:
Trying to show `DialogFragment` to notify a user about suc

[2021-06-11 17:23] vivekshindhe commented on #238
@pratikvar Apart from what's there in the android documentation,

https://developer.android.com/reference/androidx/fragment/app/FragmentTransaction#commitAllowingStateLoss()

we won't be able to help you much here because this would be an android related issue.

[2021-06-17 08:59] mayank2212 opened #240 "PaymentResultWithDataListener PaymentData is returning null on failure case"
## Razorpay SDK Version :
 implementation 'com.razorpay:checkout:1.6.7'.

### What you did:
We have implemented PaymentResultWithDataListener, when testing gateway response in TestMode, the Success case is working fine and we are getting all the data in PaymentData object. But in case of onPaymentError, the data object of PaymentData is always null. We need paymentData.getOrderId() to return the o

[2021-06-17 09:33] mayank2212 commented on #220
Getting the same issue, whats the workaround for this or fix?

[2021-06-17 10:40] vivekshindhe commented on #240
@mayank2212 Please update to 1.6.10.

[2021-06-17 10:41] vivekshindhe commented on #220
There was an orderId mismatch. The orderId was generated for test key but the payment was for live. That was the error here.

[2021-06-17 10:45] mayank2212 commented on #240
@vivekshindhe Already tried, getting this error in 1.6.10

`2021-06-17 16:02:29.600 8724-8724/com.xxxx.xxxx E/com.razorpay.checkout: Webview JS Error: Uncaught ReferenceError: otpPermissionCallback is not defined
2021-06-17 16:02:29.600 8724-8724/com.xxxx.xxxx  I/chromium: [INFO:CONSOLE(1)] "Uncaught ReferenceError: otpPermissionCallback is not defined", source: https://api.razorpay.com/v1/checkou

[2021-06-17 11:54] vivekshindhe commented on #240
@mayank2212 Request you to go through the document thoroughly. Neither PaymentResultListener or PaymentResultWithDataListener returns PaymentData object in onPaymentError(int code, String error). This error response is as below, which I picked from the logs you shared above.

[code]

Also, the logs you shared are generic logs. These aren't a Fatal Exception so you can safely ignore these.

[2021-06-17 17:18] #240 closed

[2021-06-21 08:44] Goutam-Kumar opened #241 "Observe on crash after successful payment callback"
E/ActivityThread: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.AutoReadOtpHelper@ee7a061 that was originally registered here. Are you missing a call to unregisterReceiver()?
    android.app.IntentReceiverLeaked: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.AutoReadOtpHelper@ee7a061 that was originally registered here. Are you missin

[2021-06-21 10:20] Goutam-Kumar commented on #241
I am getting above error after payment successful.

[2021-06-21 13:33] vivekshindhe commented on #241
@Goutam-Kumar this is not a fatal exception. If the app is crashing, you should see logs after the line
"Fatal Exception".

[2021-06-21 17:19] vivekshindhe commented on #238
Closing the ticket due to inactivity. Please feel free to open another ticket.

[2021-06-21 17:19] #238 closed

[2021-06-21 17:22] vivekshindhe commented on #236
@rameshsambu-dev Hey, we apologise for the late response, please update to v1.6.10 for this. This has been solved in that version. Thank you. Closing the ticket. Please open another ticket in case the issue persists.

[2021-06-21 17:22] #236 closed

[2021-06-21 17:23] vivekshindhe commented on #235
@Balakubera closing this due to inactivity. Please add here to reopen the issue or create another ticket in case you are still facing the same issue or have any other issue. Thank you.

[2021-06-21 17:23] #235 closed

[2021-06-21 17:24] vivekshindhe commented on #234
Closing ticket due to inactivity. Please feel free to ask for reopening the ticket or create a new one. Thank you.

[2021-06-21 17:24] #234 closed

[2021-06-21 17:27] vivekshindhe commented on #231
@dishantshah99 Closing ticket due to inactivity. Hoping the issue was resolved. In case it wasn't please add a comment here or create another ticket for the same. Thank you.

[2021-06-21 17:27] #231 closed

[2021-06-28 11:46] Meenu1401 commented on #190
@sumedht Still facing this issue with latest version 1.6.6
E/ActivityThread: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.CheckoutPresenterImpl$1@d56cc96 that was originally registered here. Are you missing a call to unregisterReceiver()?
    android.app.IntentReceiverLeaked: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.CheckoutPres

[2021-06-28 12:34] vivekshindhe commented on #190
@Meenu1401 This is not a fatal exception and is due to SMS_RETRIEVER_API for auto-read of OTP messages. This doesn't have any unintended side-effects before, during or after a payment transaction. We're looking into it, but you can stay assured this doesn't include any problems.

[2021-07-05 04:37] vivekshindhe commented on #241
@Goutam-Kumar closing this due to inactivity. Please comment on this thread to reopen the issue or create another ticket in case any other issues. Thank you.

[2021-07-05 04:37] #241 closed

[2021-07-05 14:19] Sridharan0 commented on #97
After the version change to 1.5.3, I'm facing an issue in cancel payment by pressing the back button and it takes lots of time to cancel

[2021-07-06 05:29] vivekshindhe commented on #97
@Sridharan0 Please update to v1.6.7.

[2021-07-06 12:18] Sridharan0 commented on #97
That helps man.. thanks.

[2021-07-30 03:28] TheDukerChip opened #247 "java.lang.NoSuchFieldError in CheckoutActivity"
## Description
When the Checkout screen opened the app is getting crashed

## Razorpay SDK Version :
1.6.6

## Android OS Version :
8.1.0 (Nexus 5x)

## Stacktrace
Fatal Exception: java.lang.NoSuchFieldError: No static field activity_result_invalid_parameters of type I in class Lcom/razorpay/R$string; or its superclasses (declaration of 'com.razorpay.R$string' appears in /data/app/com.cricket.spor

[2021-07-30 03:43] vivekshindhe commented on #247
@TheDukerChip please use version 1.6.10. Its the latest one. And has this issue resolved.

[2021-07-30 03:48] TheDukerChip commented on #247
@vivekshindhe Thanks for that! Can you point me to the release notes?

[2021-07-30 03:49] vivekshindhe commented on #247
The release notes are in the main docs as well. You can refer those from there. @TheDukerChip

[2021-07-30 03:52] TheDukerChip commented on #247
@vivekshindhe I can't find any release notes for **1.6.10** here https://razorpay.com/docs/payment-gateway/android-integration/standard/#list-of-razorpay-android-standard-sdk-versions-last

[2021-07-30 03:55] vivekshindhe commented on #247
@TheDukerChip thanks for pointing that out. It must not have been updated yet. Will work on that. In the mean while you can use v1.6.10. It didn't have any additional features. Just some bug fixes. Once the release notes are live will update you again.

[2021-08-01 14:52] rnkdsh opened #248 "Android 12 Support: Set android:exported in AndroidManifest.xml"
## Description

I recently update my `compileSdkVersion` and `targetSdkVersion` to 31. Now I get this error when I try to build the app.

## Razorpay SDK Version :
1.6.10

## Android OS Version :
Android 12(31)

### What you did:

Trying to build or run the app.

### What happened:

Build Failed:

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Update `compileS

[2021-08-03 05:22] sumedht commented on #248
@rnkdsh Will fix this in our next release

[2021-08-04 12:24] namangt68 opened #249 "Disable paylater option in Razorpay UI"
## Description

How to disable Pay Later option in Android UI.
## Razorpay SDK Version :
1.6.6

### What you did:
Tried to disable paylater option like this as mentioned [here](https://razorpay.com/docs/payments/payments/payment-methods/)

[code]
### What happened:
Paylater is still showing in options.

![WhatsApp Image 2021-08-04 at 17 49 39 (2)](https://user-images.githubusercontent.com/6892483/

[2021-08-09 08:40] Balasubramanian6765 commented on #202
Hi am using com.razorpay:checkout:1.6.5 but still I get vulnerability for Intent Redirection from Play store.
How to get rid of this issue.
![Screenshot 2021-08-09 at 2 09 46 PM](https://user-images.githubusercontent.com/61578163/128679773-012c14c5-16fc-471c-91fe-8efc8f7a3e51.png)

[2021-08-09 08:42] vivekshindhe commented on #202
You will need to remove the version affected by this from the track as well. And please update to Razorpay version 1.6.10.
On 9 Aug 2021, 2:10 PM +0530, Balasubramanian K U ***@***.***>, wrote:

--
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
**IMPORTANT**: The contents of thi

[2021-08-09 09:05] Balasubramanian6765 commented on #202
<meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

            What about these above 2 lines are necessary. Pls confirm usage of this

[2021-08-09 09:15] vivekshindhe commented on #202
The issue is not about this @Balasubramanian6765

[2021-08-09 09:16] Balasubramanian6765 commented on #202
Thanks @vivekshindhe

[2021-08-11 04:58] virenpankaj222 commented on #81
method: {

emi:false

[2021-08-11 08:20] Rajkumarrmani commented on #249
I'm facing same thing. How to disable paylater.

[2021-08-11 08:30] vivekshindhe commented on #249
@namangt68 @Rajkumarrmani Thanks for reaching out. Please use the below link to disable certain payment methods https://razorpay.com/docs/payment-links/api/new/advanced-options/customize/payment-methods/

[2021-08-11 08:34] namangt68 commented on #249
@vivekshindhe paylater option not mentioned in the documentation link you shared. I raised a razorpay ticket to disable pay later option that solved the issue

[2021-08-11 08:40] #249 closed

[2021-08-18 04:54] xirainfotech commented on #81
Hey thanks this worked in Flutter as well.
emi:false to turn off emi options.
How to disable Pay Later option?

[2021-08-18 12:39] anandnarayanrai commented on #190
E/com.razorpay.checkout: Webview JS Error: Uncaught ReferenceError: otpPermissionCallback is not defined
I/chromium: [INFO:CONSOLE(1)] "Uncaught ReferenceError: otpPermissionCallback is not defined", source: https://api.razorpay.com/v1/payments/pay_HmfAzgl3Sf2Gma/callback/caf86e36924718b4c0b80530d2373cb2d27db986/rzp_test_5lPODXTLtApmqf?status=authorized&token_recurring_status=rejected&language_cod

[2021-08-18 14:44] vivekshindhe commented on #190
@anandnarayanrai  this is not a fatal error. Please ignore.

[2021-08-23 12:20] abhinavsuthar opened #253 "Activity com.razorpay.CheckoutActivity has leaked IntentReceiver"
## Description

If I use `PaymentResultListener` everything works as expected, but if I use `PaymentResultWithDataListener` then below non-fatal error occurs and `void onPaymentError(int var1, String var2, PaymentData var3);` never gets called

## Razorpay SDK Version :
1.6.12

## Android OS Version :
Happening for all devices and OS

### What you did:

We upgraded our app's target SDK version to

[2021-08-24 05:12] sumedht commented on #253
@abhinavsuthar Thanks for sharing the details. We will check with steps to reproduce & update here.

[2021-08-24 06:42] AkshayAshokCode commented on #249
@namangt68 @vivekshindhe  So the PayLater method can only be disabled by raising a Razorpay ticket? Is no programmatical or dashboard solution available?

[2021-08-24 09:38] somesh-basicx opened #254 "Unable to use External wallet in v1.6.12"
## Description
After upgrading from com.razorpay:checkout:1.5.14, we are unable to use external wallet like Paytm. Previously we used to define 'paytm' as an external wallet and get the callback on `onExternalWalletSelected()` method but in this new SDK, we are getting "order_id" not set exception when selecting an external wallet. When I downgrade to v1.5.14, I am able to select Paytm wallet and

[2021-08-24 19:41] MohitBaghel commented on #190
Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.AutoReadOtpHelper@b697dde that was originally registered here. Are you missing a call to unregisterReceiver()?
    android.app.IntentReceiverLeaked: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.AutoReadOtpHelper@b697dde that was originally registered here. Are you missing a call to unregi

[2021-08-25 08:24] vivekshindhe commented on #190
But sir, this is not a fatal error. In fact, this error is coming because of the SMS_RETREIVER_API from google. Nothing changes because of this. We are looking to resolve this once and for all. Please wait for the fix for this in the next version. Since this isn't a blocker this will be taken with P2 priority and be released with time. Thank you. @MohitBaghel

[2021-08-29 13:33] AkshayAshokCode commented on #249
@namangt68 I also raised a Razorpay ticket but the team said it's not possible to Disable the 'Pay Later' method.

[2021-09-03 09:59] somesh-basicx commented on #254
_**Bump!**_

[2021-09-04 15:49] prudhvir3ddy commented on #248
@sumedht any update ?

[2021-09-07 12:44] Balasubramanian6765 commented on #202
Hi @vivekshindhe
I have uploaded another app of mine to the Play store. Razorpay version 1.6.10. still i get this mail from Play store.Also gave me these link for suggestion https://support.google.com/faqs/answer/9267555
How to get rid of this issue.
![Screenshot 2021-09-07 at 6 10 38 PM](https://user-images.githubusercontent.com/61578163/132346712-db061e99-39d0-447a-87c1-e1bf834008ee.png)

[2021-09-08 05:26] somesh-basicx commented on #254
@sumedht Anything on this? If this is a real issue then this should be a critical one!

[2021-09-09 07:07] MrRezwan88 commented on #248
@sumedht Please fix it ASAP

[2021-09-09 07:11] rrsaikat commented on #248
@sumedht Eagerly waiting for to be fixed, please do it ASAP

[2021-09-09 07:13] rrsaikat commented on #248
@sumedht please fix it ASAP :/

[2021-09-09 07:15] rnkdsh commented on #248
you can use temporary workaround until fixed :)

[2021-09-09 17:25] sahujaunpuri opened #257 "It is working fine in debug mode. But in release ver only the art screen is open and the phone hangs."
## Description

It is working fine in debug mode. But in release ver only the art screen is open and the phone hangs.
when i am using live key
## Razorpay SDK Version :
com.razorpay:checkout:1.6.10.

### What you did:
          `                    public void CreateOrderId(String payble) {
               Map<String, String> params = new HashMap<>();
                 params.put("amount", "" + Math

[2021-09-13 05:07] vivekshindhe commented on #257
Please ensure you have added the correct proguard rules.

[2021-09-13 10:35] sanjeet007 commented on #154
Customer payment not allowed for the subscription at this stage
Payment failed:: {"code":"BAD_REQUEST_ERROR","description":"Customer payment not allowed for the subscription at this stage.","source":"NA","step":"NA","reason":"NA","metadata":{}} ::null

[2021-09-13 15:11] vivekshindhe commented on #154
@sanjeet007 Could you please send the payload you are using? Also, please ensure total_count does not equal to 1.

[2021-09-13 16:07] sanjeet007 commented on #154
final Activity activity = this;

            Checkout checkout = new Checkout();

            try {
                JSONObject options = new JSONObject();
                options.put("name",PRODUCT_NAME));
                options.put("description", PRODUCT_NAME));
                options.put("image", "jpg");
                if (orderID != null && !isPlanMode) {
                    options.put("ord

[2021-09-13 16:08] sanjeet007 commented on #154
What is this total_count key for what we managing and where ?

[2021-09-13 16:15] sanjeet007 commented on #154
and do we need to create a different subscription_id for ever user for same plan ex: like I have one plan and I generate subscripton_id from backend then the plan_id would be same for all user if anyone click I will get subscrption_id that will be same for all or any other thing happening here

[2021-09-16 11:21] aexyn-contact commented on #248
When can we expect this to be fixed? or please advise temporary workaround ?

[2021-09-16 11:22] rnkdsh commented on #248
Just add this is your manifest:

[code]

[2021-09-19 16:19] ansh2166 opened #258 "Error : onPaymentError probably not implemented in your activity"
Kindly help me, I face this error, my code is :

[code]

 class implements PaymentResultWitDataListener, I really need help

[2021-09-19 17:00] vivekshindhe commented on #258
@ansh2166 it looks like you haven't implemented the PaymentResultListener in the activity. Please refer to the activity class in the repo.

Focus on the line

public class MainActivity extends Activity implements PaymentResultListener

Adding the implements PaymentResultListener to the activity should resolve this error for you.

[2021-09-19 17:03] vivekshindhe commented on #258
@ansh2166 app/src/main/java/com/razorpay/sampleapp/java/PaymentActivity.java

Line 70

[2021-09-20 05:13] Ankit0080 opened #260 "Refund Process"
What do i need to do in order to have razorpay refund api in mobile app..?

[2021-09-20 10:48] sahujaunpuri commented on #257
`-keepclassmembers class * {
    @android.webkit.JavascriptInterface <methods>;
     }
     -keepattributes JavascriptInterface
    -keepattributes *Annotation*
    -dontwarn com.razorpay.**
    -keep class com.razorpay.** {*;}
    -optimizations !method/inlining/*
     -keepclasseswithmembers class * {
     public void onPayment*(...);
     }`

[2021-09-20 10:54] vivekshindhe commented on #257
@sahujaunpuri can you enable logging and check if you are getting some logs there? We'll be able to identify the issue and resolve it sooner that way.

[2021-09-20 10:59] sahujaunpuri commented on #257
Sir how will logging be enabled in release ver? give some guidance please

[2021-09-20 11:02] vivekshindhe commented on #257
@sahujaunpuri Sirji, in build.gradle you should find the build variant release. In that, you can type
`debuggable true`.
This should enable logging even in release mode.

[2021-09-20 11:04] sahujaunpuri commented on #257
`buildTypes {
        debug {
            minifyEnabled false
            debuggable true
        }
        release {
            minifyEnabled true
            debuggable false
            proguardFile 'proguard-project.txt'
        }
        }`

[2021-09-20 11:14] vivekshindhe commented on #257
@sahujaunpuri Yes

[2021-09-20 17:29] sahujaunpuri commented on #257
Logs are as

2021-09-20 22:52:47.696 30861-30861/my-package-name W/System.err:     at android.util.Base64.decode(Base64.java:163)
2021-09-20 22:52:47.696 30861-30861/my-package-name W/System.err:     at android.util.Base64.decode(Base64.java:138)
2021-09-20 22:52:47.696 30861-30861/my-package-name W/System.err:     at com.razorpay.v.d(SourceFile:174)
2021-09-20 22:52:47.696 30861-30861/my-package-

[2021-09-21 03:20] vivekshindhe commented on #257
@sahujaunpuri Is this all of the logs? The error you are seeing Webview JS Error and Uncaught TypeError, these are not fatal. If there are more than that, would like to see it. Also, would like an apk to test it on our end. You can minify and shrink it. We just want to see this happening. If that is possible you can mail it to me(vivek.shindhe@razorpay.com).

[2021-09-21 03:49] vivekshindhe commented on #258
@ansh2166 Let me know if this resolved the issue for you

[2021-09-21 05:41] ansh2166 commented on #258
@vivekagarwal1984 I added PaymentResultListener but still error comes

[2021-09-21 06:01] vivekshindhe commented on #258
Can you share the whole file where you are doing this? If privacy is a concern you can mail it to vivek.shindhe@razorpay.com.

[2021-09-21 07:29] sahujaunpuri commented on #257
i has sent you

[2021-09-21 09:15] ansh2166 commented on #258
Actually, its not privacy concern, but maybe u wont understand it, as I am working on a task to make Razorpay Be Usable and implementable with MIT Appinventor (Ai2.appinventor.mit.edu) , so anyone can implement razorpay in apps without any knowledge to code, well, Overall its Java code only but, its bit different from one we used generally,

[2021-09-21 09:20] ansh2166 commented on #258
It will be useful for non-coders to implement razorpay in apps if I succeed in this as they will be able to just implement razorpay using a visual programming interface

[2021-09-21 09:51] vivekshindhe commented on #258
I've worked with app inventor. Please send

[2021-09-21 10:54] ansh2166 commented on #258
Nice to know, so ya, my code is as follows

[code]

[2021-09-21 12:20] vivekshindhe commented on #258
@ansh2166 Can you try once with PaymentResultListener? The code seems correct so I don't know what is exactly throwing the error. Also could you please send the compiler error logs that you get when you try to run this?

[2021-09-21 12:21] ansh2166 commented on #258
I tried with PaymentResultListener firstly but, it didnt work too

[2021-09-21 12:29] vivekshindhe commented on #258
Can you send the error message you get? The whole thing?

[2021-09-21 12:48] vivekshindhe commented on #258
Hey @ansh2166 Since this is a hacky way of implementing this, these are unknown waters for us as well.
The PR to use .aar files in the component is ready, you can reference that here,
https://github.com/mit-cml/appinventor-sources/pull/2230
Also, looks like you also have to reference both the classes.jar and the aar file in the UsesLibrary section.
You can have a look at these, threads
https://com

[2021-09-21 12:50] vivekshindhe commented on #257
@sahujaunpuri Have replied you on that. Please look into it and confirm on the queries.

[2021-09-21 13:35] ansh2166 commented on #258
I used it as a component too

[2021-09-21 13:39] ansh2166 commented on #258
I just wonder wy it only displays  onPaymentError probably not implemented in your activity and not onPaymentSuccess, onPaymentSuccess seems successfully implemented

@vivekshindhe i just want to know, if any setPaymentListener like method is available in Sdk, if so, it will be easily implementable

[2021-09-21 14:36] vivekshindhe commented on #258
@ansh2166 I get that sirji. We will add it to the pipeline as well.

[2021-09-21 16:34] #257 closed

[2021-09-27 11:09] sumedht commented on #254
@somesh-basicx We have fixed this issue now & will release it on 30th Sep with the new version of SDK 1.6.13

[2021-09-27 11:14] sumedht commented on #260
@razorpay/techpgintegrations

[2021-09-27 17:00] MohanReddy999 commented on #76
Hi Team
I'm using python-Django. I tried below way but still my payment page shows the editable email and phone number and also pre-fill is not working. The details are getting from the first time when we enter them.
`<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
	var options = {

	// Enter the Key ID generated from the Dashboard
	key: "{{ razorpay_merchant_key }}",

[2021-09-29 03:21] DivyaYadav25 opened #261 "Memory Leak at CheckoutActivity"
====================================
    HEAP ANALYSIS RESULT
    ====================================
    1 APPLICATION LEAKS

    References underlined with "~~~" are likely causes.
    Learn more at https://squ.re/leaks.

    70885 bytes retained by leaking objects
    Signature: 375e9f51146eb3e9984437ce6cec6ce7a0417d9
    ┬───
    │ GC Root: System class
    │
    ├─ java.lang.Thread class

[2021-10-11 13:45] junaidfkhan786 commented on #81
how to hide pay later option

[2021-10-17 14:58] prabhuc94 opened #265 "CheckoutActivity has leaked IntentReceiver"
2021-10-17 20:23 E/ActivityThread: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.CheckoutPresenterImpl$1@161e3f8 that was originally registered here. Are you missing a call to unregisterReceiver()?
    android.app.IntentReceiverLeaked: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.CheckoutPresenterImpl$1@161e3f8 that was originally re

[2021-10-19 16:02] FireAndIce opened #266 "java.lang.RuntimeException: Unable to destroy activity {app.debug/com.razorpay.CheckoutActivity}: java.lang.IllegalArgumentException: Receiver not registered: null"
After a successful transaction using Razorpay, when the flow returns from the CheckoutActivity to the application's MainActivity, the following error is being encountered:

`java.lang.RuntimeException: Unable to destroy activity {app.debug/com.razorpay.CheckoutActivity}: java.lang.IllegalArgumentException: Receiver not registered: null
        at android.app.ActivityThread.performDestroyActivity(A

[2021-10-21 04:49] ansh2166 commented on #258
@vivekshindhe any news?

[2021-10-21 07:37] kedia1307 opened #268 "Google's Sms retriever Auto Read otp is not working for cards payment options in RazorPay Please look into this"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Android SDK to make sure your issue has not already been fixed.

## Razorpay SDK Version :
Open `build.gradle`. > Copy `com.razorpay` version here or github URL.

## Android OS Version :
Any specific android version if this issue is only occuring o

[2021-10-21 11:47] kedia1307 commented on #268
Steps To Reproduce
 select debit card/ credit card option
Enter card credentials and wait for otp
once the otp consent dialog appears click allow
it will not pass otp to the otp field you will have to enter it manually in order to make it work.
I am using sms retriever api from google in my app.

[2021-10-26 07:36] jacob-abe opened #269 "Android 12 as target not buildable due to manifest merge issues"
"Merging Errors: Error: android:exported needs to be explicitly specified for . Apps targeting Android 12 and higher are required to specify an explicit value for android:exported when the corresponding component has an intent filter defined."

The razorpay library uses an intent filter in its activities and android:export="false" must be set explicitly in order for gradle to build and apps to be

[2021-11-02 22:54] vivekshindhe commented on #266
@FireAndIce  this has been resolved in version 1.6.15. Please use that. Thank you for your patience. Closing the ticket

[2021-11-02 22:54] #266 closed

[2021-11-03 06:42] vivekshindhe commented on #265
@prabhuc94 This has been resolved in version 1.6.15. Please update to this one. This was not an error. Just the receiver for SMS_RETREIVER_API. Hence would not block flow. Thank you.

[2021-11-03 06:42] #265 closed

[2021-11-03 06:43] vivekshindhe commented on #261
@DivyaYadav25 @kedia1307 The issue has been fixed with version 1.6.15. Please update to the same. Closing this ticket. Please feel free to open another one or add another comment here.

[2021-11-03 06:43] #261 closed

[2021-11-03 06:46] vivekshindhe commented on #260
Closing the ticket due to inactivity. @Ankit0080 please feel free to reply here or open another ticket. You can also create a ticket/raise a query directly from dashboard. Thank you.

[2021-11-03 06:46] #260 closed

[2021-11-03 06:46] vivekshindhe commented on #258
@ansh2166 Not yet. Will keep you updated on the same.

[2021-11-03 06:48] vivekshindhe commented on #254
@somesh-basicx The issue has been resolved. Please use the version 1.6.15 for the same. Thank you for your patience. Closing the ticket now.

[2021-11-03 06:48] #254 closed

[2021-11-03 06:49] vivekshindhe commented on #253
@abhinavsuthar This issue has been resolved in version 1.6.15. Please update to the same. Closing the ticket now. Please feel free to add another comment here or create another one in case of another query. Thank you.

[2021-11-03 06:49] #253 closed

[2021-11-03 06:50] vivekshindhe commented on #232
@vetriselvi-i2i closing the ticket due to inactivity. Please feel free to raise another issue or comment here for more support. Thank you.

[2021-11-03 06:50] #232 closed

[2021-11-03 06:51] vivekshindhe commented on #269
We will be updating the next version with android 12 support. Thank you for your patience. Will comment here once done.

[2021-11-03 06:52] vetriselvi-i2i commented on #232
@vivekshindhe I've dropped a mail as you mentioned above. I also send follow-up mail. but I didn't receive any update from you.

[2021-11-03 07:42] vivekshindhe commented on #232
Due to not being able to reproduce this on our end after several attempts we left this as intermittent and localized. In any occasion please update to version 1.6.15 and check. It should be resolved.thank you

[2021-11-07 17:19] abhinavsuthar commented on #253
Thanks @vivekshindhe, will check and update here.

[2021-11-08 04:58] vetriselvi-i2i commented on #232
Ok Thanks. Will check with the latest update.

[2021-11-17 09:40] mj8894 commented on #269
@vivekshindhe: Any updates on this?

[2021-11-19 19:51] sumit2607 commented on #269
Merging Errors: Error: android:exported needs to be explicitly specified for . Apps targeting Android 12 and higher are required to specify an explicit value for android:exported when the corresponding component has an intent filter defined."

[2021-11-23 08:51] SumeetMoray opened #273 "Error when building app for Android 12"
## Description

I have integrated razorpay checkout library in my android app **implementation 'com.razorpay:checkout:1.6.15'**

The app fails to build when i upgraded the compile SDK version to 31 which is Android 12 .
There is an error which occurs at Manifest Merger.

The error occurs only due to RazorPay dependency and No other dependency. This is verified because error goes away
when RazorPay

[2021-11-23 08:52] SumeetMoray commented on #248
Yes i am facing the same issue ... please fix soon !

[2021-11-23 08:54] SumeetMoray commented on #248
Yes there is a temporary work around ... Goto Manifest then click Merged Manifest ... find RazorPay library - this will open razorpay manifest and manually add exported tag in the razorpay manifest.

But you need to do it everytime you restart your android studio. This is not a permanent solution !

[2021-11-23 08:56] SumeetMoray commented on #269
Guys there is a temporary work around ... Goto Manifest then click Merged Manifest ... find RazorPay library - this will open razorpay manifest and manually add exported tag in the razorpay manifest.

But you need to do it everytime you restart your android studio. This is not a permanent solution !

[2021-11-25 05:45] SumeetMoray commented on #248
This is such a simple issue ... but you guys havent fixed it even after 4 months ... Very Lazy !

[2021-11-25 05:47] SumeetMoray commented on #248
Hello ... This is such a simple issue ... which will not take more than 10 minutes to fix ... why it is taking so many months to fix it !
We are really wasting lot of extra time because of this small issue ... Please fix it !

[2021-11-25 05:49] SumeetMoray commented on #269
This is such a small issue which can  be fixed easily ... so much developer time is getting wasted due to  this bug ...
Please fix it Soon !

[2021-11-26 05:35] FireAndIce opened #274 "onPaymentError() always called after payment amount is successfully deducted in Android app release build variant"
## Description

In the release build variant, the onPaymentError() is always being called, even after the payment amount is successfully deducted.

On investigating the arguments in the onPaymentError(), the following response is being received from Razorpay.

Response in onPaymentError():

[code]

I have also checked the checkout options. They are as below:
[code]

What could be causing the issue

[2021-11-29 16:26] ramya12345 commented on #274
As per the Important Notes  mentioned in docs here>>>>>  https://razorpay.com/docs/payment-gateway/android-integration/standard/
![razorpayissue](https://user-images.githubusercontent.com/18005152/143905183-fbaa966d-ebd4-4799-b5e7-2b2ee294b656.png)

   According to PCI regulations, payment processing is not allowed on TLS v1. Hence, if the device does not have TLS v1.1 or TLS v1.2, the SDK will th

[2021-11-29 16:32] ramya12345 commented on #268
Its mentioned in the Important Notes of docs>>>>>  https://razorpay.com/docs/payment-gateway/android-integration/standard/
  that
Due to the changes in the Google Play Developer policy, we have removed auto-read SMS feature from Razorpay Android Standard SDK versions 1.5.1 and higher. However, if your Android app already has permission to read SMS, then Razorpay will auto-read it.
If you are using

[2021-11-29 17:16] FireAndIce commented on #274
Starting API Level 20+, TLS is enabled by default. So that should not be the issue. https://developer.android.com/reference/javax/net/ssl/SSLSocket

[2021-12-01 06:57] FireAndIce commented on #274
The logs of an entire transaction done on the device can be found here. https://docs.google.com/document/d/1TK1MiKcrU4FzSk_utJ_eWZnv8acOtScmwk94lLw6J70/edit?usp=sharing

In the crash logs I have highlighted few items that could be of relevance. Please look at that too.

Configuration used for the transaction:
1. Android hardware device
2. Razorpay Live Mode
3. GPay used for the transaction
4. Andr

[2021-12-02 11:55] arshi7852 opened #275 "Illegal argument exception it comes when we return from other wallet after successfull transaction and activityt will crashed."
## Description
i select product go for payment using razorpay then select pay by phonepe wallet paid successfully then come back to app. then the activity has been crashed and order not placed but payment deducted by account. this s occur many time.
This is very serious issue customer get irritated if payment is deducted from wallet and order not placed.

## Razorpay SDK Version :
    implementati

[2021-12-02 12:05] arshi7852 commented on #275
Plzzz solve this issue as soon as possible.
App is on live mode.

[2021-12-04 14:29] SaurabhPurohit20 commented on #248
Fix this issue as soon as possible...

[2021-12-05 00:55] Vicky19r commented on #275
Facing the same issue, it would be better if you make it a standard step part of your release process to test thoroughly all types of payments once before releasing a new version on your website?

[2021-12-06 03:17] arshi7852 commented on #275
ok but how to resolve this issue ??
@Vicky19r plzz give me some suggestion.

[2021-12-06 21:06] Vicky19r commented on #275
@arshi7852 i don't know how to fix this. This is the razorpay checkout library's issue. We can fix it without editing their library. Better not to upgrade to latest versions in the future immediately unless you are a big company and have resources to test it on all types of devices in all possible configurations.

[2021-12-06 21:17] Vicky19r commented on #275
@arshi7852 i guess it is something related to not setting exported=true/false property for the checkout activity in the manifest file that is coming from the razorpay checkout library. Even credit card payments are failing in some devices because of this. I am just guessing. Just create a new project with an empty activity and just add only razor pay checkout library 1.6.15 in the build.gradle fil

[2021-12-07 05:05] vivekshindhe commented on #275
@arshi7852 Could you please send the payload that you are sending to the SDK? Regarding the exported=true/false property that is related to Android 12. And we are making a release for that.

[2021-12-07 05:07] vivekshindhe commented on #275
@arshi7852 Also, if this is affecting a lot of payments, you can reach out to Razorpay to temporarily disable wallets until we figure out why this is happening.

[2021-12-10 03:23] Vicky19r commented on #275
@vivekshindhe first i was on 1.5 something and things started failing, then i had to upgrade all my app so that i can upgrade razorpay plugin to 1.6.15 the latest specified on the site, and now you are saying for new devices we are making a new release. Is there any place where you specified which android versions are compatible with which razorpay checkout library versions?

[2021-12-12 03:42] Vicky19r commented on #275
@vivekshindhe we are getting bad feedback from our customers because your library is failing. How long do you think it will take to get this fixed? Also this time please test all types of payments on all popular old and new devices. Thanks.

[2021-12-13 07:24] vivekshindhe commented on #275
@Vicky19r Appreciate the feedback. Here's my take on it. I don't know why you are mixing two separate things. Support for android 12 has been a bit tricky on our end. Hence the time delay. Second, these issues are generally not reproducible by us. We haven't had this issue happen to us once. And hence the time to resolve it. The logs given by @arshi7852 do tell something and we have made correctio

[2021-12-29 09:32] sunil456 opened #279 "I am facing this error after integration can you please help for resolving this error"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Android SDK to make sure your issue has not already been fixed.

## Razorpay SDK Version :
Open `build.gradle`. > com.razorpay:checkout:1.6.15

## Android OS Version :     compileSdkVersion 30
Any specific android version if this issue is only occu

[2021-12-29 09:32] sunil456 commented on #11
W/System.err: java.lang.IllegalArgumentException: Receiver not registered: com.razorpay.AutoReadOtpHelper@77f1142
        at android.app.LoadedApk.forgetReceiverDispatcher(LoadedApk.java:1429)
        at android.app.ContextImpl.unregisterReceiver(ContextImpl.java:1543)
        at android.content.ContextWrapper.unregisterReceiver(ContextWrapper.java:664)
        at com.razorpay.CheckoutPresenterImp

[2021-12-30 06:02] vivekshindhe commented on #11
@sunil456 this has been fixed in version 1.6.15. Please update and check.

[2022-01-05 15:03] AsianKungFu commented on #258
If anyone is still getting the error after implementing PaymentResultListener, you're probably starting the razorpay payment inside a fragment.

The documentation notes that "If you are calling the payment start method from inside a fragment, ensure that the fragment's parent activity implements the PaymentResultListener".

Try implementing PaymentResultListener in the mainactivity that loads your

[2022-01-06 07:21] akashswipe04 opened #281 "I am facing this issue while building (Target SDK is 31)"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Android SDK to make sure your issue has not already been fixed.

## Razorpay SDK Version :
Open `build.gradle`. > Copy `com.razorpay` version here or github URL.

## Android OS Version :
Any specific android version if this issue is only occuring o

[2022-01-06 07:22] #281 closed

[2022-01-06 07:24] akashswipe04 opened #282 "I am facing this issue while building the app (target sdk id 31)"
Razorpay's theme is causing this error in the manifest file. It's not letting me build with the default Checkout Theme of Razorpay.

`java.lang.IllegalStateException: You need to use a Theme.AppCompat theme (or descendant) with this activity.`

[2022-01-06 08:24] vivekshindhe commented on #282
@akashswipe04 You just need to use a theme which is a descendant of Theme.AppCompat for this to work. Or you can use Theme.Material and it's descendants.

[2022-01-06 12:22] AdityaV025 commented on #282
The solution is to override manifest settings of razorpay.

Add below lines in your AndroidManifest.xml file in order to override manifest settings of razorpay.

    <receiver
        android:name="com.razorpay.RzpTokenReceiver"
        android:exported="false">
        <intent-filter>
            <action android:name="rzp.device_token.share" />
        </intent-filter>
    </receiver>

    <activ

[2022-01-06 13:50] GauravCalidig commented on #248
+1

[2022-01-07 03:35] SivakumarPK04867 commented on #269
Same Issue from DDIS Technologies. Please resolve it ASAP.
PFA screenshot FYI.

<img width="1792" alt="Screenshot 2022-01-07 at 9 03 04 AM" src="https://user-images.githubusercontent.com/96518219/148487230-07b74449-a962-4e23-9ac6-a400f8f5ea8d.png">

[2022-01-07 08:27] SumeetMoray commented on #275
You say support for android 12 is quite tricky ... but adding just one tag "android:exported=false" into your manifest is all that is needed for us to use your library in android 12 ...

Is this so much tricky ? Who are you fooling vivek !

[2022-01-10 06:37] vivekshindhe commented on #275
@SumeetMoray sirji, we do have other libraries to take care of too. I understand the problem here and we are resolving it. Never an intention to 'fool' anybody, rather, give a good experience. Thank you for your comment.

[2022-01-10 06:46] SumeetMoray commented on #275
@vivekshindhe have you tried this ? ... it takes less than a minute ...

I have many (more than 50)  libraries as dependencies in the project ... and there is only one library which is showing this problem ... that is RazorPay ... What does that show ?

This issue is pending since 4-6 months ... RazorPay is a big Company ... this isnt the kind of attitude we expect from you guys !

[2022-01-10 06:47] vivekshindhe commented on #275
The release is coming up in a couple of days. We thank you for your patience on the matter.

[2022-01-10 14:01] JibuVarghese opened #283 "java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState onPaymentError/onPaymentSuccess"

[2022-01-10 14:16] #283 closed

[2022-01-10 14:16] JibuVarghese commented on #283
"

[2022-01-11 10:09] pravin-umardand commented on #167
Still having issue

[2022-01-18 03:30] Innocent-Akim commented on #248
<receiver
    android:name="com.razorpay.RzpTokenReceiver"
    android:exported="false">
    <intent-filter>
        <action android:name="rzp.device_token.share" />
    </intent-filter>
</receiver>

<activity
    android:name="com.razorpay.CheckoutActivity"
    android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
    android:exported="true"
    android:theme="@style/CheckoutThem

[2022-01-18 06:15] vivekshindhe commented on #248
Hello all, it's been fixed and released with version 1.6.16. Please update to that. Thank you. Closing the ticket.

[2022-01-18 09:13] SumeetMoray commented on #248
@vivekshindhe This isnt fixed  ...  please put exported tag in receiver also ... then it will be fixed ...

![Screenshot from 2022-01-18 14-41-07](https://user-images.githubusercontent.com/10581266/149906612-df069b6c-9f0c-4848-a990-766e7351b305.png)

[2022-01-18 13:07] rnkdsh commented on #248
Right. It is not fixed yet.

Looks like SDK updated without testing 😄

[2022-01-18 13:10] vivekshindhe commented on #248
Apologies folks, looks like we missed that. Will try to update asap. Thank you for pointing it out.

[2022-01-18 18:44] dipakbari4 commented on #248
Already mentioned on [Official Site](https://razorpay.com/docs/payment-gateway/android-integration/standard/faqs/) to override the above snippets in AndroidManifest.xml

[code]

[2022-01-19 18:16] bsrikanth88 opened #286 "So many error logs"
## Description
Hi, I am seeing so many error logs in my console. Could anybody let me know how to resolve those?

I pasted the complete log. Can someone help to find the exact root cause from the logs.

## Razorpay SDK Version :
'com.razorpay:checkout:1.6.15'

## Android OS Version :
minSdk 21
targetSdk 31

2022-01-19 23:15:48.982 5898-6786/com.plato.education V/FA: Recording user engagement, ms:

[2022-01-23 16:26] mj8894 commented on #269
Everyone Please add the below code in your manifest file which should resolve this issue

`<receiver
    android:name="com.razorpay.RzpTokenReceiver"
    android:exported="false">
    <intent-filter>
        <action android:name="rzp.device_token.share" />
    </intent-filter>
</receiver>

<activity
    android:name="com.razorpay.CheckoutActivity"
    android:configChanges="keyboard|keyboardHidden

[2022-01-23 16:28] mj8894 commented on #269
Please visit this link for the workaround provided by their team:

https://razorpay.com/docs/payment-gateway/android-integration/standard/faqs/

[2022-02-04 12:34] lovepreetSinghElectricpe opened #290 "App crashed on this line **AdvertisingIdUtil.java line 47** **com.razorpay.a_$P$.a**"
## Description

Hi,
I am getting an error on this line **AdvertisingIdUtil.java line 47**  **com.razorpay.a_$P$.a**

Firebase Logs :
Fatal Exception: java.lang.RuntimeException: An error occurred while executing doInBackground()
       at android.os.AsyncTask$4.done(AsyncTask.java:415)
       at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:383)
       at java.util.concurrent.Fu

[2022-02-07 20:39] vivekshindhe commented on #290
@lovepreetSinghElectricpe This has been taken care of in the latest version. Please update and let us know. Thank you

[2022-02-07 20:41] vivekshindhe commented on #286
@bsrikanth88 We are looking into this. Logs are particularly necessary because of all the options that we have that can be sent to the SDK and if it's something the user can handle, it'll save their time. We'll try to reduce it to the bare minimum in the coming versions. Thanks for pointing this out to us.

[2022-02-07 20:41] #286 closed

[2022-02-09 13:09] lovepreetSinghElectricpe commented on #290
Looks like it has been solved with the update.

[2022-02-09 13:09] #290 closed

[2022-02-11 09:13] rohitsharma-bmf commented on #185
I am still facing this issue, any help

[2022-02-11 14:39] vivekshindhe commented on #185
@rohitsharma-bmf  can you specify which version you are using?

[2022-02-14 05:57] vivekshindhe commented on #282
The additional AndroidManifest.xml details that was needed to be added before is not necessary now with the latest version 1.6.17. Please update to that. Let us know if there's anything we can help you with. Closing the ticket for now. Please feel free to reopen or add a comment here for further assistance

[2022-02-14 05:57] #282 closed

[2022-02-14 05:58] vivekshindhe commented on #279
@sunil456 Please update to the latest version. 1.6.17. It's available on Maven Repository. Thank you. Closing this ticket for now.

[2022-02-14 05:58] #279 closed

[2022-02-14 05:59] vivekshindhe commented on #275
Hello everyone, the SDK has been updated. For support for android 32. Please update to version 1.6.17. Thank you. closing this ticket.

[2022-02-14 05:59] #275 closed

[2022-02-14 06:06] vivekshindhe commented on #273
@SumeetMoray This has been resolved in v1.6.17. Closing the ticket.

[2022-02-14 06:06] #273 closed

[2022-02-14 06:07] vivekshindhe commented on #269
Hi all, this issue has been resolved in v1.6.17. Please update to the same. Closing the ticket.

[2022-02-14 06:07] #269 closed

[2022-02-14 06:08] vivekshindhe commented on #248
This has been updated in v1.6.17. Please update to that. Closing the ticket for now. Thank you for your patience

[2022-02-14 06:08] #248 closed

[2022-02-21 12:00] triosoftteam opened #293 "exception when release application"
Fatal Exception: java.lang.RuntimeException
Unable to start activity ComponentInfo{in.triosoft.freschopsbar/com.razorpay.CheckoutActivity}: java.lang.IllegalArgumentException: Unknown color

[2022-02-24 09:25] ppv94 commented on #81
How to hide pay later option
[code]
This doesn't work

[2022-03-01 06:02] nirmalswmnthn commented on #258
Hi Razorpay Team,

[2022-03-01 06:09] nirmalswmnthn commented on #258
Hi Razorpay, as per docs implementation is 'com.razorpay:checkout:1.6.17' but I'm able to use only 'com.razorpay:checkout:1.6.10'. Android studio also says 1.6.10 is the recent updated version.

![razorpay_version_issue](https://user-images.githubusercontent.com/72009676/156114542-32f2c9e7-7feb-4fa0-8f27-547eeb4a9921.jpeg)

[2022-03-01 06:12] nirmalswmnthn commented on #258
Hi Razorpay, the latest version supported in android is 'com.razorpay:checkout:1.6.10' BUT as per docs it says 'com.razorpay:checkout:1.6.17'. I'm unable to implement 'com.razorpay:checkout:1.6.17', Please can you clarify this.

![razorpay_version_issue](https://user-images.githubusercontent.com/72009676/156114968-1120b063-c683-48b1-b5a4-9356cda33a48.jpeg)

[2022-03-01 06:18] vivekshindhe commented on #258
@nirmalswmnthn yeah, so it doesn't work every time for some reason. You can check [https://mvnrepository.com/artifact/com.razorpay/checkout]( Maven) for the latest version

[2022-03-01 07:25] nirmalswmnthn commented on #258
I've downloaded .aar library and included it. Now Andorid Studio is recognizing the library BUT on running its throwing 'Could not resolve project error'.

![image](https://user-images.githubusercontent.com/72009676/156123836-32a96f26-f625-4674-847f-1906f0105f5d.png)

[2022-03-01 07:32] vivekshindhe commented on #258
@nirmalswmnthn you don't need to do that. Invalidate caches and restart android studio and it the dependency error will be resolved. Using the aar file manually is something we wouldn't recommend. Also there are internal dependencies that the SDK uses that are included in the POM file.

[2022-03-01 07:36] nirmalswmnthn commented on #258
Yes even I dont want to use aar file, but direct implementation

 implement 'com.razorpay:checkout:1.6.17' ---> is not working

none of the razorpay classes like Checkout can be used. How to implement --> 'com.razorpay:checkout:1.6.17'. Pls help,

[2022-03-01 07:37] vivekshindhe commented on #258
@nirmalswmnthn did you invalidate the cache and restart android studio?

[2022-03-01 07:48] nirmalswmnthn commented on #258
Yes, now its working. Thanks.

[2022-03-01 08:16] nirmalswmnthn commented on #258
Just a suggestion, please update sample app with latest version, so that we can verify it with a working code.

[2022-03-01 08:17] #258 closed

[2022-03-05 05:15] sagarrawal9769 commented on #258
hey i have to implement the payment in a fragment what can i do for that , idw to implement payment in activity in any chance

[2022-03-07 05:39] vivekshindhe commented on #293
This has been fixed in version 1.6.18. Please update. Feel free to create another issue if necessary. Thank you

[2022-03-07 05:39] #293 closed

[2022-03-08 15:01] rahulsharma0657 commented on #210
You can try to implement the razor pay in activity and then get the call back in the fragment.

[2022-03-10 09:38] deepak9166 opened #297 "Razarpay flutter web issue, first time payment working fine, second time make payment showing issue"
`razorpay Your payment has beed declined as the order is invalid. To pay successfully try initiating the payment again from merchant checkout`

## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Android SDK to make sure your issue has not already been fixed.

## Razorpay SDK Version :
Open `build.g

[2022-03-10 11:08] vivekshindhe commented on #297
@deepak9166 The order_id being passed must be invalid. Hence the error message. Please change that and it should be fine.

[2022-03-10 13:44] vrone23 opened #298 "Android 12 Manifest Merger Failed"
Android 12 Running App shows error Manifest merger failed : android: exported needs to be explicitly specified for <activity>. Apps targeting Android 12 and higher are required to specify an explicit value for `android: exported` when the corresponding component has an intent filter defined. See https://developer.android.com/guide/topics/manifest/activity-element#exported for details.

I'm an Andr

[2022-03-10 14:43] vivekshindhe commented on #298
@vrone23 this has been handled in version 1.6.18. Please update to that version.

[2022-03-19 15:55] #297 closed

[2022-03-19 16:01] deepak9166 commented on #297
`class Webpayment extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    final currentTime = DateTime.now();
    final PaymentProvider paymentProvider = Provider.of(context, listen: false);
    print("############# WEB VIEW SHOWINHG ###############");
    var data = paymentProvider.razorpayDetails;
    if (kIsWeb) {
      ui.platformViewRegistry.registerViewFactory("rzp-h

[2022-03-19 17:18] MayurDokras commented on #136
what is the relevance of the app icon with this error? if you don't mind please explain

[2022-03-21 08:25] hirenpatel868 commented on #178
Which method need to rename ? can you please share some more details on this solution

[2022-03-30 11:37] brij21141 commented on #258
Thanks your approach worked
thanks again

[2022-04-06 20:07] KrishanMac opened #301 "How do you programmatically disable selected payment options for android application"
This is the code I wrote to disable some of the payment options , but it seems to be not working . I show a JSON structure so I gave it a try . But , it seems to be not working . Is there an easier way to disable those given payment options programmatically for android app . This is my first time implementing Razor gateway so I'm a little confused. Thanks in advanced.
[code]

[2022-04-07 07:03] vivekshindhe commented on #301
@KrishanMac You can use config options to set those things. Attaching the doc here, [link](https://razorpay.com/docs/payments/payment-gateway/web-integration/standard/configure-payment-methods/display-configuration/)

[2022-04-07 07:03] #298 closed

[2022-04-07 07:04] vivekshindhe commented on #268
@kedia1307 yes. We saw this. Working on a fix. Will update it in the coming versions. Thank you

[2022-04-07 07:04] #268 closed

[2022-04-07 08:44] KrishanMac commented on #301
isn't that for web- integration , I need to it android-integration . I have read it and try some JSON format it doesn't seems to be working .

[2022-04-07 08:46] vivekshindhe commented on #301
It also works for android. You have to position the objects correctly. You can look at the js example in the doc.

[2022-04-08 18:07] KrishanMac commented on #81
how do I put in android . Should I put it inside a JSONObject if so then how , can you please explain it . I want to disable some payment options like PayLater , EMI etc from the CheckOut UI . Since its my first time implementing it I'm kind of confused and the doc. is not clear as well for me . So can you please help it out .

[2022-04-08 18:37] KrishanMac commented on #301
I have read of doc. available and its still confusing . Why do we need JS is there JSON way do doing it like I wrote in the above code. Its my first time implementing Razor so im still loss .

[2022-04-08 22:11] vivekshindhe commented on #301
@KrishanMac you can convert the json object in the js example to jsonobject for java.

[2022-04-19 16:16] KrishanMac commented on #301
[code]
**And this is the output JSON String structure :**

The wallet and paylater are gone from the payment options but still the emi option there . Is this a bug or did i do anything wrong . Thanks in advanced.

[2022-04-21 22:27] faultydevil23 opened #304 "OnTransferSuccess Method Throwing Exception"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Android SDK to make sure your issue has not already been fixed.

## Razorpay SDK Version :
Open `build.gradle`. > Copy `com.razorpay` version here or github URL.

## Android OS Version :
Any specific android version if this issue is only occuring o

[2022-04-27 04:58] msoni-oyo opened #305 "Facing - Fatal Exception: java.lang.ExceptionInInitializerError while initializing the Razor pay SDK"
## Description

Some of the user are getting "ExceptionInInitializerError" while making payment through our app. The instances of the crash are spotted on crashlytics.

## Razorpay SDK Version :
Open `build.gradle`. >  razorpay-android-3.6.0.aar

## Android OS Version :
The issue is coming on 10, 11, 12

### What you did:

We have used the Razor pay sdk for making payment in our app. As we observe

[2022-04-27 06:19] vivekshindhe commented on #305
@msoni-oyo 3.6.0 is wayy too old. Can you please update to 3.9.9? This has been moved to maven. And test with that once.

[2022-04-27 11:31] msoni-oyo commented on #305
@vivekshindhe Thanks for an update let me use SDK version 3.9.9. Hope it is a stable version.
If possible pls share a migration doc with me.

[2022-04-27 12:51] msoni-oyo commented on #305
Can you pls share me the link to get the latest SDK?

[2022-04-27 13:17] msoni-oyo commented on #305
@vivekshindhe  Can you pls share the link to .aar version 3.9.9

[2022-04-27 13:19] vivekshindhe commented on #305
@msoni-oyo  we've changed the implementation to maven now. You can find it on maven now. https://razorpay.com/docs/payments/payment-gateway/android-integration/custom/

Doc link

[2022-05-16 12:06] kdsoni11 opened #308 "Not compatible for android 12"
**Exported Element issue**
Please add exported element in intent filter activity menifest file
I am not able to build application in latest adroid sdk without  this element
Please update with newer version

**Older version 'com.razorpay:checkout:1.6.12'**

[2022-05-16 12:53] vivekshindhe commented on #308
@kdsoni11 tested it with SDK 32. Seems to be working fine in version 1.6.20(latest)

[2022-05-17 05:23] #308 closed

[2022-05-27 10:43] ArunM03 commented on #274
Again the same error appearing, How to solve this ? I'm using 1.6.21. Money deducted successfully but onPaymentError Method called after payment.
I am using razorpay for the past one year to most of my clients. I checked in their apps as well the same error showing, Please fix this asap.

[2022-05-31 10:22] Deepakkast opened #312 "upi intent transaction are not enabled for the merchant in checkout"
hi

team i m facing "upi intent transaction are not enabled for the merchant" this issue when i tried to do payment via upi in prefferd transaction

[2022-06-06 05:38] Deepakkast commented on #312
hi @razorpay team any update on this

[2022-06-24 06:04] vivekshindhe commented on #305
Closing ticket due to inactivity. Hope the issue was resolved for you. Comment here to reopen or create another ticket for further queries. Thank you

[2022-06-24 06:04] #305 closed

[2022-06-30 13:39] garghimanshu0786 opened #317 "Crash in receiving broadcast intent in com.razorpay.AutoReadOtpHelper"
## Description
Crash in receiving broadcast intent in com.razorpay.AutoReadOtpHelper

According to the details in this issue - https://github.com/razorpay/razorpay-android-sample-app/issues/268

The auto read functionality is removed from razorpay but the same is available with devices already having the required permission. The issue might be for devices already having a previous version of appli

[2022-07-06 07:33] Ashok-Rupeek opened #318 "Fatal Exception: java.lang.NoSuchFieldError No static field activity_result_invalid_parameters of type I in class Lcom/razorpay/R$string; or its superclasses (declaration of 'com.razorpay.R$string' appears in base.apk!classes3.dex)"
## Description
The below crash occur in v1.6.15
I found that this issue has been fixed in 1.6.10, but still this occur in above version. can you look into this issue
[refer here ](https://github.com/razorpay/razorpay-android-sample-app/issues/247)

[code]
## Razorpay SDK Version :
happens in `com.razorpay:checkout:1.6.15`

[2022-07-06 11:59] vivekshindhe commented on #318
@Ashok-Rupeek can you please update to the latest version which is 1.6.22 and check with that?

[2022-07-07 05:15] yash13902 commented on #167
same even I am having this issue...

[2022-07-07 09:17] VosoUser commented on #258
3----No appropriate payment method found.
why this code and meaning of massage

[2022-07-07 11:52] arpitnnd opened #319 "java.lang.NullPointerException: null cannot be cast to non-null type kotlin.Boolean"
## Description
Getting an NPE a few seconds after every checkout open().

compileSdk 33
targetSdk 33
minSdk 23
Kotlin 1.7.0
androidx.appcompat:appcompat:1.4.2
com.google.android.material:material:1.6.1

## Razorpay SDK Version :
com.razorpay:checkout:1.6.22

## Android OS Version :
Android 12L

### What you did:
Set up a payment & initiate it.

### What happened:
[code]

## Steps To Reproduce
1. C

[2022-07-07 12:59] Er-Sikandar commented on #167
same even I am having this issue...

[2022-07-15 10:54] chiragpatel92 commented on #319
I am facing the same issue. any update here?

[2022-07-20 12:21] tusharquantsapp opened #320 "Android App is Crashing while using implementation 'com.razorpay:checkout:1.6.22'"
We have implemented your latest dependency in our Android App
" 'implementation 'com. razorpay:checkout:1.6.22' " **and after that, we are facing the following a crash above android 12**

OpinionatedSoln.kt line 99
com.razorpay.OpinionatedSoln.showDialog

Fatal Exception: java.lang.NullPointerException
null cannot be cast to non-null type kotlin.Boolean
java.util.Objects.requireNonNull (Objects.ja

[2022-07-20 12:23] tusharquantsapp commented on #319
I am facing the same issue. even my live application is Crashing .

[2022-07-21 11:03] vivekshindhe commented on #320
Fixed in v1.6.23. Thank you for your patience.

[2022-07-21 11:03] #320 closed

[2022-07-21 11:03] vivekshindhe commented on #319
Fixed in v1.6.23. Thank you for your patience.

[2022-07-21 11:03] #319 closed

[2022-08-11 06:27] AyyaTech commented on #167
i am also having same issue

E/com.razorpay.checkout: Webview JS Error: Uncaught TypeError: window.getDeviceDetails is not a function

[2022-08-27 13:08] mgodbole opened #324 "Get rid of white border around logo"
Hi Support,

Is it possible to get rid of the white border around the logo on the checkout screen (by making it transparent perhaps)?
I tried using a bigger image, but still no luck.
Please refer to the attached screenshot for clarity.
Thank you.

<img width="375" alt="Screenshot 2022-08-27 at 18 32 48" src="https://user-images.githubusercontent.com/637593/187031568-ab9cbcc9-96c5-46c2-a0d8-05b9271

[2022-09-01 07:50] adityarout752 opened #325 "Memory leak in checkoutActivity"

[2022-09-02 12:39] #325 closed

[2022-09-02 12:39] adityarout752 commented on #325
no

[2022-09-07 13:10] Ankitathemil commented on #110
Using Razorpay Integration in Android, Every Mode of Payment works except UPI Intent, whenever user selects upi app the app opens with the upi receivers VPA being razorpay@icici after UPI Pin submission the UPI app throws error " Payment Failed due to Technical..." & the customer is thrown back to the source app.
In Razorpay dashboard the failed payment is logged as " User Cancelled" but in realit

[2022-09-26 09:22] longquangpham90 opened #328 "Cancel payment methord Razorpay"
Hi team development!
I have a issue with razorpay v1.6.24
`implementation 'com.razorpay:checkout:1.6.24'`
we cancel payment methord, but app show messesage error
can you help me create function cancel callback edit message or hide message
Thanks!
<img width="435" alt="Screen Shot 2022-09-26 at 16 21 01" src="https://user-images.githubusercontent.com/15273999/192240740-95a37eef-67b2-4242-bcff-222ee

[2022-09-26 09:34] vivekshindhe commented on #328
Is the onPaymentError method wrapped inside a try catch block? If not please add the try catch block and it should work fine. @longquangpham90

[2022-09-27 13:24] longquangpham90 commented on #328
@vivekshindhe yes we have use to with try-catch. But message always show toast. We can't remove message toast its

[2022-09-28 04:28] vivekshindhe commented on #328
That toast message isn't shown if the code is wrapped in a try catch block. That's the error message. @longquangpham90

[2022-10-01 11:57] longquangpham90 commented on #328
oh thanks, we have update all action in try-catch block
That it ok

[2022-10-01 11:57] #328 closed

[2022-10-11 11:36] srbbans commented on #301
resolved the emi option or not ?

[2022-11-30 12:05] dhavalpatel666 opened #333 "I am using 'com.razorpay:checkout:1.6.26'"
I am using 'com.razorpay:checkout:1.6.26' in my android dependencies.

While running the payment scenario for my app, I am getting the below error go to razorpay page

java.lang.NoSuchFieldError: No static field NO_OPTIONS of type Lcom/google/android/gms/common/api/Api$ApiOptions$NoOptions; in class Lcom/google/android/gms/common/api/Api$ApiOptions; or its superclasses (declaration of 'com.google.

[2022-11-30 12:08] dhavalpatel666 commented on #318
I am using 'com.razorpay:checkout:1.6.26' in my android dependencies.

While running the payment scenario for my app, I am getting the below error go to razorpay page

java.lang.NoSuchFieldError: No static field NO_OPTIONS of type Lcom/google/android/gms/common/api/Api$ApiOptions$NoOptions; in class Lcom/google/android/gms/common/api/Api$ApiOptions; or its superclasses (declaration of 'com.google.

[2022-11-30 12:41] vivekshindhe commented on #318
@dhavalpatel666 This isn't reproducible at the moment for me. Is this happening in debug / release build? If the release build, have you added proguard rules there?