[2015-11-12 14:34] droidekas opened #1 "Amount must be integer error:"
Hi,

I am trying to integrate your latest sdk from the downloads page:

I am facing 2 issues:

1. The amount does not appear correctly:
    - I need to multiply by 100 to get a proper denomination
2. No matter what value I enter,I always get Amount should be an integer

[2015-11-12 15:06] droidekas commented on #1
The amount should be lesser than 5 in testing, Figured

[2015-11-12 15:06] #1 closed

[2015-11-12 15:06] shashankmehta commented on #1
Have a look at this [line](https://github.com/razorpay/razorpay-android-sample-app/blob/cc1e9493f1d80f64df13f9936d9fa16f6c75f172/src/main/java/com/razorpay/sampleapp/PaymentActivity.java#L43). The amount is always in "paisa", no matter which API endpoint you use. You can refer to docs for this [here](https://docs.razorpay.com/docs/checkout-form#checkout-fields).

Examples:
- You pass `100`, the cu

[2016-02-17 08:12] goonerDroid opened #5 "onPaymentSuccess and onPaymentFailure callbacks in fragments?"
my current implmentation in fragment is:-

` private void startRazorPayPayment(PassportCardsBean passportCardsBean) {
        final String public_key = "sdfsdfsdfsdf";
        final String PAYMENTLOGOURL = String.valueOf(getResources().getDrawable(R.drawable.footlogo));
        final Checkout co = new Checkout();
        co.setPublicKey(public_key);

        try{

            JSONObject options =

[2016-02-17 10:57] shashankmehta commented on #5
Yes, the `onPaymentSuccess` and `onPaymentError` methods need to be defined in the parent `activity`. The payment start method can be anywhere, as long as you are passing the correct `activity` context. I'll expressly mention this in the documentation too. Sorry for the confusion.

[2016-02-17 10:57] #5 closed

[2016-02-17 11:01] shashankmehta commented on #5
This has been added to the documentation too, available [here](https://docs.razorpay.com/v1/page/android-sdk-v0100). Feel free to reopen this issue in case there's still a problem.

[2016-02-17 11:07] goonerDroid commented on #5
Thanks!Also have some problem regarding theme as well,should i open a new issue or is it cool in this thread?

[2016-02-17 11:15] shashankmehta commented on #5
Going by GitHub guidelines, it should be a new issue, but we can discuss here too :)

As per the mail, you want to use theme color feature in Android SDK, right? This is the code in the mail:
`options.put("theme",new JSONObject("{color: '8f3222b'}")); `

This should be:
`options.put("theme",new JSONObject("{color: '#8f3222'}")); `

The changes:
- The color value should be a valid html color settin

[2016-02-17 11:23] goonerDroid commented on #5
Thanks please ignore the last mail!

[2016-02-17 11:33] shashankmehta commented on #5
Will do :)

[2016-04-10 12:54] thekalinga opened #6 "Support for maven/jcenter repository"
Currently there is no way to include the repository without copying the jar into the project source.

Can u upload the artifact to maven/jcenter, so that we don't need to include it manually in the project (+ our source repo will not be polluted)

Currently, to avoid including the file in the source control

1. I am installing the artifact into the local maven repository using shell

[code]

2. Re

[2016-05-13 07:31] triveous opened #7 "No error message when internet is not connected"
Problem: We've encountered a blank white screen when there are internet connectivity issues after selecting a payment method. It would be better if we could show an error message (highlighting connectivity issues) in some way.

Steps to reproduce
1. Select a payment mechanism (good internet connectivity)
![Selecting payment method](http://s32.postimg.org/hlyyz2tj9/Screenshot_20160513_124434.png)
2

[2016-05-13 09:42] shashankmehta commented on #7
@triveous You shouldn't be getting a _blank_ screen. The expected behavior is to call the merchant's `onPaymentError` method. So the control should be back to your activity. Is a view attached to your activity?

In any case, I get that it is kind of sub-optimal to have the merchant handle something like an internet related error. It's just that this kind of scenarios were rare, and we have never r

[2016-06-08 11:27] shishram opened #9 "Success/Failure not receiving"
I have implemented payment on Fragment, it opens up to get all the details but Success and Failure toast comes like mentioned below respectively

Error: onPaymentSuccess probably not implemented
Error: onPaymentError probably not implemented

Do I have to implement in Activity only?

[2016-06-08 11:29] shashankmehta commented on #9
@shishram Yes, it has to be in the activity only and this is mentioned in the documentation too. Just move these two functions into your fragment's parent activity and it should work.

[2016-06-08 11:30] shashankmehta commented on #9
Feel free to open this issue again in case you are not able to get it to work.

[2016-06-08 11:30] #9 closed

[2016-06-08 11:41] shishram commented on #9
@shashankmehta Thanks, its working! But in documentation it's not that clear that one has to put these two methods in Parent activity if you're using a fragment. Thanks Again.

[2016-06-08 11:44] shashankmehta commented on #9
@shishram We have this callout in the page:

<img width="1076" alt="screen shot 2016-06-08 at 5 12 34 pm" src="https://cloud.githubusercontent.com/assets/1315944/15893283/5111c1d4-2d9c-11e6-8565-77c2b61eb35e.png">

Let me know if you have suggestions on how it can be made more prominent, probably by placing it higher up or calling it out multiple times.

[2016-06-08 11:53] shishram commented on #9
Like you can put few lines regarding implementation in readme file which are mentioned in documentaion of project so one does not have to read all the documentation to get it work. anyway Thanks for your help, really appreciated!

[2016-08-25 08:25] steelrooter commented on #6
We are going to release the next version of our SDK on Maven Central too.

[2016-09-09 07:30] ubarua123 commented on #7
Talking on the topic,
@shashankmehta  you said `onPaymentError` will be called if any issue occurs with the error code.
The error codes as written on the documentation are
![image](https://cloud.githubusercontent.com/assets/8141308/18378842/0b5f6210-768d-11e6-9b12-0473cba0b53a.png)

But I dont see those contants defined anywhere. Am I missing something here?
P.s - I have the lastest jar.

This is

[2016-09-10 06:30] ubarua123 opened #11 "Receiver not registered exception."
[code]

Got this on a live app.

[2016-09-10 07:39] shashankmehta commented on #11
@ubarua123 This is the second report we've got for the same error. After the first report we tried debugging it but so far we've not been able to reproduce the issue. The error comes up if the SMS Broadcast receiver is not registered but the SDK tries to deregister it. However, there doesn't seem to be a a code flow where a receiver could not be registered and SDK would still try to deregister it.

[2016-09-14 09:10] steelrooter commented on #7
@ubarua123 The error codes were not `public` and we apologize for the same. This will be fixed in the upcoming release. For Razorpay SDK v0.13.0, you can use the following values for the error codes:
[code]

[2016-09-19 04:25] androidmads opened #12 "Whose details need to used in JSON OBJECT ?"
Merchant's detail or Customer's Detail

JSONObject options = new JSONObject("{" +
                    "description: 'Demoing Charges'," +
                    "image: 'https://rzp-mobile.s3.amazonaws.com/images/rzp.png'," +
                    "currency: 'INR'}"
            );

            options.put("amount", "100");
            options.put("name", "Razorpay Corp");
            options.put("prefi

[2016-09-19 04:29] captn3m0 commented on #12
These will be the customer details. These details are used to prefill the checkout form, which customer has to fill.

[2016-09-19 04:29] #12 closed

[2016-09-26 17:21] thekalinga opened #15 "Did you guys forgot that you released 0.13.0 already?"
Hello,

There is a new release by you with the same version 0.13.0 as what you have released earlier.

Now
--
https://github.com/razorpay/razorpay-android-sample-app/releases/tag/v0.13.0

26th May
--
https://github.com/razorpay/razorpay-android-sample-app/commit/71e22cd97e907dfeddfc1c60d3aee34ccbe841d9

[2016-09-27 06:32] shashankmehta commented on #15
@thekalinga Nope, we didn't forget. We did change the history of the `master` branch though. But the `v0.13.0` tag is still on the exact same commit and the release hasn't been changed. For some reason GitHub updated the date in the releases ¯\_(ツ)_/¯.

In any case, we are releasing `v1.0.0` which will be the latest version. I have also updated the release log to ensure there's no confusion. Thank

[2016-09-27 06:32] #15 closed

[2016-09-29 06:58] hariramsvnit commented on #6
We have started distributing razorpay sdk by maven central repository. You can
refer our documentation of [v1.0.1](https://docs.razorpay.com/v1/page/android-sdk-v10x) for more info.

[2016-09-29 06:58] #6 closed

[2016-09-29 07:09] hariramsvnit commented on #11
@ubarua123 We have released v1.0.1 of sdk, I would highly recommend you to upgrade razorpay sdk. We have done a pre-emptive fix for this issue also. You can refer documentation from [here](https://docs.razorpay.com/v1/page/android-sdk-v10x)

[2016-10-03 12:14] #11 closed

[2016-10-03 12:15] #7 closed

[2017-02-10 06:16] nareshkatta99 opened #18 "Next button in email field"
After entering correct phone number and email, when I click on next button in key board, either key board should hide, or keyboard button should be "OK". Its annoying to press back button and clicking on payment option.
![device-2017-02-10-113201 edited](https://cloud.githubusercontent.com/assets/7877291/22816192/7b91193a-ef86-11e6-87a1-3b7145059327.png)

[2017-02-16 16:24] milindbableshwar opened #19 "Crash in razorpay sdk"
http://crashes.to/s/d52498350e4

Getting this crash quite frequently.

[2017-02-16 18:03] hariramsvnit commented on #19
@milindbableshwar Thanks for reporting the crash.

We will be releasing an update soon and that will fix this crash also.

[2017-03-07 10:17] hariramsvnit commented on #19
@milindbableshwar This crash has been fixed in [v1.2.1](https://github.com/razorpay/razorpay-android-sample-app/releases/tag/v1.2.1)

[2017-03-07 10:17] #19 closed

[2017-03-15 12:09] gagandeep1984 commented on #18
good catch!

[2017-03-18 06:48] vipulasri opened #21 "Segment Class with ASCII character's causes proguard error"
Razorpay `v1.0.2` and also tested on `v1.2.0` causes the error with Segment Class having ASCII character in class name while applying proguard.

Android gradle version: 2.3.0
Android Studio: 2.3

I am having this error:
`Error:org.gradle.api.UncheckedIOException: java.io.IOException: Failed to read zip file 'app/build/intermediates/transforms/proguard/release/jars/3/1f/main.jar'.`

[2017-03-18 06:52] mb-14 commented on #21
@vipulasri Make sure you're using the latest version of gradle. You can go through this page for instructions on updating gradle: https://developer.android.com/studio/releases/gradle-plugin.html#updating-gradle

[2017-03-18 06:54] vipulasri commented on #21
@mb-14 I tried latest version too.

[2017-03-18 06:56] mb-14 commented on #21
@vipulasri Can you try using v2.2.0 of the Android Plugin for gradle?

[2017-03-18 06:59] vipulasri commented on #21
@mb-14 with Android gradle plugin version `v2.2.0` and `v2.2.3` its working perfectly fine. But the problem is Android Studio 2.3 requires Android gradle plugin version `v2.3.0`. That's why its working.
And to use Android gradle plugin version `v2.2.0` and `v2.2.3`will have to downgrade Android Studio.

[2017-03-18 07:06] mb-14 commented on #21
@vipulasri You don't need to downgrade Android Studio to use `v2.2.3`. You just need to change the plugin version in your `build.gradle` file.
Also, according this [thread](https://code.google.com/p/android/issues/detail?id=221057), the issue with non-ASCII characters should be fixed in the next version of the plugin.

[2017-03-18 07:10] vipulasri commented on #21
@mb-14 I tried that but the thing is downgrading causes crashes with Animated Support Vector Library. And Yes, I read that [thread](https://code.google.com/p/android/issues/detail?id=221057) but I opened this issue so that if the problem lies with the ASCII character within your class name so that you can fix this issue in next release, which will help other people too with same configuration of a

[2017-03-21 15:36] vivekkiran opened #22 "Bug in Razorpay 1.2.1 (class name (com/razorpay/ʼ$iF) does not match path (com/razorpay/��$iF.class))"
<img width="803" alt="screen shot 2017-03-21 at 8 58 26 pm" src="https://cloud.githubusercontent.com/assets/5557539/24155527/1e1cef64-0e7a-11e7-8bb3-a3637bd214d7.png">
<img width="799" alt="screen shot 2017-03-21 at 8 58 06 pm" src="https://cloud.githubusercontent.com/assets/5557539/24155529/1e918644-0e7a-11e7-86d3-3fed3309669d.png">

[2017-03-21 15:41] hariramsvnit commented on #22
Are you using progaurd or dexgaurd? if yes then please add these rules https://docs.razorpay.com/v1/page/android-sdk-v10x#section-proguard-rules

[2017-03-28 12:17] MaheshCapcee opened #23 "success Url"
how to store payment success and failure details in my server

[2017-03-28 12:24] hariramsvnit commented on #23
You need to implement [PaymentResultListner](https://github.com/razorpay/razorpay-android-sample-app/blob/master/app/src/main/java/com/razorpay/sampleapp/PaymentActivity.java#L15) in your activity, when payment is success you will get callback in [onPaymentSucess](https://github.com/razorpay/razorpay-android-sample-app/blob/master/app/src/main/java/com/razorpay/sampleapp/PaymentActivity.java#L73)

[2017-03-28 14:25] #23 closed

[2017-04-01 03:35] sathishsr commented on #21
Is there any solution than downgrading the gradle versions?.It works only if I downgrade my gradle versions. But my other support library depends on it.

[2017-04-03 07:25] mb-14 commented on #21
@sathishsr @vipulasri We use dexguard for obfuscating our library which adds non-ASCII characters to our classes by default.
Will be excluding overriding this default behaviour to exclude non-ASCII characters for the next release.

[2017-04-04 19:13] Naresh-Katta opened #25 "Activity not found com.razorpay.CheckoutActivity, declared in manifest?"
When I tried to use the manifest demo,
I got to following error.

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{myapp.myapp/myapp.myapp.activities.RazorPayActivity}: android.content.ActivityNotFoundException: Unable to find explicit activity class {myapp.myapp/com.razorpay.CheckoutActivity}; have you declared this activity in your AndroidManifest.xml?
       a

[2017-04-06 14:07] hariramsvnit commented on #25
Hi Naresh,

Which version of SDK you have integrated?

[2017-04-06 16:00] Naresh-Katta commented on #25
com.razorpay:checkout:1.2.0
which is in the read me of this repo.

[2017-04-06 16:28] hariramsvnit commented on #25
This issue is unexpected, please provide integration code you have written for Razorpay SDK integration to  support@razorpay.com.

[2017-04-06 16:38] Naresh-Katta commented on #25
public class RazorPayActivity extends AppCompatActivity implements PaymentResultListener {

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        startPayment();
    }

    @Override
    public void onPaymentSuccess(String razorpayPaymentID) {
        Intent intent = new Intent();
        //Toast.makeText(this, "Payment created s

[2017-04-06 16:41] hariramsvnit commented on #25
Oh, Is this issue device specific? Maybe you can clean the project, rebuild and check again on Samsung J Max tab.

[2017-04-06 16:42] Naresh-Katta commented on #25
May be, I have no more devices to test :(

[2017-04-06 16:50] hariramsvnit commented on #25
Okay, just clean the project and check again on Samsung J Max tab. If you still face the issue then clone this sample project and try to run it on Samsung J Max tab. Let me know the result of this, I will look into it.

[2017-04-06 17:56] Naresh-Katta commented on #25
I really don't know whats happening here, but clone is working fine, but my code, even after clean project,  not working. :(

[2017-04-07 15:50] hariramsvnit commented on #25
Okay, Can you please share manifest file code and also which Gradle plugin you are using?

[2017-04-10 15:04] hariramsvnit commented on #21
The issue has been fixed in version [1.3.1](https://github.com/razorpay/razorpay-android-sample-app/releases/tag/v1.3.1) of Checkout SDK.

[2017-04-10 15:04] #21 closed

[2017-05-10 08:15] steelrooter commented on #25
@hariramsvnit Please close this if this issue was resolved on support.

[2017-06-10 10:00] umangce opened #30 "Memory leak in CheckoutActivity"
According to android studio, `com.razorpay.CheckoutActivity` has a memory leak or leaks. You code has been obfuscated. So, I can't find where memory leak has happened.

Can you please look into this? Let me know if you require more information.

Thanks,
Umang Kothari

[2017-06-10 10:17] hariramsvnit commented on #30
@umangce Can you give more information about the approach you followed to detect memory leak?

A general approach to detect memory leak is to use the app and monitor memory uses if you see something unusual take Java Heap dump and analyze the heap dump to find the root cause of the leak. I have followed this approach to verify it a few months back but didn't find any.

[2017-06-10 10:30] umangce commented on #30
I have followed the same way. I have found this leak on Moto G (1st Gen) which runs on Android Lollipop (5.1).

I started payment screen (CheckoutActivity) and just cancelled payment screen. Then after I checked memory monitor, dumped Java Heap and found memory leak. Please check attached screen-shot from Android Studio. Unfortunately, I can't share whole dump file.

![screenshot from 2017-06-10 1

[2017-06-10 11:17] hariramsvnit commented on #30
@umangce In the case of memory leak, multiple objects get created and even if you force run GC, the GC won't be able to collect it. Here I can see multiple objects of few classes but after this stage can you force run GC(you will get the option for this in Android Studio) and compare the dump before running GC and after running GC?

[2017-06-10 11:22] umangce commented on #30
@hariramsvnit I have captured screen-shot after running GC. Otherwise there is no point to dump Java Heap to check memory leak :)

[2017-06-10 11:23] hariramsvnit commented on #30
@umangce Cool, Thanks for reporting the issue, we will look into it.

[2017-06-15 12:45] #25 closed

[2017-06-15 13:21] nareshkatta99 opened #31 "changing to prefix phone number after failure payment."
Hi,
When the user edits the prefix phone number and come backs after failure payment,
The phone number is coming back to prefix phone number only.
My tester is killing me to fix it :)
Prefix phone number is 96525xxxxx, He edited that to 94910xxxxx.
![phone number 1](https://user-images.githubusercontent.com/7877291/27183068-f1e4549a-51fa-11e7-99cf-835aca32efff.jpg)

After he failed the payment,
![

[2017-06-15 13:23] Naresh-Katta opened #32 "Accepting large phone numbers"
Phone number is accepting more than 10 or 12 numbers.

![4449948798711520669-account_id 2](https://user-images.githubusercontent.com/7877291/27183326-dfcb3b92-51fb-11e7-9eda-19799b023c5c.png)

[2017-06-16 05:46] akshaybhalotia commented on #31
@pronav Is this related to the sessions thing?

[2017-06-16 05:50] pronav commented on #31
Thanks for reporting @Naresh-Katta. we'll fix it by monday.

[2017-06-16 05:56] Naresh-Katta commented on #18
Any update?

[2017-06-16 05:56] akshaybhalotia commented on #32
@Naresh-Katta This is the expected behavior, the phone number could be any length upto 15 digits. For more info on phone number schemes, visit <https://en.wikipedia.org/wiki/Telephone_numbering_plan>.

[2017-06-16 05:56] #32 closed

[2017-06-24 08:36] umangce opened #33 "NullPointerException in Checkout screen"
I opened Activity which contains `Checkout.preload(getApplicationContext());` and closed it immediately. Then app got crashed and found following exception from Crashlytics. Can you please look into this issue?

`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.webkit.WebView.setTag(java.lang.Object)' on a null object reference
       at com.razorpay.

[2017-06-27 12:51] AbhinavArora95 commented on #33
@umangce - Can you please share a few details so that we can reproduce the error -

1. On which device were you running the application and which Android OS ?
2. Did you add an code of yours to the application ?
3. How did you close the app - by pressing the back button or force close ?

Any other details so that we can reproduce the error would be really helpful.

[2017-06-28 05:03] umangce commented on #33
1. Moto G5 Plus which runs on Android Nougat 7.0
2. Yes
3. Closed that screen by pressing back button

[2017-06-28 06:52] AbhinavArora95 commented on #33
@umangce - could you please share the details of the code that was added by you ?

[2017-06-28 11:24] umangce commented on #33
I have added `Checkout.preload(getApplicationContext())` in `onCreate()` as per your guidelines. Rest of code in that Activity was my app's logic, nothing fancy. And that code doesn't impact on payment related code.

[2017-06-28 11:55] AbhinavArora95 commented on #33
@umagce - thanks for your help. We have solved the issue and will be updating the sample app soon.

[2017-06-30 12:01] hariramsvnit commented on #33
@umangce We have fixed the crash in [v1.3.4](https://github.com/razorpay/razorpay-android-sample-app/releases/tag/v1.3.4)

[2017-06-30 12:01] #33 closed

[2017-06-30 12:09] umangce commented on #33
Thank You!

[2017-07-17 12:20] hariramsvnit commented on #30
The issue has been fixed in version [1.4.0](https://github.com/razorpay/razorpay-android-sample-app/releases/tag/v1.4.0)

[2017-07-18 12:55] maulik-dodia commented on #9
@shashankmehta Thanks a lot man.

[2017-07-20 10:27] umangce commented on #30
@hariramsvnit I am afraid to say that it still leaks in 1.4.0 :(

[2017-07-20 10:31] hariramsvnit commented on #30
@umangce We have used leakcanary(https://github.com/square/leakcanary) to detect memory leaks and we have fixed all which we have found. If you can point to specific memory leak it will be helpful in understanding which memory leak still persists.

[2017-07-20 10:48] umangce commented on #30
@hariramsvnit I have checked out your demo which you have put on Github. And it has same memory leak.
![screenshot from 2017-07-20 16-12-35](https://user-images.githubusercontent.com/11502033/28413803-8f799036-6d66-11e7-84fa-f32a46eb397e.png)

I have uploaded same memory dump on Google drive. Download from [here](https://drive.google.com/open?id=0B8G1jtqOU3QDZ1RCa2RCRlphQ1k).

Let me know if you r

[2017-07-21 12:37] hariramsvnit commented on #30
@umangce We are able to reproduce same memory leaks, we will look into it and provide the fix for it.

[2017-07-24 11:49] Naresh-Katta commented on #31
Hi there,
any update on this issue?

[2017-08-02 07:38] VISHAKHBHATT opened #36 "add paytm payment gateway."

[2017-08-02 07:42] #22 closed

[2017-08-02 07:47] hariramsvnit commented on #36
Hi,

Paytm wallet is not supported by Razorpay, you need to have direct integration with paytm. If you have direct integration with paytm and want to show it in Razorpay's UI then it's possible you can refer the doc here(https://docs.razorpay.com/v1/page/listing-external-wallets).

[2017-08-02 07:47] #36 closed

[2017-08-19 07:34] mark922 opened #37 "On Button (Pay Now ) Click - window is closing automatically with error : cr_BindingManager: Cannot call determinedVisibility()"

[2017-08-19 08:03] mark922 commented on #37
Solved: My key was incorrect.

[2017-08-19 08:03] #37 closed

[2017-08-31 06:00] sans07 opened #38 "App crashes when attempting to open Checkout page !"
The error is :

java.lang.IllegalAccessError: Illegal class access: 'com.razorpay.Q$$U_' attempting to access 'com.razorpay.Q$$U_$5' (declaration of 'com.razorpay.Q$$U_' appears in /data/data/com.protomake/cache/.    )
                                                                 at com.razorpay.Q$$U_.Q_$2$(:8085)
                                                                 at com.razorpay.

[2017-08-31 06:19] hariramsvnit commented on #38
@sans07 Never faced this crash earlier, what is the frequency of this crash and is there any specific steps to reproduce it?

[2017-08-31 06:27] hariramsvnit commented on #38
@sans07 Also, are you using JAVA8  with jackoptions for lambda function support?

[2017-08-31 06:44] sans07 commented on #38
@hariramsvnit  i have used

compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }

i was using  v1.3.4 earlier and tested it in test credentials it worked perfect but after the release update to 1.4.0 am facing this issue

When i try to pay the checkout page never opens it crashes every time when i try to open !

[2017-08-31 07:24] sans07 commented on #38
@hariramsvnit

This error also found  E/MPlugin: Unsupported class: com.mediatek.common.telephony.IOnlyOwnerSimSupport !

[2017-08-31 07:37] steelrooter opened #39 "Implement new design for sample app"

[2017-08-31 07:41] hariramsvnit commented on #38
@sans07 I have checked in sample app by enabling java8, I am facing same crash in `1.4.0` and `1.3.4` both, java8 is not supported with our SDK right now, we will try to add support for same in the future.

[2017-08-31 07:43] sans07 commented on #38
@hariramsvnit  ok then as of now i won't be able to use SDK if i enable Java8 right ?

[2017-08-31 07:44] hariramsvnit commented on #38
@sans07 Yes, correct.

[2017-09-11 08:51] thekalinga commented on #38
@sans07 Jack is not supported anymore by Android. If you need to use Java8, use 3.0.0-beta5 version of android.

[2017-09-14 13:43] hariramsvnit commented on #30
@umangce It's fixed in version `1.4.1`

[2017-09-14 13:43] #30 closed

[2017-09-16 20:25] idragon81 opened #41 "Crash in Android Oreo"
When Running the app in Android Oreo the app crashes with the following stack trace

[code]

When running on a Nougat Device or emulator, there is no crash, however when running in an Android Oreo Emulator, the issue can be seen

I am using 1.4.0 Version of the library

[2017-09-16 20:38] idragon81 commented on #41
Looks like the issue is because of the adaptive icons introduced in Oreo and because I was using the ic_launcher mipmap.

You should either handle it by properly parsing the background and foreground of the adaptive icon or you should check if the resource type is actually a drawable and check if the drawable is not null before calling the compress method

[2017-11-07 13:35] rohitmedcords opened #42 "Failed to validate the certificate chain, error: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found in self signed certificate giving this error"

[2017-11-08 07:05] hariramsvnit commented on #42
@rohitmedcords Can you please give more context about this issue?

[2017-11-16 08:16] #38 closed

[2017-11-16 08:27] Mayur-Wadpalliwar commented on #42
Resolved over mail. Closing

[2017-11-16 08:27] #42 closed

[2017-11-16 08:36] #39 closed

[2017-11-16 08:58] rohitmedcords commented on #42
Below android version 7.0(Nougat) razor pay is working on self signed certificate.

[2017-11-20 09:10] hariramsvnit commented on #41
@idragon81 Thanks for reporting it, we will fix it soon.

[2017-12-04 08:49] hariramsvnit commented on #41
@idragon81 Not able to reproduce the crash, can you help me with that?
I have tried setting the image by `setImage(R.mipmap.ic_launcher)`, but it's not crashing on Android 8, I have tried it on sample app(https://github.com/razorpay/razorpay-android-sample-app).

[2017-12-21 09:16] hariramsvnit commented on #41
fixed in version `1.4.4`

[2017-12-21 09:16] #41 closed

[2017-12-27 15:42] mark922 opened #44 "Error On Checkout.preload(getApplicationContext()). Shows blank chrome tab ( white screen )"
Checkout Gradle Version : `compile 'com.razorpay:checkout:1.4.4'`

On Activity start I have called `Checkout.preload(getApplicationContext())`. It throws following error :
[code]

And after that when I try to start the payment
[code]

This shows a blank chromium tab (white screen).

Any solution ?

[2017-12-28 05:14] mark922 commented on #44
I guess issue was on the razorpay's checkout page & it has been fixed.

[2017-12-28 05:14] #44 closed

[2018-01-10 06:01] maheshsystimanx opened #46 "Razorpay error case not working"
How to handle error case in razorpay-android-sample-app?
I checked this code success case is working and also show the toast.
But in error case is not showing the toast. Please clarify my doubt.

Razor pay test key: rzp_test_X41hYj0GeeILH9

[2018-01-10 17:01] hariramsvnit commented on #46
@maheshsystimanx
1. If payment is successful, sdk gives callback in `onPaymentSuccess` method.
2. If there is any payment related error we show user option to retry.
3. If user choose to exist razorpay activity by clicking back button or by clicking cancel button on top right, sdk will give error callback in `onPaymentError`.

Do let me know if still have any doubts.

[2018-01-10 17:01] #46 closed

[2018-01-22 11:44] gauravgupta566 opened #47 "API key is invalid"
i have gone through merchant panel and copy security api key and pasted it into manifest file then why I am getting this error, which is correct api key

[2018-01-22 11:49] hariramsvnit commented on #47
@gauravgupta566  You need to put the key id in the manifest, which will start with `rzp_test` or `rzp_live`.

[2018-01-22 11:51] gauravgupta566 commented on #47
how to get that id , I go through merchant panel and i have seen only security key. I have not seen any key which is started by rzp_test or rzp_live

[2018-01-22 12:37] hariramsvnit commented on #47
@gauravgupta566 You can follow these simple steps in this short animation to generate API keys: https://i.imgur.com/ylwYzbC.gif

[2018-01-22 14:51] gauravgupta566 commented on #47
there is no option for setting , now panel is so different

[2018-01-22 14:55] gauravgupta566 commented on #47
http://205.147.110.100:8080/integrationdashboard/
this link is not working ,these link are given by mobikwik

[2018-01-22 14:56] Mayur-Wadpalliwar commented on #47
@gauravgupta566 This is `Razorpay payment gateway` and not `Mobikwik`. Please contact mobikwik for the same.

[2018-01-22 14:56] #47 closed

[2018-01-22 14:59] gauravgupta566 commented on #47
sorry sir,

On Mon, Jan 22, 2018 at 8:26 PM, Mayur Wadpalliwar <notifications@github.com

[2018-02-05 09:59] shubhamrai1993 opened #48 "Activity code listener ambiguity"
Can you please mention in the PaymentActivity that the activity must be the listener as well in order for the checkout flow to work. It's not very obvious.

[2018-02-05 10:03] hariramsvnit commented on #48
@shubhamrai1993 We have mentioned in the [doc](https://docs.razorpay.com/v1/page/android-checkout-sdk-v14x#section-basic-usage) that your activity need to implement `PaymentResultListener` to receive the callbacks.

[2018-02-05 10:03] #48 closed

[2018-02-26 12:07] binkkatal opened #50 "Unable to start activity ComponentInfo{com.rnei.scraptapb2b/com.razorpay.CheckoutActivity}"
Have followed the same example as the sample app and i am getting this error

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.rnei.scraptapb2b/com.razorpay.CheckoutActivity}: java.lang.ArrayIndexOutOfBoundsException: length=39; index=39
                                                                          at android.app.ActivityThread.performLaunchActivity(ActivityThread

[2018-02-26 12:09] binkkatal commented on #50
public class RazorpayPayment extends AppCompatActivity implements PaymentResultListener {

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_razorpay_payment);
        Button button = (Button) findViewById(R.id.pay);
        button.setOnClickListener(new View.OnClickListener() {
            @O

[2018-02-27 04:42] binkkatal commented on #50
@hariramsvnit the crash is persistent .
It always occurs when the button for  payment is pressed.

Does it has anything to do with the gradle configurations and other dependencies ?
As i tried the same code in a freshly created sample app and it worked.

[code]

However , i wonder why is it crashing in the checkout activity ?

[2018-02-27 09:57] hariramsvnit commented on #50
@binkkatal Looks like the issue might be related to some configuration or dependency on your side, Please send build.gradle file to support@razorpay.com and I will look into it.

[2018-02-27 16:25] hariramsvnit commented on #50
@binkkatal Our SDK doesn't support `jackOptions` and Java 8.

[2018-03-03 22:50] neopraveen opened #51 "Get transaction details"
How to pass transaction id and get Transaction details like - Mode of Payment, Transaction ID etc.

[2018-03-05 11:27] AbhinavArora95 commented on #51
Hi, the sdk doesn't have this functionality. You need to do this at your end by making an api call. Please refer to - https://docs.razorpay.com/docs/v1paymentsid

[2018-03-05 11:27] #51 closed

[2018-04-06 07:05] amiyo-biswas commented on #9
Faced same problem!

[2018-04-09 10:39] Suganyasrii commented on #50
For me also am getting the below issue,Please suggest how to resolve this issue?
                                                                   java.lang.RuntimeException: Unable to start activity ComponentInfo{com.app.sample/com.razorpay.CheckoutActivity}: java.lang.RuntimeException: java.io.FileNotFoundException: /data/user/0/com.app.sample/cache: open failed: EISDIR (Is a directory)

[2018-04-09 12:01] hariramsvnit commented on #50
@Suganyasrii We are working on the issue right now, we plan to support Java 8, I will update you soon.

[2018-04-09 12:06] Suganyasrii commented on #50
Hi Hari,
    Thanks for your info, May I know when new version will release?

Regards,

*Suganya M*
Android Developer

*Nextbrain Technologies Pvt Ltd*,
#44, 2nd floor, 1st cross, 2nd main, Prasanth extension, Whitefield,
Bangalore - 560066.
Mobile: +919962828791 |  www.nextbrainitech.com

DISCLAIMER: The information contained in this message (including any
attachments) is confidential and may be

[2018-04-09 12:38] hariramsvnit commented on #50
@Suganyasrii I am working on the issue will release the SDK once the issue is fixed, I am hoping that we will be able to release the SDK by tomorrow EOD.

[2018-04-10 07:05] hariramsvnit commented on #50
@Suganyasrii

I have tried SDK version `1.4.7` while java 8 was enabled in the app and it's working fine. I was facing build error but adding `android.enableD8.desugaring = true` to `gradle.properties` file solved build error form me.

I am using `compileSdkVersion` `27` and gradle version `4.4`.

Note: Here I was using Java 8 provided by Google (https://developer.android.com/studio/write/java8-su

[2018-04-24 13:46] binkkatal commented on #50
@hariramsvnit tried `android.enableD8.desugaring = true` but still no luck .
Are you thinking to support jack options ?

[2018-04-24 13:48] hariramsvnit commented on #50
@binakkatal Sorry, we are not planning to support jack options as it has been deprecated by Google.

[2018-04-24 13:54] Suganyasrii commented on #50
@binkkatal

  Instead of using jack option (android.enableD8.desugaring = true) use this,
app gradle - >apply plugin: 'me.tatarka.retrolambda'
project gradle->  classpath 'me.tatarka:gradle-retrolambda:3.2.3'
i tried its working

 ,

[2018-04-24 14:07] binkkatal commented on #50
@Suganyasrii  i'll try you approach

[2018-05-15 07:00] khemrajsharma opened #54 "Couldn't find outer class com/razorpay/Y_$B$ of com/razorpay/Y_$B$$5"
Exception in thread "main" java.lang.NullPointerException: Couldn't find outer class com/razorpay/Y_$B$ of com/razorpay/Y_$B$$5
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:1079)
	at com.google.devtools.build.android.desugar.ClassVsInterface.isOuterInterface(ClassVsInterface.java:56)
	at com.google.devtools.build.android.desugar.InterfaceDesugaring.visitOuterClass(Inter

[2018-05-16 10:30] VisheshVadhera commented on #54
I too am getting this error after upgrading the AGP to 4.4 from 3.2. Do you guys have any fix for this?

[2018-05-18 07:23] rajivenator opened #55 "Compatibility problems"
[code]

If these are set then the application does not even compile.
Using Android Studio 3.1.2
I tried this on the sample app as well as my existing app.
We need to integrate razor pay with our app but unfortunately the above issue is restricting me.

[2018-06-01 16:50] krishnarama opened #58 "razorpay checkoutActivity crash on Oreo"
we are facing crash issue on Oreo devices suddenly with the below error.

05-31 08:15:18.577 18958-18958/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.smileyserve, PID: 18958
    java.lang.NullPointerException: Attempt to invoke virtual method 'void com.razorpay.RzpAssist.onProgressChanged(int)' on a null object reference
        at com.razorpay.CheckoutActivity$10.onProgressChanged(:

[2018-06-02 05:48] hariramsvnit commented on #58
@krishnarama what's the version of the SDK you are using?

[2018-06-07 13:11] hariramsvnit commented on #55
@rajivenator Can you please try solution suggested here(https://github.com/razorpay/razorpay-android-sample-app/issues/50#issuecomment-379996496)

[2018-06-18 07:29] sachinvelaga opened #60 "checkout form close call"
I have a use case for a kiosk app where if someone abandons the payment after opening checkout form, i have to close the form and exit the payment after an interval.Closing the form manually by clicking the 'x' on the form provides call back to payment error where an error view can be set.

In case of using a countdown timer, if i change the view  after timer finishes, the checkout form still lurk

[2018-06-18 10:11] Mayur-Wadpalliwar commented on #60
Hello @sachinvelaga,

Please try passing an additional param to Razorpay checkout options as `timeout`. The value of this param shall be in seconds.

So for `timeout: 2` checkout will be closed automatically after 2 seconds

[2018-06-18 10:11] #60 closed

[2018-06-19 06:13] loksurya opened #61 "Annoying Update toast"
I am currently using 1.4.7 and when my minSdkVersion is 16, when I tried to update it to 1.4.8, there was an error in gradle sync. It was saying minSdkVersion for razorpay is 19 which I can't change. So I revert back to 1.4.7, now whenever I am making a payment it asks me to update sdk(which I doubt will come in live apk, it may be coming in debug version only). So according to you what should I d

[2018-06-21 09:20] prithvibhola opened #62 "`order_id` creating issue"
When `order_id` is used in JSONObject of options, Razorpay SDK is throwing an error and moves into onPaymentError method

private fun startPayment(orderId: Long, paymentGateway: PaymentGateway) {
        val checkout = Checkout()
        checkout.setImage(R.drawable.lifcare_logo)
        checkout.setFullScreenDisable(true)
        try {
            val options = JSONObject()
            options.pu

[2018-06-21 09:34] Yugalmodi opened #63 "Unable to start activity ComponentInfo{com.example.rozarpay/com.razorpay.CheckoutActivity}: java.lang.StringIndexOutOfBoundsException"
FATAL EXCEPTION: main
                                                                  Process: com.example.rozarpay, PID: 18776
                                                                  java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.rozarpay/com.razorpay.CheckoutActivity}: java.lang.StringIndexOutOfBoundsException: length=3; index=8

[2018-06-21 14:07] yashodhandivakaran commented on #62
@prithvibhola

You need to send an order id which has been created by calling Razorpay API. You can refer our Orders API doc here(https://docs.razorpay.com/page/orders).

[2018-06-21 14:07] #62 closed

[2018-06-22 09:15] hariramsvnit commented on #63
@Yugalmodi Can you please tell frequency of the crash and steps to reproduce the crash?

[2018-06-22 09:17] Yugalmodi commented on #63
Hi @hariramsvnit ,
My problem get resolved after change API key.

[2018-06-22 09:22] hariramsvnit commented on #63
@Yugalmodi Cool.

[2018-06-22 09:22] #63 closed

[2018-06-22 09:33] hariramsvnit commented on #54
@khemrajsharma @VisheshVadhera Can you please try [this](https://github.com/razorpay/razorpay-android-sample-app/issues/50#issuecomment-379996496) solution.

[2018-06-26 16:02] khemrajsharma commented on #54
@VisheshVadhera Yes i have solved this. Please follow the SO link which i answered.
https://stackoverflow.com/questions/50344132/couldnt-find-outer-class-com-razorpay-y-b-of-com-razorpay-y-b5

[2018-06-28 12:29] saisasanksunkavalli opened #64 "How to Close RazorPayActivity in Android"
I am opening the RazorPay Payment Screen using the below code.
`final Checkout co = new Checkout();`
`co.open(activity, options);`

There is no option for me to Close the Payment Screen dynamically in Android, that option is provided in ios using the _.close()_ method.

[2018-07-03 12:16] rajeshshetty opened #65 "Disable logout and Logout from all devices option in payment options page."
How can I disable the menu options(log out and Logout from all devices) in payment options page? Whether it is functional?

[2018-07-03 12:42] rajeshshetty opened #66 "Doesn't take new email passed when initializing checkout object."
The parameter passed when initializing the checkout will be replaced with contact info stored with card's details.

[2018-07-05 05:08] ArvindMewada opened #67 "Library not completely install"
1.  compile project(name: "razorpay-android-3.4.0", ext: 'aar')

-   Required keys [path] are missing from map {name=razorpay-android-3.4.0, ext=aar}.

[2018-07-05 08:51] hariramsvnit commented on #67
@ArvindMewada Please refer this(https://stackoverflow.com/questions/16682847/how-to-manually-include-external-aar-package-using-new-gradle-android-build-syst) link for how to include aar file into the project

[2018-07-05 08:51] #67 closed

[2018-07-09 19:30] joshiashish opened #68 "Android SDK: onPaymentError doesn't provide arguments to extract paymentID"
Just like onPaymentSuccess, is there a way to extract paymentID for onPaymentError? We would like to track it for every failure and map it to a user account in our backend.

[2018-07-09 19:31] hariramsvnit commented on #68
@joshiashish The Android SDK doesn't provide payment id of failed payments, but your backend can fetch it by calling Razorpay API.

[2018-07-09 19:31] #68 closed

[2018-07-16 07:38] Man-of-steel opened #69 "Where to provide the merchant details??"
I just downloaded this into one of my sample android apps, installed to an emulator and ran.
It went smoothly and Rs.1 deducted from the account details provided. Later Razorpay has started a refund process as well.
I hadn't provided merchant details anywhere.
Where to provide the merchant details like key, secret etc...?

[2018-07-18 09:13] RaghavPro opened #70 "Enable TLS 1.2 in Android 4.1"
API Level 16 supports TLS 1.1 and 1.2
https://developer.android.com/reference/javax/net/ssl/SSLContext

Why is the minSDK 19?

[2018-07-24 10:47] imrankhanluhar opened #71 "Paytm Wallet Click"
Paytm  wallet button click is not working after creating Release build in android. Please solve the this problem , we have getting to much business loss .

[2018-07-24 10:53] hariramsvnit commented on #71
@imrankhanluhar We are looking into it.

[2018-07-24 11:33] imrankhanluhar commented on #71
i have looked in some android application they do not redirect to outside the razor pay and does the payment as other wallet like PayZapp , Ola Money .

i have attached one application screenshot they does not redirect to outside and get payment in razor pay sdk

https://user-images.githubusercontent.com/6330249/43135513-4d5ed9c0-8f63-11e8-9e3a-ee5abc0ee0a2.png
https://user-images.githubuserconten

[2018-07-24 12:18] imrankhanluhar commented on #71
Your technical team today say it's not because of us . it's problem due to paytm .
and goes away

[2018-07-24 13:12] hariramsvnit commented on #71
Has the discussion over chat, closing it.

[2018-07-24 13:12] #71 closed

[2018-07-27 07:10] imrankhanluhar commented on #71
hello , this issues is updated or not now can we user paytm now in wallet

[2018-08-02 20:19] TdevM opened #74 "Problem installing the SDK on Android Studio 3.1.3"
Can't install checkout SDK by adding
`implementation('com.razorpay:checkout:1.4.9')` or
`compile('com.razorpay:checkout:1.4.9')` to build.gradle

Fails with `Process 'command 'C:\Program Files\Java\jdk1.8.0_181\bin\java.exe'' finished with non-zero exit value 1`

app details

` compileSdkVersion 27`
    `buildToolsVersion '27.0.3'`
`supportLibraryVersion = '27.1.1'`
`Gradle Version 4.4`
`Android P

[2018-08-03 08:39] hariramsvnit commented on #74
@TdevM Can you provide full error? Also, I hope you are not using jack options.

[2018-08-06 14:13] hariramsvnit commented on #74
@prakhar1001 try adding `android.enableD8.desugaring = true` to `gradle.properties` file

[2018-08-06 14:14] anantshah93 commented on #74
Same issue

[2018-08-06 14:15] hariramsvnit commented on #74
Also have look at https://github.com/razorpay/razorpay-android-sample-app/issues/50, it might help.

[2018-08-08 09:46] anantshah93 commented on #74
android.enableD8.desugaring = true solved issue thanks

[2018-08-08 09:47] #74 closed

[2018-08-09 10:03] imrankhanluhar commented on #71
hi its not update yet

[2018-08-13 06:39] iAmAndroidDeveloper commented on #25
https://api.razorpay.com/v1/payments/:id when pass id its shown error

{"error":{"code":"BAD_REQUEST_ERROR","description":"Please provide your api key for authentication purposes."}}

and every time display login screen , then how to get proper response JSON format?

[2018-08-13 06:50] iAmAndroidDeveloper commented on #51
on https://api.razorpay.com/v1/payments/payment_id  its not working ,

how to get like bellow response ?

{
  "count": 2,
  "entity": "collection",
  "items": [
    {
      "id": "pay_7IZD7aJ2kkmOjk",
      "entity": "payment",
      "amount": 500,
      "currency": "INR",
      "status": "captured",
      "order_id": null,
      "invoice_id": null,
      "international": false,
      "method": "w

[2018-08-13 07:04] Mayur-Wadpalliwar commented on #51
@iAmAndroidDeveloper To get the above response, you need to call https://api.razorpay.com/v1/payments/payment_id  API from a **backend server** once you get the razorpay_payment_id as a response to a successful payment in the onPaymentSuccess handler in android

[2018-08-13 07:38] Mayur-Wadpalliwar commented on #51
@iAmAndroidDeveloper You need to pass the pay_AktITrIGYzKkdp to your Backend server from Android and then use this API
curl -u YOUR_API_KEY:YOUR_API_SECRET \
https://api.razorpay.com/v1/payments/pay_AktITrIGYzKkdp to fetch the details

[2018-08-13 09:07] iAmAndroidDeveloper commented on #51
thanks buddy! you save my days

[2018-08-14 20:38] stonedcoder commented on #66
It's working and able to pass the email and contact but unable to pass the image ...

[2018-08-20 11:48] VisheshVadhera commented on #54
@hariramsvnit Is it possible for you to update the supported version of Java to Java8? The solution suggested in the other post is only a short term fix.

Due to the fact that the razorpay sdk doesn't support Java 8, we are stuck on an older version of the AGP and hence unable to move ahead with times.

[2018-08-22 09:33] hiten commented on #50
@hariramsvnit I tried using android.enableD8.desugaring = true but I don't know why its increasing my build time by 14-15 minutes. With retorlambda I am able to compile my project within 1 minute. I shifted my complete project to kotlin so I am planning to remove retrolambda but I am stuck now.

[2018-08-27 09:39] hariramsvnit commented on #70
@vineetj The payment happens inside a webview, so if you can figure out how to enable TLS 1.1 and 1.2 for the webview then you won't have to increment min API version.

[2018-09-05 12:00] imrankhanluhar commented on #71
hi hariramsvnit , is this problem solved . can we used paytm now

[2018-09-08 11:08] abhinay-w3bminds opened #75 "how to set api key dynamically?"
Normally we are setting api key in manifest but is there any way to set api key dynamically

[2018-09-08 15:09] shashkiranr opened #76 "disable fields when prefilled"
Hi Team,

I would like to know if there is a way to disable the email and phone number fields when pre filled in checkout in android.

version : com.razorpay:checkout:1.4.9

[2018-09-08 15:57] Mayur-Wadpalliwar commented on #75
@abhinay-w3bminds You can use the checkout.setKeyID method. You can ignore the deprecation warning for this method.

[2018-09-08 15:57] #75 closed

[2018-09-08 16:00] Mayur-Wadpalliwar commented on #76
@shashkiranr You can create a json object for “readonly” and put values as below,

email: true
contact: true

[2018-09-08 16:00] #76 closed

[2018-09-11 05:03] shashkiranr commented on #76
Hi Mayur,

Can you kindly update me as to the correct way.

[2018-09-11 10:16] CHIRANJIT1988 opened #77 "Payment stuck on Redmi device while loading bank page"
Hi,
Payment stuck while loading bank page using live credential. Below is the device details and screenshot:

![screenshot_2018-09-05-12-57-33-181_com doconline doconline](https://user-images.githubusercontent.com/15885223/45353832-9e1c8500-b5d9-11e8-9c87-2cca1ef28e92.png)

Device Name - Redmi
Model No - 3S
Android Version 6.0.1MMB29M

[2018-09-11 10:19] Mayur-Wadpalliwar commented on #77
@CHIRANJIT1988 Could you please download our android sample app on that device and try a payment and see if you are able to reproduce the same?

[2018-09-11 10:28] CHIRANJIT1988 commented on #77
@Mayur-Wadpalliwar Yes i have downloaded your SDK and i have tested with both test and live credential on the same device. Issue exists. Screenshot of sample SDK

![screenshot_2018-09-11-15-35-01-636_com razorpay newsampleapp](https://user-images.githubusercontent.com/15885223/45354532-74fcf400-b5db-11e8-8463-4b3c732a751c.png)

[2018-09-11 10:51] shashkiranr commented on #76
Did not work, I am still able to edit the fields

[2018-09-11 11:17] Mayur-Wadpalliwar commented on #76
@shashkiranr The below is working for me,

[code]

[2018-09-14 05:56] CHIRANJIT1988 commented on #77
@Mayur-Wadpalliwar Any update on this issue ? Why this is happening.

[2018-09-14 08:34] Mayur-Wadpalliwar commented on #77
@CHIRANJIT1988 We are trying to re-produce this on a redmi device. Shall keep you posted on the update.

[2018-09-14 09:31] CHIRANJIT1988 commented on #77
@Mayur-Wadpalliwar Thanks for the update. I have found that issue on that specific redmi device only.

[2018-09-14 09:48] AbhinavArora95 commented on #77
@CHIRANJIT1988 We are not able to re-produce this on redmi note devices.

Could you please try this on other latest redmi devices and let us know if the issue still persists there?

[2018-09-18 04:46] SatyajeetRameena opened #78 "Refund"
I have Booked My tickets on IRCTC application through Razorpay Option. According to IRCTC they have transfered amount on 1st of sept. but it is not being credited to my account yet.
kindly look after it.
Transaction ID - 100001420499247
Ticket ID - 1480968
Refund reference no. - rfnd_AsYNiQc3KFtQ5L

[2018-09-19 09:59] sumit007 opened #79 "UPI payment page get blank"
Unable to make payment through UPI in Android app. When Users selects payment option as UPI and proceeds, The page goes blank. [Watch video](https://drive.google.com/file/d/1zCbOf9ZVgj6jCNpnD-OAgafiRJUIEQf2/view?usp=sharing).

Checkout SDK version we are using - v1.4.9 and also tried with v1.4.7

Device with problem

One plus oxygen os
Redmi 2014818 Android Kitkat 4.4.4

[2018-09-24 08:45] beingbalveer opened #80 "Error in installing apk when using java 8"
I am getting following error while installing apk.
.Execution failed for task ':TransformClassesWithDesugerForDebug'.
It is running fine with java version 7 but when i add java version 8, it started to show error.
![screenshot from 2018-09-21 19 22 05](https://user-images.githubusercontent.com/17528535/45943499-2b150480-c004-11e8-9e57-3c8e446462a9.png)

[2018-09-24 11:54] beingbalveer commented on #80
Thanks man , Its Working now.

[2018-09-24 11:54] #80 closed

[2018-10-01 12:03] Dineshchitta opened #81 "How to disable only some payment modes in Razorpay UI"
Hey ,

* I want to show / hide only some payment modes like Netbanking , Wallets etc in Razorpay UI
* And In different payment modes I want to show / hide only some options For ex : I want to Hide paytm in wallet payment mode & I want to show Paytm in UPI mode

First of All Can we configure like this ? If yes how to configure

TIA

[2018-10-01 12:05] Mayur-Wadpalliwar commented on #81
@Dineshchitta You can drop an email to support@razorpay.com asking to disable the payment methods.

Also, Razorpay doesn't support paytm wallet

[2018-10-01 12:05] #81 closed

[2018-10-01 12:16] Dineshchitta commented on #81
Hi @Mayur-Wadpalliwar  Thanks for the reply. Can we do this dynamically ? For Example user applied a coupon where that coupon applies for only one wallet. So based on the coupon / user can we put options dynamically.

You can refer below image

![image](https://user-images.githubusercontent.com/11161863/46287934-cf1d2380-c5a1-11e8-9d70-0780d5b57008.png)

[2018-10-01 12:42] Mayur-Wadpalliwar commented on #81
@Dineshchitta You can enable / disable the payment methods dynamically however, it is not possible have control over each entity inside the payment method. For example, it is not possible to dynamically choose the corresponding wallet.

[2018-10-01 12:45] Mayur-Wadpalliwar commented on #81
@Dineshchitta However, we have a different solution here which lets you customize the UI where you can have this control but the same comes under our enterprise plan solution: https://razorpay.com/pricing/

Do let us know if you want to explore that and we can arrange a call from our Business development team.

[2018-10-02 08:10] androidreport opened #82 "Android Java 8 is not Support"
Hi
rezorpay lib is not supported  in java 8. Please check this.

See this-

 implementation 'com.razorpay:checkout:1.4.9'

 compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }

 minSdkVersion 22
            targetSdkVersion 26
            versionCode 4

Error Show

Process 'command 'C:\Program Files\Java\jdk1.8.0_181\bin\ja

[2018-10-03 12:42] ashokrawat15 commented on #77
Hi,

I'm seeing the same payment issue with my Moto G (3rd generation) device running Android version 6.0.1. I can consistently reproduce the issue. Can someone plz suggest/help here to resolve this issue.

[2018-10-11 11:33] Sunaina015 opened #83 "Null Pointer Exception"
Team,
  I am getting a crash on -
//Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null object reference
com.razorpay.B_$q$.R$$r_

  com.razorpay.B_$q$.R$$r_ (Unknown Source:18076)
Please provide me the solution of this issue

[2018-10-17 07:28] imrankhanluhar commented on #71
hi hariramsvnit , is this problem solved . can we used paytm now as wallet

[2018-10-22 14:37] Mayur-Wadpalliwar commented on #82
@androidreport Please refer https://github.com/razorpay/razorpay-android-sample-app/issues/74

[2018-10-22 14:37] #82 closed

[2018-10-22 14:39] #54 closed

[2018-10-22 14:40] #65 closed

[2018-10-22 14:40] #66 closed

[2018-10-22 14:40] #69 closed

[2018-10-22 15:30] ratneshsinghparihar opened #84 "getting runtime error in checkout"
10-22 20:58:55.352 3948-3948/com.sportssage E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.sportssage, PID: 3948
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.sportssage/com.razorpay.CheckoutActivity}: java.lang.ClassNotFoundException: Didn't find class "com.razorpay.d__1_" on path: DexPathList[[zip file "/data/app/com.sportssage-1/base.apk"],nativeLibraryDir

[2018-10-22 15:31] ratneshsinghparihar commented on #84
In Debug mode its wokring properly , but on assembleRelease it crashes

[2018-10-26 15:00] amychaudhary opened #87 "Doesn't timeout if stayed in payment page for a long time"
I have an app which has dynamic pricing. If the user generates the bill and goes into Razorpay checkout page and stays there for a long time. The actual price deviates from the price paid. The razorpay doesn't time out the transaction. Is there any solution to this kind of problem which involves dynamic pricing?

[2018-10-30 13:56] amychaudhary commented on #64
I am facing the same issue. Did u get any solution to it?

[2018-10-31 06:37] NehaSukhlecha opened #88 "Security Error on Web View"
Uncaught SecurityError: Blocked a frame with origin "https://api.razorpay.com" from accessing a frame with origin "https://xyzl.in". Protocols, domains, and ports must match.", source: https://checkout.razorpay.com/v1/checkout-frame.js

[2018-11-01 02:09] saisasanksunkavalli commented on #64
I used a workaround for it , I am using a **timeout** of 10 minutes while passing the options to the SDK. If the RazorPay View is open for 10 minutes , it will finish the RazorPayActivity. You can send the timeout in seconds using the RazorPay Options.

[2018-11-02 09:57] saisasanksunkavalli commented on #64
On the Change of colour of the timer bar , you need to check their JS SDK . Thats how i came to know about the "timeout" parameter. Everything is not documented.
As far as i know , there is no listener for the timeout.

[2018-11-09 07:35] DevPrash commented on #77
Hi,
Same issue exist in
Ticket #: 289213

Followed Razorpay SDK setup documents:

**1. Razorpay Android SDK 1.4.9,1.4.8**

	Supported Min SDK version: 19
	**Issues exist in**

	Karbon A6 Turbo
	•	Version – 19
	•	Android -4.4.2

	Intex cloud
	•	Version – 23
	•	Android -6.0

**2. Razorpay SDK version to 1.4.7**

	Supported Min SDK version bellow 19

	**Issues exist in**

	Karbon A6 Turbo
	•	Version

[2018-11-27 09:38] udaynplay commented on #64
if there is no listener for the timeout how to handle it.

[2018-11-28 11:39] alokomkar opened #90 "Save Transaction error - Null Pointer Exception"
Hi,

We have been facing a lot of crashes due to a Null pointer exception, we are unable to isolate the reason for this :

Here are the crash logs :

[code]
Any help appreciated for this. Here are a few more details :

We are using Razor pay SDK with custom UI :
[code]

[2018-11-30 06:03] kashyapasrc opened #91 "Payment failed: 6 TLSv1 is not supported for security reasons"
Facing the following error on tap of purchase button.

[2018-12-03 10:23] gauravk95 opened #92 "How to implement Subscription/Recurring payments using Razorpay Android SDK?"
I cannot find a way to implement Subscription/Recurring Payments using the Razorpay's Android SDK?
Is there any easy way to do this or I have to use the Web API only, to achieve this?

Also the Web API doesn't seem to work...
Says "the request URL doesn't exist on the server...Here's a snapshot
![razorpay-bug](https://user-images.githubusercontent.com/15252140/49373844-80b50e00-f725-11e8-9658-6d41

[2018-12-07 09:49] gauravk95 commented on #84
Probably, you need to add proguard rules(so that the files don't get obfuscated) in your **app\proguard-rules.pro**

Add this, I guess it will work then

-keepclassmembers class * {
    @android.webkit.JavascriptInterface <methods>;
}
-keepattributes JavascriptInterface
-keepattributes *Annotation*
-dontwarn com.razorpay.**
-keep class com.razorpay.** {*;}
-optimizations !method/inlining/*
-keepcl

[2018-12-10 12:00] crazycoderbabu commented on #9
Whenever I am putting like invalid card Expiry date or CVV the OnPaymentError method is not getting called. Please Help me. I have already spent lots of time on this error

[2018-12-11 10:46] gvirmani opened #93 "onPaymentSuccess not getting called on Success"
We have implemented the Checkout as per the sample code. Issue is the OnPaymentSuccess method isn't being called on Success.  During debugging found that the activity is getting destroyed on checkout.open call. The success method is called only 1 out of 10 times during our testing. Moved to live mode but still same issue.

[2018-12-11 11:22] #93 closed

[2018-12-11 12:03] sumedht commented on #93
@gvirmani Need some details like
- Have u added proguard rules?
- Device config on which u getting crash?
- use latest version of sdk 1.5.1

[2019-01-18 14:17] kusu108 opened #94 "Razorpay assist not working for 'enter password' for verified by visa and mastercard secure code pages"
Only for razorpay latest sdk. For axis bank gateways, razorpay assist opens, on clicking enter a password in assist nothing happens. OTP works as desired but 'verified by visa' and 'Mastercard securecode' shows non-responsiveness. Screen [video](https://www.youtube.com/watch?v=tbwn-fkCUjw&t=5s) attached.

[2019-02-05 04:36] AkashDaga opened #95 "Fatal Exception: java.lang.NullPointerException Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null object reference"
**Guys I dont know how to reproduce it but some of our users are facing this issue, this is the stack trace I got from Crashlytics, Please have a look into this**
com.razorpay.l__d$.backPressed (Unknown Source)
com.razorpay.r_$Z$.backPressed (Unknown Source)
com.razorpay.b__J_.onBackPressed (Unknown Source)
com.razorpay.CheckoutActivity.onBackPressed (Unknown Source)
android.app.Activity.onKeyUp (

[2019-02-05 07:32] AkashDaga commented on #95
**React Native library version:** "react-native-razorpay": "^2.0.16",

**Device Info:**
Brand: LENOVO
Model: Lenovo VIBE X3 Lite
Orientation: Portrait
RAM free: 499.77 MB
Disk free: 1.14 GB

**Operating System**
Version: 6.0
Orientation: Portrait
Rooted: No

[2019-02-08 13:07] debugger22 commented on #95
We're also facing this issue. Unable to reproduce.

**SDK** com.razorpay:checkout:1.5.1

It's happening on all devices and all OS versions.

[2019-02-12 08:27] Prashankumar commented on #76
Where to add this code?

[2019-02-12 13:03] Mayur-Wadpalliwar commented on #76
You can add this in the checkout options along with other params

[2019-02-13 02:49] emailsubjekt commented on #78
Have you had any further problems with this?

[2019-02-13 09:59] SatyajeetRameena commented on #78
No. Thank you for helping me out.

On Wed, Feb 13, 2019 at 8:19 AM emailsubjekt <notifications@github.com>
wrote:

[2019-02-13 10:25] shashkiranr opened #96 "Need RazorPay Flutter Plugin"
I didn't know where to post this so putting it here.

It would be great if RazorPay Tech team releases Razorpay plugin for flutter.

[2019-02-13 12:50] pronav commented on #96
@shashkiranr let us check and get back about feasibility of an official flutter sdk

[2019-02-14 07:32] lastw0nd3r commented on #95
Same is the case with us, we have raised it over email multiple times. Happening to our users as well.

[2019-02-14 15:27] jrsadik7 opened #97 "App Crash on back pressed"
2019-02-14 20:53:02.980 2440-2440/E/InputEventSender: Exception dispatching finished signal.
2019-02-14 20:53:02.980 2440-2440/ E/MessageQueue-JNI: Exception in MessageQueue callback: handleReceiveCallback
2019-02-14 20:53:02.986 2440-2440/ E/MessageQueue-JNI: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null object reference

[2019-02-15 06:30] sumedht commented on #97
@jrsadik7 We are looking into this issue. Can you provide steps to reproduce it?
Also, want to know which Chrome version ur using?

[2019-02-15 06:49] lastw0nd3r commented on #95
@sumedht Happening on Android to random set of users, we're on version - 'com.razorpay:checkout:1.5.2'

[2019-02-18 11:09] dynamitechetan commented on #96
I created it since I wanted to use it in my apps.
https://pub.dartlang.org/packages/razorpay_plugin
https://github.com/dynamitechetan/razorpay_flutter/
It works perfectly fine. I am using this in my 2 production apps.
@pronav Can we make it official ?? I am using your official SDKs inside this plugin.

[2019-02-18 11:46] pronav commented on #96
That's awesome! a couple suggestions to make plugin more applicable for general use:

1. initial `params` should be passed as general JSON instead of fixed number of options such as name, description and so on. This is needed to support more options in future automatically without having to update flutter plugin.

2. In payment success callbacks, instead of single field - string `payment_id`, whol

[2019-02-19 12:14] dynamitechetan commented on #96
@pronav Cool 😎

[2019-02-19 12:38] gauravgupta566 opened #98 "Page stuck after successful Payment ,Callback is not fired"
sometimes, Page stuck after successful payment
![razorpayissue](https://user-images.githubusercontent.com/18099872/53015522-53991180-3471-11e9-94a7-dbb78c7f9e9c.png)

[2019-02-21 08:49] accelonome commented on #70
Any update on how to do this?

[2019-02-22 04:51] gauravgupta566 commented on #98
Please give me solution

[2019-02-22 14:10] umanghome commented on #95
@akashdaga @lastw0nd3r @debugger22 - Would any of you be willing to send your app to us? We are unable to reproduce this.

[2019-02-22 14:11] umanghome commented on #97
@jrsadik7 - Would you be willing to send your app to us? We are unable to reproduce this.

[2019-02-24 06:55] donpeter06 commented on #95
The crash occurred to our Android users
Native Android App

Razor pay - com.razorpay:checkout:1.5.2
Android - 8.1.0
Device -  Xiaomi Redmi Note 6 Pro

[2019-02-24 07:01] AkashDaga commented on #95
@umanghome I can give you our testing app but it's not reproducible some times users are facing this issue, but we are not able to reproduce this

[2019-02-25 07:15] sumedht commented on #98
@gauravgupta566 Can u provide steps/scenario when u getting this issue. It will be helpful for us if we can reproduce it.

[2019-02-25 07:18] gauravgupta566 commented on #98
I have already send you video , ticket id-381683,

[2019-02-25 08:06] maskedTitan commented on #98
@sumedht Check the video here: https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/11041597255/original/stuckpagevideo.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJ2JSYZ7O3I4JO6DA%2F20190225%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20190225T080412Z&X-Amz-Expires=300&X-Amz-Signature=e6e52ab70f93280a13c504c0bc48471d527f560d5630c510689eca10ac671c0c&X-Amz-Si

[2019-02-25 08:59] gauravgupta566 commented on #98
after click on this link -->access denied
`<Error><Code>AccessDenied</Code><Message>Request has expired</Message><X-Amz-Expires>300</X-Amz-Expires><Expires>2019-02-25T08:09:12Z</Expires><ServerTime>2019-02-25T08:58:42Z</ServerTime><RequestId>E0AA0AE70DF6812D</RequestId><HostId>j0GH96XQNpV/uDYrzPnoOBAWRqRAEC0KmT26zUzbWjST4fuApjzwWJtqAmvHLUeSvhb/3Iyw3Vc=</HostId></Error>`

[2019-02-25 12:30] AkashDaga commented on #95
@umanghome
**Today also we got this issue, I am posting the stack trace see if you can get something from it**

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null object reference
       at com.razorpay.l__d$.backPressed(Unknown Source:16)
       at com.razorpay.r_$Z$.backPressed(Unknown Source:52)
       at co

[2019-02-26 13:07] sidx1024 commented on #97
@jrsadik7 - We have released a new SDK which fixes this issue `com.razorpay:checkout:1.5.3`.

[2019-02-26 13:08] sidx1024 commented on #95
@AkashDaga @lastw0nd3r @debugger22 We have released a new SDK which fixes this issue `com.razorpay:checkout:1.5.3`.

[2019-02-27 09:16] sumedht commented on #98
@gauravgupta566 Are u facing this issue from v1.5.1? and previously it was working fine?

[2019-02-27 09:46] gauravgupta566 commented on #98
yes, I have faced , I have tried your sample app yesterday but i didnot face issue in your sample app

[2019-02-27 09:48] gauravgupta566 commented on #98
can i talk to you on call??

[2019-02-28 12:49] KhyatiMehta3 commented on #91
Any updates on this issue?

[2019-02-28 12:54] sidx1024 commented on #91
@KhyatiMehta3 According to PCI regulations, payment processing is not allowed on TLS v1. So in case the device does not have TLS v1.1 or TLS v1.2, the SDK will throw an error in the onPaymentError method.

[2019-03-02 07:10] shashkiranr commented on #96
@pronav It would be great if a flutter plugin written using dart. For Android especially it opens up a new activity when using Android RazorPay plugin and this causes issues when certain timed transactions are involved.

[2019-03-05 08:12] KhyatiMehta3 commented on #76
Hi, Is there anyway to get rid of the email field?

[2019-03-05 08:24] KhyatiMehta3 commented on #91
Can Razorpay use some custom SSL Socket factory? where TLS can be enabled? If not, what is the solution to this issue?

[2019-03-09 05:18] dk-slicepay commented on #97
Have you guys released V1.5.3 ?

[2019-03-15 17:32] krmanohar opened #100 "android razorpay sdk integration"
we have integrated razorpay sdk in our android app
during testing we observed the following
if the payment failed for any reason, the screen informing the user that the payment failed disappears in a fraction of a second. we would like to inform users that the payment failed and possibly give an option to retry the payment. the sample app shows this; however the sdk integrated to our app does not

[2019-03-18 10:35] SubhrajyotiSen commented on #88
Any updates on this?

[2019-03-19 14:08] jrsadik7 commented on #97
@sidx1024 not able to see release notes for com.razorpay:checkout:1.5.3 in the release page
 https://github.com/razorpay/razorpay-android-sample-app/releases  can you please confirm on this.

[2019-03-20 06:48] ramkotirapido opened #101 "Issue: L__R (Deobfuscated class name)"
Hi,
I am using com.razorpay:checkout:1.4.9 and facing this issue L__R (Deobfuscated class name).

Stacktrace:
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.rapido.passenger/com.razorpay.CheckoutActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference
       at android.app.Activit

[2019-03-20 06:50] ramkotirapido commented on #101
stack trace:
Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference
       at org.json.JSONTokener.nextCleanInternal(JSONTokener.java:116)
       at org.json.JSONTokener.nextValue(JSONTokener.java:94)
       at org.json.JSONObject.(JSONObject.java:156)
       at org.json.JSONObject.(JSONObject.java:173)
       at com.ra

[2019-03-20 14:30] NimaiUser commented on #98
I too did faced the same issue. It is with only Online banking i think. I didn't face it with other ways i.e, wallet/cards. I found it while making transaction with SBI.

[2019-03-26 11:26] krmanohar commented on #9
facing the same problem if somebody entered wrong expiry date or CVV. the payment failed message appears for a fraction of a second and disappears. anybody has any luck in showing the payment failed message. Please share

[2019-03-26 11:30] balrampandey19 commented on #101
hi
I am also facing the Same issue. I am using razor pay 1.5.1

`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null object reference
       at com.razorpay.l__d$.backPressed(Unknown Source:17076)
       at com.razorpay.r_$Z$.backPressed(Unknown Source:148)
       at com.razorpay.b__J_.onBackPressed(Unknown Sour

[2019-03-26 11:36] sumedht commented on #101
@balrampandey19 @ramkotirapido Update SDK to latest version. We have fixed it in v1.5.4

[2019-03-26 11:36] #101 closed

[2019-03-26 11:37] #97 closed

[2019-03-26 11:38] sumedht commented on #95
Closing this issue. Fixed in latest sdk version

[2019-03-26 11:38] #95 closed

[2019-03-26 11:42] sumedht commented on #91
@KhyatiMehta3 Razorpay not use any custom SSL, it's used by webView(eventually browser) in android. And it's depreciated now to use for payment purpose as per NPCI guidlines

[2019-03-26 11:42] #91 closed

[2019-03-26 11:54] sumedht commented on #88
@SubhrajyotiSen @NehaSukhlecha Looks like u are opening checkout in webView. U can use SDK for this issue.

[2019-03-26 12:02] sumedht commented on #83
@Sunaina015 Have fixed this issue in v1.5.4 Update to latest

[2019-03-26 12:02] #83 closed

[2019-04-01 09:36] SumukhaK opened #102 "how to disable QR payment method"
Hello, I'm using `'com.razorpay:checkout:1.5.2'` in my android app. In sandbox version I have observed that Qr mode of payment is available on selected devices(One plus 5t for eg.) and unavailable to the rest of the devices. How can I permanently disable QR mode to avoid confusions in my code. Thanks in advance.

[2019-04-03 13:49] sidx1024 commented on #102
@SumukhaK As of now there's no switch to disable the QR mode of payment. It is visible to non-mobile devices such as tablet and is dependent on screen resolution. The device you're testing might be on a custom DPI setting which increases the device's width (which is then detected as tablet).

[2019-04-04 10:23] harshm90 commented on #1
@shashankmehta Hello,
I am getting the amount of 12345 where i want to charge 123.45 but it is still showing me it should be integer :(
how do i do that?

[2019-04-04 19:18] anamik17 opened #103 "How to know the payment method using Razorpay SDK"
While making the payment in Razorpay, each mode of transaction has a different TDR. Is there any way to know it from the app before making the payment so that i can set the amount being paid accordingly. I am also using the route feature which is actually causing this issue.

Eg: User pays 100 by Debit Card. Say 2% is the transaction cost, so 98 gets deposited to my account. Now when using route,

[2019-04-05 07:24] sumedht commented on #98
@gauravgupta566 @NimaiUser Its fix now. Also No need to update SDK for this.

[2019-04-05 07:24] #98 closed

[2019-04-05 07:28] sumedht commented on #100
@krmanohar For SDK u will get a callback in onPaymentError() and there u can handle it. For a sample app, we are using test key so it is a behavior.

[2019-04-05 07:28] #100 closed

[2019-04-05 07:30] #102 closed

[2019-04-05 07:33] sumedht commented on #84
@ratneshsinghparihar @gauravk95 this issue still exist? Which version of SDK u r using?

[2019-04-05 07:36] sumedht commented on #79
@sumit007 still facing this issue?our latest version of sdk is v1.5.5

[2019-04-05 07:38] #64 closed

[2019-04-05 07:40] sumedht commented on #77
@CHIRANJIT1988 @DevPrash We have fixed this issue. If u still facing this plz update to our latest sdk v1.5.5

[2019-04-05 07:40] #77 closed

[2019-04-05 08:54] sumit007 commented on #79
@sumedht this is fixed. Thank you.

[2019-04-05 08:54] #79 closed

[2019-04-10 07:13] debugger22 opened #105 "Fatal crash on CheckoutActivity"
[code]

[2019-04-12 06:48] sumedht commented on #105
@debugger22 Which version of SDK u r using?

[2019-04-12 06:57] sumedht commented on #90
@alokomkar Can u update to latest version 3.8.3
http://rzp-mobile.s3.amazonaws.com/customui/razorpay-android-3.8.3.aar
Let us know if u still able to reproduce issue.

[2019-04-16 10:45] sushmitha-mk commented on #77
Razorpay SDK version to 1.4.7

Device : Karbon
Android version: 4.4.2
model number: A6 Turbo

Not able to do the payment by using net banking(not displaying the list of banks properly), wallet(ola payments) and UPI(Not displaying  related apps such as google pay, phonepe, etc) methods

![image1](https://user-images.githubusercontent.com/45754519/56203350-aa325e80-6062-11e9-9fda-0236b221e282.jpeg)

[2019-04-27 11:36] raikk commented on #84
i had same issues.
My android sdk version 28
react-native-razorpay version 2.1.23

I add this in app\proguard-rules.pro

[code]

then it worked

[2019-05-06 10:33] nihar89 commented on #88
I want to do payment through webview only but getting error:

 "Uncaught SecurityError: Blocked a frame with origin "https://api.razorpay.com" from accessing a frame with origin "http://192.168.0.121".  The frame requesting access has a protocol of "https", the frame being accessed has a protocol of "http". Protocols must match.
    ", source: https://checkout.razorpay.com/v1/checkout-frame.js (1)

[2019-05-09 06:25] Jasonli1558 opened #106 "Crash on CheckoutActivity"
We are facing crash issue on Android 5.0 and 4.4 devices suddenly when start to CheckoutActivity with the below error.The SDK version we use is 1.5.5

Caused by android.util.AndroidRuntimeException
requestFeature() must be called before adding content
...
com.razorpay.B$$W$.onCreate (B.java:85)
com.razorpay.b__J_.onCreate (b__J_.java:23)
com.razorpay.CheckoutActivity.onCreate (CheckoutActivity.jav

[2019-05-09 07:16] sumedht commented on #106
@Jasonli1558 Can u share the full crash log?

[2019-05-09 07:22] Jasonli1558 commented on #106
Caused by android.util.AndroidRuntimeException: requestFeature() must be called before adding content
       at com.android.internal.policy.impl.PhoneWindow.requestFeature(PhoneWindow.java:324)
       at android.app.Activity.requestWindowFeature(Activity.java:3692)
       at com.razorpay.B$$W$.onCreate(B.java:85)
       at com.razorpay.b__J_.onCreate(b__J_.java:23)
       at com.razorpay.CheckoutA

[2019-05-09 08:37] sumedht commented on #106
@Jasonli1558 Looks like issue is because of ```requestWindowFeature(Window.FEATURE_NO_TITLE);``` we are using.
Will update in next release.
Is the issue on specific device n getting in some specific scenario or every time it's crashing

[2019-05-09 09:10] Jasonli1558 commented on #106
@sumedht Crash every time.But the crash didn't occur in one device which system version is 7.0.

[2019-05-09 11:41] swatiagarwal8586 commented on #81
how to enable / disable the payment methods dynamically? what code i have to write for hiding all payment methods except to card payment method only.

[2019-05-09 13:58] Mayur-Wadpalliwar commented on #81
@swatiagarwal8586 you can use `method` param to handle this,
[code]

[2019-05-10 14:23] raveesh-me commented on #96
@pronav it will be really nice of you to maintain an official razorpay plugin for flutter.

From a business point of view, flutter is taking over all forms of app development to the point that more than half of the app developers in Kolkata are now using flutter.

And no Indian payment gateway provides support for or guidance on how to use razorpay with these platforms.

@dynamitechetan did an ama

[2019-05-10 14:26] raveesh-me commented on #96
A very simple solution would be a pure dart package to open checkout page in a webview, which would free even you of the pains of the changing android and ios SDKs

[2019-05-13 10:37] umanghome commented on #96
We'll be releasing a Flutter plugin pretty soon. ETA end of this week.

[2019-05-13 14:28] das-abhilash opened #107 "PaymentData implements Serializable but have non-Serializable member"
[code]
 PaymentData implements Serializable but has `JSONObject`D$_X_  as one of the member and
 it's not Serializable.

[2019-05-15 07:45] HarshavardhanK commented on #5
@shashankmehta how do I access payment_signature as in the web checkout integration?

[2019-05-15 08:19] pronav commented on #5
Method signature of `onPaymentSuccess` has been overloaded - it now returns another parameter containing signature if you're using razorpay orders api. See https://razorpay.com/docs/payment-gateway/orders/migration/#checkout-on-android for details.

[2019-05-17 08:40] raveesh-me commented on #96
Hi! @umanghome can't wait to test it out!

[2019-05-19 11:13] raveesh-me commented on #96
Hi! Any updates / new ETAs?

[2019-05-20 08:03] umanghome commented on #96
@raveesh-me https://github.com/razorpay/razorpay-flutter 🎉

You would need to use this directly from git for now, we'll publish to Pub soon.

[2019-05-20 14:42] raveesh-me commented on #96
awesome

[2019-05-20 15:56] vijayawoshe commented on #96
Still there will be the question for plugin maintenance? As raveesh suggested pure dart package with webview would be the nice idea.

[2019-05-21 08:22] ChintanAcharya commented on #96
@vijayawoshe Razorpay will be maintaining this plugin.

[2019-05-22 04:52] raveesh-me commented on #96
Hi! I've filed two issues. This is a blocking requirement for three of our major projects so please let me know if we can be of any help in the process.

[2019-06-06 13:38] chitra-bahadur commented on #9
facing the same issue implemented in Activity and Fragment but not getting any error method neither any callback methods are getting called.

[2019-06-06 14:26] chitra-bahadur opened #109 "Success/Failure working in one and not working in other activity"
implemented checkout code. its working in one screen and calling the success and failure callback methods but not calling callback methods and closing the screen.

[2019-06-07 07:25] #109 closed

[2019-06-11 07:01] Ramachandran322 opened #110 "UPI Payments not working"
Hello,

I am using the latest razor pay sdk for my mobile app. The integration part was successful. However, I am facing few problems in the transaction while testing in Test Mode.

1. UPI payments were not working but receiving order id, razor pay id, signature in onPaymentSuccess() callback.
2. I can save one particular card detail multiple times. There is no validation.
3. Also, I have an optio

[2019-06-12 07:05] Abimathijjbytes commented on #103
Hi i am also facing the same issue i could not get the payment method after getting success response it's giving only razorpay payment id but i need all the details

[2019-06-12 07:07] pronav commented on #103
Using payment-id, you can then use backend API to fetch payment method used: https://razorpay.com/docs/api/payments/#fetch-a-payment

[2019-06-12 07:09] Abimathijjbytes commented on #103
But is there any possibility to get payment method from an android side
itself

On Wed, 12 Jun 2019 at 12:37, Pranav Gupta <notifications@github.com> wrote:

--
Thanks & Regards,

Abimathi.B

[2019-06-12 07:12] Abimathijjbytes commented on #103
From log itself, i can see the whole details in web view
loadurl_rzp_options but i need to send method from Android side to Web side
that's why i need the payment method

On Wed, 12 Jun 2019 at 12:39, Abimathi Balaji <abimathi.jjbytes@gmail.com>
wrote:

--
Thanks & Regards,

Abimathi.B

[2019-06-13 09:47] andylauxugang2 commented on #106
Dose this issue is fixed? Our company has this problem and a large of people customer could not use razorpay to payment .  The service is very bad !!!!

[2019-06-13 09:51] andylauxugang2 commented on #106
Dose any one of razorpay on line ? this issue is for 5 weeks ago. Why your guys do not fixed it and make our customer bad service for us. !!!??

[2019-06-13 10:07] sumedht commented on #106
@andylauxugang2 Have not release it yet. Will update you on this asap.

[2019-06-14 16:28] andylauxugang2 commented on #106
OK , Please give us a time for this issue. It effect our customers thanks

[2019-06-16 12:57] andylauxugang2 commented on #106
Can you give us a time plan table for the issue. Our customer already very angry for the repayment service on the android app !!

[2019-06-16 13:06] Jasonli1558 commented on #106
@sumedht the crash has affect our business!Give me a date of the release!!!

[2019-06-17 06:47] sumedht commented on #106
@andylauxugang2 @Jasonli1558 It will take possibly around 2-3 days to go live. We will try to do that asap.

[2019-06-17 07:18] sumedht commented on #107
@das-abhilash will update this. thanks

[2019-06-17 07:25] sumedht commented on #110
Hi @Ramachandran322
1. Can u elaborate more on what exactly not working in UPI?
2. Will check with this
3. Can u provide more details on this?

[2019-06-17 07:26] sumedht commented on #105
@debugger22 Any details on this?

[2019-06-17 09:20] #105 closed

[2019-06-20 06:02] sumedht commented on #106
@andylauxugang2 @Jasonli1558 It's fixed. can u share your email id? will share .aar separately on priority

[2019-06-21 07:56] sumedht commented on #106
@andylauxugang2 @Jasonli1558 you can find new release at
https://github.com/razorpay/razorpay-android/releases/tag/v1.5.6

[2019-06-24 04:23] Jasonli1558 commented on #106
@sumedht this page of new release shows 404

[2019-06-24 07:45] Jasonli1558 commented on #106
@sumedht I can't add libraray dependency of 1.5.6
the error is : Failed to resolve: com.razorpay:checkout:1.5.6

[2019-06-24 08:44] sumedht commented on #106
@Jasonli1558 Find build from release v1.5.6

[2019-06-24 10:04] Jasonli1558 commented on #106
@sumedht I dont't want to use it by importing .aar and I can't add remote libraray dependency of 1.5.6
the error is : Failed to resolve: com.razorpay:checkout:1.5.6

[2019-06-24 11:54] sandeepkumarmishra354 opened #111 "onPaymentSuccess executed even user cancelled the process."
Every time user cancel the wallet or upi methods the onPaymentSuccess function executed..
With other payment methods it works perfectly

[2019-06-24 13:27] pronav commented on #111
Are you in test mode? onPaymentSuccess will be called on user cancel if payment becomes successful before user cancels the payment. This is a rare scenario, however in UPI test mode all payments are automatically successful in a very short span, which is how this could've been happening.

[2019-06-24 18:30] sandeepkumarmishra354 commented on #111
So in live mode my problem will be solved....?

[2019-06-25 01:47] Jasonli1558 commented on #106
@sumedht I can't add remote libraray dependency of 1.5.6 and the error is : Failed to resolve: com.razorpay:checkout:1.5.6

[2019-06-25 02:53] pronav commented on #111
Of course. As I said, if a user successfully completes payment and immediately cancels it, it'll still register as success.

In UPI test mode, you can't cancel most of the time because we've mocked payments to be successful very quickly (1-2s) except when VPA of `failure@razorpay` is used.

[2019-06-25 07:33] sandeepkumarmishra354 commented on #111
Thanks

[2019-06-25 07:33] #111 closed

[2019-06-26 12:03] LakshmiPriyaVikram commented on #105
I am using razorpay sdk version 1.5.2.I am also facing this issue. How can I solve this?

[2019-06-26 12:04] LakshmiPriyaVikram commented on #105
How u solved this issue? I am using sdk version 1.5.2.

[2019-07-01 12:25] shricky opened #112 "android.content.ActivityNotFoundException: Unable to find explicit activity class {com.razorpay.CheckoutActivity}; have you declared this activity in your AndroidManifest.xml?"
# TRIED adding progaurd rule, Changing sdk version to 1.5.5. It was working fine but when I merged my projects(importing the other one as library module(not using razorpay in the module)), it started showing this error...

android.content.ActivityNotFoundException: Unable to find explicit activity class {com.kdgo.in/com.razorpay.CheckoutActivity}; have you declared this activity in your AndroidMan

[2019-07-02 08:35] sumedht commented on #112
HI @shricky Looks like there is integration issue. U can check out a sample app. also find documentation from https://razorpay.com/docs/payment-gateway/integrations-guide/mobile/android/standard/

[2019-07-02 11:03] shricky commented on #112
The integration was working fine for all before merging my apps. After merging of apps I got the issue.

[2019-07-03 05:11] shricky commented on #112
I got the answer, thanks to @android killer. i just checked my Manifest files. I had added tool:replace in the <application> tag. I removed it and removed the android:icon & android:roundIcon from the other manifest file so that tool:replace must not be needed. And It works fine now.

[2019-07-03 05:11] #112 closed

[2019-07-03 05:11] shricky commented on #112
I got the answer. i just checked my Manifest files. I had added tool:replace in the tag. I removed it and removed the android:icon & android:roundIcon from the other manifest file so that tool:replace must not be needed. And It works fine now.

[2019-07-11 08:11] deepakrathi commented on #91
I am also facing this issue on android app, any resolution?

[2019-07-11 09:14] sumedht commented on #91
@deepakrathi On Which version of OS u r facing this issue?

[2019-07-11 11:01] deepakrathi commented on #91
Below lolipop, i guess that would be resolved if we update device security
provider.

On Thu, Jul 11, 2019 at 2:44 PM sumedht <notifications@github.com> wrote:

--
Regards
Deepak Rathi
M - 9999005383
(Android Developer)

[2019-07-11 11:06] sumedht commented on #91
@deepakrathi Actually, Razorpay does not use any custom SSL which is on below lollipop device, it's used by webView(eventually browser) in android. And it's depreciated now to use for payment purpose as per NPCI guidelines

[2019-07-11 16:40] deepakrathi commented on #91
But still if you update device security provider, it will work.
For more information, check on android development site on how to update
device security provider.

On Thu, Jul 11, 2019 at 4:36 PM sumedht <notifications@github.com> wrote:

--
Regards
Deepak Rathi
M - 9999005383
(Android Developer)

[2019-07-15 05:21] sumedht commented on #91
@deepakrathi
As per the guidelines of PCI DSS(Payment Card Industry Data Security Standard), they have defined a certain restriction on TLS certificates of the browser which is used for payment, so we have to put a check for that.

PCI decided to disable SSL/early TLS in order to meet the PCI Data Security Standard for safeguarding payment data.

The TLSv1 requirement applies on our servers as wel

[2019-07-15 05:23] #106 closed

[2019-07-15 05:23] #90 closed

[2019-07-15 05:25] sumedht commented on #84
@ratneshsinghparihar @gauravk95 Update to our latest SDK version. R u still getting this issue?

[2019-07-15 05:26] sumedht commented on #58
Closing as no response from @krishnarama

[2019-07-15 05:26] #58 closed

[2019-07-19 06:44] abinash012 opened #116 "In android after testing/production build checkout form is not opening in mobile."
when I am running locally through "ionic Cordova run browser" command, it is working fine. But after testing/production build it is not working. The problem is Razorpay page itself not coming after clicking on the "pay" button. Please help me to solve this issue.

[2019-07-19 12:28] shashankmeddo opened #117 "Not working on release mode"
Unable to start activity ComponentInfo{in.meddo.patient/com.razorpay.CheckoutActivity}: java.lang.ClassNotFoundException: Didn't find class "com.razorpay.d__1_" on path: DexPathList[[zip file "/data/app/in.meddo.patient-ZASQBsxdoUfuLsHGfUNbsQ==/base.apk"],nativeLibraryDirectories=[/data/app/in.meddo.patient-ZASQBsxdoUfuLsHGfUNbsQ==/lib/arm, /data/app/in.meddo.patient-ZASQBsxdoUfuLsHGfUNbsQ==/base.

[2019-07-24 06:27] sumedht commented on #116
@abinash012 Does it give any error log for that? Can u plz share if there is any?
Also, have u tried our Cordova sample app?
https://github.com/razorpay/razorpay-cordova-sample-app

[2019-07-24 06:29] sumedht commented on #117
@shashankmeddo Which version u r using? R u facing the same issue in the sample app?

[2019-07-24 06:31] #50 closed

[2019-07-25 09:50] andev009 opened #118 "How can I get razorpay_signature?"
After pay success,The callback only returns razorpayPaymentID.
	@Override
  public void onPaymentSuccess(String razorpayPaymentID) {
		/**
     * Add your logic here for a successful payment response
     */
  }
But need send razorpay_signature to validate, where can i get razorpay_signature?

[2019-07-26 10:07] sumit007 opened #119 "Crash in Android Pie devices on Checkout.preload(getApplicationContext())"
Hi Team,

We are facing crash in android Pie devices, I am attaching the crash log.
RazorPay SDK version 1.5.8.

       at org.chromium.android_webview.AwBrowserProcess.a + 40(PG:40)
       at xn.c + 86(PG:86)
       at xn.b + 150(PG:150)
       at xn.a + 131(PG:131)
       at com.android.webview.chromium.WebViewChromiumFactoryProvider.a + 239(PG:239)
       at com.android.webview.chromium.WebView

[2019-08-01 05:25] sagarnayak commented on #118
you need to implement
`com.razorpay.PaymentResultWithDataListener`
the methods to override are -
`    override fun onPaymentError(p0: Int, p1: String?, p2: PaymentData?) {
        showMessageInDialog(p1 ?: "Payment error")
    }

    override fun onPaymentSuccess(p0: String?, p1: PaymentData?) {
        logUtil.logV(p1?.paymentId ?: "payment id")
        logUtil.logV(p1?.signature ?: "signature id

[2019-08-06 06:20] Pragna-zealous commented on #81
@Mayur-Wadpalliwar
Thanks for this comment. It helps me to find solution. There is one issue that when I use as below,  logo hide from the checkout popup.
`method: {
    netbanking: false,
    card: true,
    wallet: false,
    upi: false
  },`

[2019-08-06 06:37] Mayur-Wadpalliwar commented on #81
@Pragna-zealous Can you upload the logo on the Razorpay dashboard and remove  options.put("image", "https://s3.amazonaws.com/rzp-mobile/images/rzp.png"); from your code and try once?

[2019-08-06 07:00] Pragna-zealous commented on #81
@Mayur-Wadpalliwar Yea now the logo display in checkout popup.
I have removed the image parameter and upload logo in razorpay settings tab.
Thank You.

[2019-08-09 10:04] LakshmiPriyaVikram opened #120 "Fatal Exception: java.lang.NoSuchFieldError"
Fatal Exception: java.lang.NoSuchFieldError: No static field activity_result_invalid_parameters of type I in class Lcom/razorpay/R$string; or its superclasses
       at com.razorpay.L__R$.setOptions + 119(:119)
       at com.razorpay.B$$W$.onCreate + 96(:96)
       at com.razorpay.b__J_.onCreate + 23(:23)
       at com.razorpay.CheckoutActivity.onCreate + 8(:8)
       at android.app.Activity.perfo

[2019-08-12 14:47] ArvindKer09 opened #121 "Unable to start activity: java.lang.ClassNotFoundException: Didn't find class "com.razorpay.G_G"
java.lang.RuntimeException: Unable to start activity ComponentInfo{in.frendy.app/com.razorpay.CheckoutActivity}: java.lang.ClassNotFoundException: Didn't find class "com.razorpay.G_G" on path: DexPathList[[zip file "/data/app/in.frendy.app-6JaCLtUU8i_xpQjmYbg4bQ==/base.apk", zip file "/data/app/in.frendy.app-6JaCLtUU8i_xpQjmYbg4bQ==/split_config.armeabi_v7a.apk", zip file "/data/app/in.frendy.app-

[2019-08-22 06:15] LakshmiPriyaVikram opened #123 "Attempt to invoke virtual method 'java.lang.String org.json.JSONObject.getString(java.lang.String)' on a null object reference"
Got this issue in LGE (version 6.0.1) mobile ,this is the stack trace I got from crashlytics. I am using " razorpay:checkout:1.5.5 ".

Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String org.json.JSONObject.getString(java.lang.String)' on a null object reference
       at com.razorpay.Y$_o$.G__G_ + 25(:25)
       at com.razorpay.L__R$.setOptions + 124(:124)

[2019-08-28 03:39] khanh10101998 commented on #119
i also got the same error

[2019-08-28 13:17] deathstroke007 commented on #76
How to hide the email Options like what happened in bounce Application. There is no field to enter the mail id only the number. Plus, is there a way to make the email optional?

[2019-08-29 06:25] sumedht commented on #120
@LakshmiPriyaVikram can u share what payload you are passing to checkout?

[2019-08-29 06:28] sumedht commented on #121
@ArvindKer09 which version you are using? have u added proguard rules?

[2019-08-29 06:30] sumedht commented on #123
@LakshmiPriyaVikram can u update to our latest version 1.5.12

[2019-08-29 06:31] #118 closed

[2019-08-29 06:57] sumedht commented on #119
@sumit007 Looks like have more details here https://developer.android.com/about/versions/pie/android-9.0-changes-28#web-data-dirs

[2019-08-29 07:09] sumedht commented on #103
@Abimathijjbytes You have to get it from api using payment-id

[2019-08-29 07:09] #103 closed

[2019-08-29 07:10] sumedht commented on #116
@abinash012 Is it working now? can u update here?

[2019-08-29 07:25] abinash012 commented on #116
Now it's working fine sir. Issue was in build I think. Bcz that plugin was
not fetching while building application. Now it's proper.

On Thu 29 Aug, 2019, 12:40 sumedht, <notifications@github.com> wrote:

[2019-08-29 11:00] hopetechnologies commented on #76
How to make phone and email as optional... I don't want my customers to enter their phone and email before paying... Is there any option to disable it.

[2019-08-30 07:33] #116 closed

[2019-09-05 08:20] manish8954776709 opened #124 "Unable to start activity ComponentInfo..."
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.orra.android/com.razorpay.CheckoutActivity}: java.lang.RuntimeException: java.lang.IllegalAccessException: Class java.lang.Class<d.j.eb> cannot access  method java.io.InputStream com.razorpay.O__Y_.G__G_(java.io.InputStream, int, short) of class java.lang.Class<com.razorpay.O__Y_>

     Caused by: java.lang.RuntimeException: ja

[2019-09-05 10:10] #124 closed

[2019-09-06 09:18] sumedht commented on #124
@manish8954776709 Have u added proguard rules if u using proguard in u r application?
also what version of SDK you are using?

[2019-09-16 06:46] sumedht commented on #121
@ArvindKer09 Any update on this?

[2019-09-16 06:47] sumedht commented on #119
@sumit007 @khanh10101998 any update here?

[2019-09-16 06:47] sumedht commented on #123
@LakshmiPriyaVikram Any update here?

[2019-09-16 10:46] abhijeet971992 commented on #117
I am also facing the same issue. The payment gateway activity opens and runs smoothly in Debug mode. In release mode, the app crashes. Following is the stacktrace I got from Crashlytics:
Fatal Exception: java.lang.RuntimeException
Unable to start activity ComponentInfo{com.infonotics.stocklytics/com.razorpay.CheckoutActivity}: java.lang.ClassNotFoundException: Didn't find class "com.razorpay.d__1_

[2019-09-24 05:52] LakshmiPriyaVikram commented on #123
This bug is reported only on bat mobile . I think this is happened when bot is testing my app. No issue with your library.

[2019-09-24 05:52] #123 closed

[2019-09-25 03:41] Imranmech786 opened #125 "java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState"

[2019-09-26 10:15] abeegit commented on #88
Did anyone get a fix for this?

[2019-09-30 08:13] #125 closed

[2019-09-30 15:26] ujjwalagrawal17 commented on #121
Reproduced the same today.
Razorpay SDK Version: 1.5.2
compileSdkVersion: 28
Also tried adding the proguard:

[code]

[2019-10-15 06:06] stigasoft opened #127 "Crash on Payment Button"
--------- beginning of crash
10-15 11:32:08.745 2102-2102/com.razorpay.newsampleapp E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.razorpay.newsampleapp, PID: 2102
    java.lang.AbstractMethodError: abstract method "void com.razorpay.RzpPlugin.isRegistered(android.content.Context)"
        at com.razorpay.r$_Y_.onCreate(:48)
        at com.razorpay.CheckoutActivity.onCreate(:8)
        a

[2019-10-15 12:57] sumedht commented on #127
@stigasoft Can you provide more details like a specific scenario? Looks like it is with our sample app, we tested at our side and it's working

[2019-10-15 13:00] sumedht commented on #121
@ArvindKer09 closing this as there is no update

[2019-10-15 13:00] #121 closed

[2019-10-15 13:00] sumedht commented on #120
@LakshmiPriyaVikram Any update on this?

[2019-10-15 15:14] LakshmiPriyaVikram commented on #120
This bug is reported only on bat mobile . I think this is happened when bot is testing my app. No issue with your library.

[2019-10-15 15:14] #120 closed

[2019-10-21 07:34] annamalaicoderays commented on #88
`"Uncaught SecurityError: Blocked a frame with origin "https://api.razorpay.com" from accessing a frame with origin "https://xyz.com".  The frame requesting access has a protocol of "https", the frame being accessed has a protocol of "http". Protocols must match.`

We are working on this last 3 weeks, on the project delivery time we got this error we tried to communicate with support team but the

[2019-10-21 16:40] mrdishant commented on #127
Try removing razorpay-amazonpay and pay with amazonpay.

[2019-10-23 14:16] GangadharNilesh opened #128 "Unable to get Failure Transaction id"
Does Razor pay provide transaction id when payment gets failed. It seems it is not available. Can you please let us know if this is available.

Thanks,
Nilesh

[2019-10-24 07:40] annamalaicoderays commented on #88
[code]
 **"callback_url"      =>'http://192.168.0.125/razorpay/verify_1.php?a=5',**

**Add this call back url to your array**  so you  can easily fix this below error

`"Uncaught SecurityError: Blocked a frame with origin "https://api.razorpay.com" from accessing a frame with origin "https://xyz.com". The frame requesting access has a protocol of "https", the frame being accessed has a protocol of

[2019-10-25 12:42] thangmam commented on #76
hello , i am also wondering if its possible to make phone and email optional so that my user can directly choose payment option.

[2019-10-29 14:56] sabinartificers commented on #9
I want to receive on success and failure in my fragment i can't use activity for that how can i implement razorpay

[2019-11-05 08:15] ndc411 commented on #88
callback is rejected

https://api.razorpay.com/v1/payments/pay_DcaP2ikebbbBbS/callback/f876290dcd1873763427fb56c197a68f967bd440/rzp_test_UolxV8NXMDVCP4?status=failed&token_recurring_status=rejected

[2019-11-05 08:39] ndc411 commented on #88
@annamalaicoderays

[2019-11-05 09:02] annamalaicoderays commented on #88
@ndc411 Please replace your server address, which means (**ip** or **domain** name)
` "callback_url" =>'http://[SERVER_ADDRESS]/razorpay/verify.php',`

[2019-11-05 10:07] ndc411 commented on #88
@annamalaicoderays   I am confused about the server address. Do you mean the webhooks url's domain which is at "https://dashboard.razorpay.com/#/app/webhooks" page?  Many thanks！

[2019-11-05 13:51] annamalaicoderays commented on #88
@ndc411  are you using php integration for android??

[2019-11-05 21:05] deathstroke007 commented on #76
You can create a JSONObject Prefill and send it via options like the code below :

[code]

[2019-11-06 03:41] ndc411 commented on #88
I am sorry that I did not say clearly before. I’m doing testing now. I have to reuse the web integration for some reason. I want to reuse my web integration of Razorpay Checkout inside a web view on Android . I have read the doc: https://razorpay.com/docs/payment-gateway/callback-url/, and add 'callback_url'. so, what's the callback_url ?

here is options:
options = {
          "key": latestLoan.p

[2019-11-06 03:42] ndc411 commented on #88
I am sorry that I did not say clearly before. I’m doing testing now. I have to reuse the web integration for some reason. I want to reuse my web integration of Razorpay Checkout inside a web view on Android . I have read the doc: https://razorpay.com/docs/payment-gateway/callback-url/, and add 'callback_url'. so, what's the callback_url ?

here is options:
options = {
          "key": latestLoan.p

[2019-11-08 13:03] abhishek8506 opened #130 "how to Create an Order in android side ..."
Any Help please.

[2019-11-11 11:59] chitra-bahadur commented on #130
their are two ways for that either create api and call that api, second is implementing the java sdk of razor pay

[2019-11-11 12:10] chitra-bahadur commented on #130
@abhishek8506  their are two ways to do that first is create an api and second is using razor pay java sdk. Java Sdk has some issue with pro-guard so creating api would be better options.

[2019-11-11 15:31] #130 closed

[2019-11-12 10:23] MrSagarMH13 opened #131 "Caused by java.lang.RuntimeException: java.io.IOException: No original dex files found for dex location"
Caused by java.lang.RuntimeException: java.io.IOException: No original dex files found for dex location /data/user/0/com.myjodidar/cache/.    
       at com.razorpay.h__y_.<clinit> + 393(:393)
       at com.razorpay.h__y_.a_$P$()
       at com.razorpay.AnalyticsUtil.reset + 189(:189)
       at com.razorpay.BaseUtils.setup + 418(:418)
       at com.razorpay.D$_X_.onCreate + 80(:80)
       at com.ra

[2019-11-13 14:56] vikasAgatsa commented on #110
Same problem here. I am not able to get to the Payment Successful intent. It is showing waiting for Payment Confirmation.

[2019-11-14 07:06] ndc411 commented on #88
Thank you for your patience. I reuse the web integration in our mobile app, then I replace our server address --- https://our-server/callback_url,  it can work normally.

[2019-11-19 06:27] surapuramakhil opened #132 "Gradle Sync Error"
ERROR: Failed to resolve: :razorpay-amazonpay-debug:
Affected Modules: app

[2019-11-19 06:40] athulantonynp opened #133 "Crash from SDK for `onBackPressed()` version 1.5.2"
We are getting a specific crash from SDK in Crashlytics for various devices. (Most of them are in Android Pie and Oreo). Here is the log

`
Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null object reference
       at com.razorpay.l__d$.backPressed + 3(:3)
       at com.razorpay.r_$Z$.backPressed + 7(:7)

[2019-11-19 06:47] Mayur-Wadpalliwar commented on #132
@surapuramakhil You may remove the following from the build.gradle file under app and it shall work,

[code]

[2019-11-19 06:47] #132 closed

[2019-11-19 06:51] surapuramakhil commented on #132
then how about Amazon pay?
can you make commit in master removing those lines from the master branch

[2019-11-19 07:02] sumedht commented on #133
@athulantonynp We have fixed it. Can u plz update to our latest SDK version.

[2019-11-20 14:01] #133 closed

[2019-12-09 05:00] ashiuniyal commented on #110
Yes, same prolem with upi payments, not getting response from razorpay on either success or failure functions.
amount is getting debited from account but no response.

[2019-12-09 05:22] vikasAgatsa commented on #110
Hi @ashiuniyal, Please update to the latest version

`implementation 'com.razorpay:checkout:1.5.12'`

in order to complete the payment via UPI.

[2019-12-09 05:37] ashiuniyal commented on #110
Thanks @vikasAgatsa wiil check it

[2019-12-13 13:25] bhupalreddykokkanti opened #136 "CheckoutBridge.sendAnalyticsData is not a function", source: https://api.razorpay.com/v1/checkout/public?version=1.5.12&library=checkoutjs&platform=android"
Hi ,

I am facing this issue. When entering into the Checkout Page. Can any one help me on it

[2020-01-01 10:53] sudeshim3 opened #137 "Adding API key at runtime or in some other obfuscated method."
**androidManifest.xml** contains live API key which is bad, how can we add it dynamically from a network request. the doc says

**"API keys should not be hardcoded in the app. It should be sent from your server-side as app-related metadata fetch".**

How do we do this, can you provide the link to sample explaining how to do this.

[2020-01-01 13:27] sandeepmaaram commented on #128
You need to implement `PaymentResultWithDataListener` method instead of `PaymentResultListener`

[2020-01-01 13:33] sandeepmaaram opened #138 "Toast or Dialog not displaying in onPaymentError method"
When I am loading razorpay, after that I am manually pressing back button to test failure case. But here getting default toast with **method is throwing an error. Wrap the entire code of the method inside a try catch.** message and I want to display showing error dialog here, but it is not showing up. Event toast is also not coming.

Thanks in advance.

[2020-01-02 07:14] Nithinpj commented on #88
how to integrate this in android webview

[2020-01-03 10:20] sumedht commented on #138
@sandeepmaaram If u checked in the code,  there is onError(code, response) callback gets called in this case. If u want to customize the way error get shown, you can customize it there.

[2020-01-03 10:32] sumedht commented on #137
@sudeshim3
There are ways to set an API key.
1. Using Manifest (Not recommended as described in docs)
2. Using checkout's setKeyID("Public API Key"); method
in this case you can fetch API key from server call.

[2020-01-10 09:04] mr-shitou commented on #88
hi，can u explain 1 are you using php integration for android??

hi，can u explain in more detial, thank u

[2020-01-12 13:24] ndc411 commented on #88
the key of doc ： https://razorpay.com/docs/payment-gateway/web-integration/standard/#manual;

so you need to write a h5 with some css and js that abilities to process payments.  In the last, Deploy the application,   android webview call the application's url with parameters。

[2020-01-16 03:51] mr-shitou commented on #88
I tried to deal with this problem and made some progress.
I just want use WebView，and get this problem.
There is my thinking，I override onCreateWindow method and fixup...
The rest is coding my own logic
You can search WebVIew Multi-window or can reference this link
https://blog.maurizionapoleoni.com/opening-a-window-open-in-android-without-killing-the-content-of-the-main-webview/
Good luck and hop

[2020-01-17 12:21] sid25298 commented on #88
I am getting an error {"error":{"code":"BAD_REQUEST_ERROR","description":"Input fields not set properly"}} in a new webview

[2020-01-18 11:05] 52280 commented on #9
sir , i am integrating razor pay on fragment ,

public class RepaymentFragment extends Fragment implements PaymentResultListener {

    private static final String TAG = RepaymentFragment.class.getSimpleName();

    TextView tv_id,tv_repayment,tv_loanAmount,tv_tenure,tv_dispersableAmount,tv_fee;
    TextView tv_feegst,tv_interestrate,tv_repaymentAmount;

    String id,repaymentdate,loanamount,tenu

[2020-01-18 11:12] 52280 opened #139 "Error on success"
issue = Error:onPaymentError probably not implemented in your activity.

while integrating Razor pay fragment

public class RepaymentFragment extends Fragment implements PaymentResultListener {

    private static final String TAG = RepaymentFragment.class.getSimpleName();

    TextView tv_id,tv_repayment,tv_loanAmount,tv_tenure,tv_dispersableAmount,tv_fee;
    TextView tv_feegst,tv_interestrate,t

[2020-01-21 12:03] sumedht commented on #139
@52280 Can u elaborate issue?

[2020-01-21 12:03] #138 closed

[2020-01-21 12:05] sumedht commented on #137
@sudeshim3 Hopefully above comment has solved your issue.
for reference, u can find above link
https://razorpay.com/docs/payment-gateway/android-integration/standard/#step-2---initialize-razorpay-android-standard-sdk

[2020-01-21 12:05] #137 closed

[2020-01-21 12:06] #128 closed

[2020-01-21 12:11] #119 closed

[2020-01-22 17:25] MaheshVishnu commented on #110
@ashiuniyal Did you get the solution for this problem

[2020-01-30 11:31] avinashk369 commented on #76
final Checkout co = new Checkout();

        try {
            JSONObject preFill = new JSONObject();
            preFill.put("email", "");
            preFill.put("contact", "");

            JSONObject options = new JSONObject();
            options.put("name", "XXXXXXXXXXX");
            options.put("prefill", preFill);
            options.put("description", "Payment process");
            //Yo

[2020-01-30 11:39] avinashk369 commented on #76
not working in
com.razorpay:checkout:1.5.13
@authour may reopen this issue

[2020-02-01 19:07] 52280 commented on #5
sir, I am implementing Razor pay in fragment then how to pass current reference activity to the checkout page in android. guide me it more than 5 days. I have already raise the same issues.
my code is like:
 final RepaymentFragment repaymentFragment = this;

        final Checkout checkout = new Checkout();
        checkout.setKeyID("rzp_test_xmfEfhhhgsIpkOoTR");

        //checkout.setImage(R.dra

[2020-02-12 18:41] rabisoftsolutions opened #141 "Amazon Pay intigration not working."
Please fix amazon pay intigration app crashes while enableing amazon pay intigration.

[2020-02-20 17:15] sumedht commented on #141
@rabisoftsolutions Apologies for the delayed reply,
Can u share crash log of it?

[2020-02-20 17:17] sumedht commented on #136
@bhupalreddykokkanti R u still facing this issue? Can u elaborate more on this?

[2020-02-21 15:18] Lokeswara-betha opened #145 "App Terminated when Open Payment Gateway on release mode. Working Perfect on debug mode"
This problem with solution is mentioned already in issue #42

However the solution didn't work for me.

App works fine (even without proguard rules) with flutter run --release but once we build apk & run the app, it didn't work

here is build gradle
`
buildTypes {
        release {
            signingConfig signingConfigs.release
            //shrinkResources true
            //minifyEnabled true

[2020-02-24 05:02] vivekshindhe commented on #145
@Lokeswara-betha can we get the crash-logs for the same so that it helps us analyze the issue?

[2020-03-04 06:46] exaltaenergy opened #148 "App Crashing In Checkout SDK In Android Studio Version 3.6.1 And Gradle Version 5.6.4"
App Crashing In Checkout SDK In Android Studio Version 3.6.1 And Gradle Version 5.6.4
Please Share Your SDK jar zip file with support file i will debug it of slandered sdk.

[2020-03-06 12:10] anilwarbhe commented on #136
I am also facing the same issue:
03-06 17:24:52.244 15624 15624 I chromium: [INFO:CONSOLE(1)] "Uncaught SyntaxError: Invalid or unexpected token", source: https://api.razorpay.com/v1/checkout/public?version=1.5.12&library=checkoutjs&platform=android (1)
03-06 17:24:52.245 15624 15624 I chromium: [INFO:CONSOLE(1)] "Uncaught TypeError: CheckoutBridge.sendAnalyticsData is not a function", source: htt

[2020-03-12 15:35] neha-kashware commented on #117
Try this one, i was facing the same issue and [this](https://stackoverflow.com/questions/58706014/razorpay-crashes-on-payment-page-didnt-find-class-com-razorpay-d-1-in-flut) solved it

[2020-03-13 06:28] sankar-gp opened #149 "Android custom Integration - How to enable/disable payment mode?"
Hello,

I need to disable/enable UPI, credit/debit cards, net banking and wallets whenever i need. How can i achieve it?

[2020-03-13 06:42] anwernuman commented on #149
You will have to pass the method parameter and then pass all the available option as true or false.
Will only work if contact and email are also pre-filled.
Possible values:● card● netbanking● wallet● emi● upi.

To know more about it you can follow the thread here.
https://razorpay.com/docs/payment-gateway/web-integration/standard/checkout-form/

[2020-03-13 07:27] sankar-gp commented on #81
how can i do it in android?

[2020-03-13 08:30] sankar-gp commented on #149
@anwernuman I need to know how to do it in android app side

[2020-03-23 08:20] sandeepmaaram commented on #76
This should work. use **readonly** instead of **readOnly**

[2020-03-23 08:28] sandeepmaaram commented on #76
Below code should work

[code]

I have tested with `com.razorpay:checkout:1.5.13`

**Note:** Just for kind information use key as  **readonly** instead of **readOnly** in `options` JSONObject

[2020-03-25 08:13] somendrameena commented on #125
Hey @Imranmech786 how did you resolved this error? I'm facing the same issue while integration

[2020-03-28 17:31] sandeepmaaram opened #152 "Payment "failure" callback Android standard sdk integration in test mode"
Summary is given below (Integrated Android SDK 1.5.16)

`implementation 'com.razorpay:checkout:1.5.16'`

We integrated android standard sdk integration. In test mode after payment is completed we are clicking "**Failure**" option

**Expected :** When user press on **failure**, it should redirect to application i.e callback method in respective activity

**Actual :** When user press on failure, it

[2020-04-02 06:24] sachinharne commented on #75
I have used     implementation 'com.razorpay:checkout:1.5.13'

And set the key like this :
Checkout checkout = new Checkout();
checkout.setKeyID(MY_KEY_HERE);

Still its asking me to use the key in Manifest. What should i do ? I want to set it dynamic.

Please help.

[2020-04-14 05:16] sumedht commented on #152
@sandeepmaaram Can u share what payload you are passing to SDK. It is possible that u passing
`retry = true` and because of that it's shows retry option on failure.

[2020-04-14 05:18] sumedht commented on #149
@sankar-gp U can find details here.
https://razorpay.com/docs/payment-gateway/android-integration/standard/
Let us know if something else is required.

[2020-04-14 05:20] sumedht commented on #148
can u share more details such as crash log to have more inputs on this.

[2020-04-14 05:21] sumedht commented on #145
@Lokeswara-betha Still facing same issue?

[2020-04-14 05:22] sumedht commented on #141
@rabisoftsolutions Closing this issue as there is no further communication.

[2020-04-14 05:22] #141 closed

[2020-04-14 05:23] sumedht commented on #139
@52280 Closing this as there is no further communication

[2020-04-14 05:23] #139 closed

[2020-04-14 05:24] #127 closed

[2020-04-14 05:26] sumedht commented on #110
@Ramachandran322 @ashiuniyal @MaheshVishnu Hope this issue is fixed now.

[2020-04-14 05:27] #131 closed

[2020-04-14 05:59] Lokeswara-betha commented on #145
Nope , It was resolved.

[2020-04-14 05:59] #145 closed

[2020-04-16 14:59] sandeepmaaram commented on #152
Yes `retry = true` property resolved the issue.
Thanks

[2020-04-16 14:59] #152 closed

[2020-04-18 18:15] mbchandar opened #154 "Customer payment not allowed for the subscription at this stage"
I am getting this issue

Trying to use Subscription with checkout as per doc https://razorpay.com/docs/subscriptions/api/#subscription-via-checkout

Error message
Customer payment not allowed for the subscription at this stage

public void startPayment() {
        /*
          You need to pass current activity in order to let Razorpay create CheckoutActivity
         */
        final Activity acti

[2020-04-18 18:35] shreyassridhar1 commented on #154
@mbchandar while creating the subscription, the "total_count" parameter should be more than '1'. Subscriptions is a recurring payment functionality and the value for the parameter "total_count" should always be more than 1. This parameter specifies the number of billing cycles you want your subscription to be active for. For eg: If you have created a monthly plan and your total_count parameter is

[2020-04-19 05:50] mbchandar commented on #154
your error message does not specify that. also how i do setup to have 1 month subscription only that means total_count should be 1 only right?

[2020-04-20 07:04] shreyassridhar1 commented on #154
@mbchandar Sir, if you want a 1 time payment for a 1 month subscription, then there is no use of using the subscriptions product. You might as well just use any of the other payment accepting products. Subscriptions are used when the merchant wants to accept payments automatically over a period of time.

You can create a weekly plan and accept payments per week for 1 month. Even there the total_co

[2020-04-20 07:43] mbchandar commented on #154
hello, i want to setup a trial period of 1 month with a basic amount. does your product support it?

[2020-04-20 07:46] shreyassridhar1 commented on #154
Subscriptions cannot be sent for 1 month. You can start a subscription for more than 1 month and after the first month delete the subscription. This is a workaround/hack

[2020-04-20 07:47] mbchandar commented on #154
so razorpay subscription does not support setting up of trial period of 1 month ?

[2020-04-20 07:56] shreyassridhar1 commented on #154
You could set up a trial period by assigning a date for 1 month later to the 'subscription_start_at' parameter, and the billing will start from the second month onwards.

[2020-04-20 08:15] mbchandar commented on #154
i had updated with total count as 2 and able to create subscription. but unable to make payment using test card given by razorpay for subscription. gettting payment failed. is there a sample app for subscription ?

[2020-04-20 08:19] mbchandar commented on #154
it succeeded finally in web. not in app. how to setup to collect money upfront starting today?

[2020-04-20 09:06] shreyassridhar1 commented on #154
If you want to start the subscription starting from today then dont pass the subscription_start_at parameter. The subscription will start immediately and take the 1st billing cycle payment.

[2020-04-22 17:49] Anshul1507 opened #156 "Store api key in java file?"
According to the sample app, we need to declare api key in manifest file. Can we make it like in java file, so as to pass that key from server to secure api key?

I have implemented using version [1.5.16] according to DOCs:
Checkout checkout = new Checkout();
checkout.setKeyID(MY_KEY_HERE);

Still its asking me to use the key in Manifest. What should i do ? I want to set it dynamic.

Please Help!

[2020-04-24 18:58] mehuljindal18 commented on #110
does the UPI flow pass on an Intent to other apps or does it itself open a upi app wrapper of sorts

[2020-04-25 04:37] sshakilms opened #157 "Razor-pay failed to show input fields on Lollipop and marshmallow Android SDK"
Configuration AndroidApp -

com.razorpay:checkout:1.5.13 minSdkVersion 21 targetSdkVersion 29 com.android.tools.build:gradle:3.6.3
on Lollipop and marshmallow it creating crash to solve that I override config

[code]

**it solved my crash but when Razorpay webview open that hide input fields**

![image](https://user-images.githubusercontent.com/35554241/80271282-8fb2ac80-86dc-11ea-9aa7-8098465b185

[2020-04-30 07:29] sumedht commented on #156
@Anshul1507 It should allow by setKeyID(..)function. What error u getting?

[2020-04-30 07:31] sumedht commented on #157
@sshakilms Can u share what crash u was getting?

[2020-04-30 09:02] sshakilms commented on #157
Yes, I already mentioned in this link :
https://stackoverflow.com/questions/61421022/razor-pay-failed-to-show-input-fields-on-lollipop-and-marshmallow-android-sdk

On Thu, Apr 30, 2020 at 1:01 PM sumedht <notifications@github.com> wrote:

--
Thanking You,

SHAIKH SHAKIL

[2020-05-01 21:14] Anshul1507 commented on #156
@sumedht If I use by this method, then there is no need to set api key in manifest file?
If yes, then i got the error states like "API_KEY need to be declared in manifest.xml file" <- something like this, even though I am using latest version.

[2020-05-07 10:32] pronav commented on #157
This has been fixed. thanks for reporting. Feel free to re-open if issue is still there.

[2020-05-07 10:32] #157 closed

[2020-05-07 15:17] Selvam-bestea opened #160 "1. Go to **flutterSdk folder->.pub-cache->hosted->pub.dartlang.org-> razorpay_flutter-1.1.4->android**"
1. Go to   **flutterSdk folder->.pub-cache->hosted->pub.dartlang.org upto this folder i can able to navigate but > razorpay_flutter-1.1.4->android** this not available

[2020-05-13 16:48] imsudhirsingh commented on #110
Hi All,
Same problem i am facing , transaction done successfully but i am getting payment cancelled by user response . I am not able to get to the Payment Successful intent

All expert could you please help .

I am just using UPI integration with my android studio.

[2020-05-20 17:58] Sandeepbandral opened #161 "Callback methods are not invoked with UPI Payment in background"
When I make payment from my Android app with UPI, I have to visit the UPI app to complete the payment but after completion of payment the call back methods are not invoked in background.

Call back methods are invoked only when activity comes in foreground. How do I make it work even when activity is in background?

I would really appreciate any help here.

[2020-05-30 07:58] Spikeysanju opened #162 "Razorpay Not working in fragments."

[2020-06-08 07:02] anfaas1618 commented on #162
can you log the error here ?

[2020-06-08 08:54] amarquaere opened #164 ""onPaymentSuccess and onPaymentError probably not implemented in your activity" - Xamarin Android - Razorpay Integration"
I am implementing the RazorPay payment gateway from my Xamarin Android App. Problem is that when I make the payment, callback function **onPaymentSuccess** and **onPaymentError** is not invoked. I am sharing my code, please go through it and let me know what are the changes required?

 public class **MainActivity** : AppCompatActivity
    {

        protected override void OnCreate(Bundle savedIns

[2020-06-09 10:39] #164 closed

[2020-06-12 11:07] rohitkhirid commented on #156
I'm also facing same issue.

`Please set your Razorpay API key in AndroidManifest.xml`

[2020-06-12 14:46] Anshul1507 commented on #156
Hi @rohitkhirid, i solve this issue for my app, you can check [demo](https://github.com/Anshul1507/Razorpay-Integration) here.

[2020-06-16 22:17] AdithyaMpn opened #165 "Android SDK Razorpay Checkout Crash in 1.5.17"
Android SDK Razorpay Checkout Crash in 1.5.17.
If i downgrade the android sdk version to lower version, then its working fine

crash logs:

Abstractmethod error void com.google.android.gms.tasks.OnSuccessListener.onSuccess()

[2020-06-18 10:18] sumedht commented on #136
@anilwarbhe Wanted to know what is source of this. Does app crashing or behaving unexpectedly? or it's in log?

[2020-06-18 10:51] sunil456 commented on #162
I am gating this error

W/cr_media: Requires BLUETOOTH permission
W/VideoCapabilities: Unrecognized profile/level 0/3 for video/mpeg2
I/Choreographer: Skipped 44 frames!  The application may be doing too much work on its main thread.
I/OpenGLRenderer: Davey! duration=857ms; Flags=1, IntendedVsync=71507935886419, Vsync=71508669219723, OldestInputEvent=9223372036854775807, NewestInputEvent=0, Handle

[2020-06-18 11:10] sunil456 opened #166 "Razor payment not working on fragment"
W/entsystem.mitr: Accessing hidden method Landroid/media/AudioManager;->getOutputLatency(I)I (greylist, reflection, allowed)
W/cr_media: Requires BLUETOOTH permission
W/VideoCapabilities: Unrecognized profile/level 0/3 for video/mpeg2
I/Choreographer: Skipped 44 frames!  The application may be doing too much work on its main thread.
I/OpenGLRenderer: Davey! duration=857ms; Flags=1, IntendedVsync=7

[2020-06-18 17:58] anfaas1618 commented on #162
try to add bluetooth permission

[2020-06-18 18:10] sunil456 commented on #162
But why you need Bluetooth permission

On Thu, 18 Jun, 2020, 11:28 pm anfaas1618, <notifications@github.com> wrote:

[2020-06-20 06:15] anfaas1618 commented on #162
ok so you have not added anything else in code ie it is same as master ??

[2020-06-20 06:17] sunil456 commented on #162
yes sir

On Sat, Jun 20, 2020 at 11:45 AM anfaas1618 <notifications@github.com>
wrote:

[2020-06-22 11:13] vairam07 opened #167 "razorpay crashing when start payment"
2020-06-22 16:39:47.527 11009-11009/com.example.myapplication E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.myapplication, PID: 11009
    java.lang.AbstractMethodError: abstract method "void com.google.android.gms.tasks.OnSuccessListener.onSuccess(java.lang.Object)"
        at com.google.android.gms.tasks.zzn.run(Unknown Source:4)
        at android.os.Handler.handleCallback(Han

[2020-06-22 11:38] vairam07 commented on #167
I/chromium: [INFO:CONSOLE(1)] "Uncaught TypeError: window.getDeviceDetails is not a function",

[2020-06-24 17:23] ImSaumilShah commented on #167
Im getting the same error. can anyone help here or anybody found solution to this?

[2020-06-24 17:24] ImSaumilShah commented on #167
currently to solve this issue, i downgraded razorpay dependecy level to 1.5.12.

this problem is coming in 1.5.17.

razorpay team please resolve this.

hope this helps.

[2020-06-27 17:29] sayusharma commented on #166
Its an ongoing bug from razor pay side in their latest sdk version. Please downgrade your razorpay sdk version.

[2020-06-28 14:53] vivekshindhe commented on #166
@sunil456 Can you please explain what you are trying to achieve and what it means when you say it's not working? The logs don't have anything related to razorpay. So understanding what you want to achieve here will help us to resolve this issue.

[2020-06-30 18:47] ratnakarreddy641 commented on #167
06/30 23:41:04: Launching 'app' on Xiaomi Mi A2.
$ adb shell am start -n "com.xplot.myapplication/com.xplot.myapplication.MainActivity" -a android.intent.action.MAIN -c android.intent.category.LAUNCHER
Connected to process 7359 on device 'xiaomi-mi_a2-498a021'.
Capturing and displaying logcat messages from application. This behavior can be disabled in the "Logcat output" section of the "Debugger"

[2020-06-30 18:50] ratnakarreddy641 commented on #167
on clicking PAY button  razorpay loads for a second goes blank and reverts back to app

i have tried v 1.5.15,16,17 also nothing seems working....

[2020-07-02 10:21] sunil456 commented on #162
Hi,
I am facing an issue during payment. I multiply payment amount by 100
(1000*100) as shown in tutorials given by razor team
but it's not working. let suppose i have to pay 1000 but when it goes to
razor pay it shown m 100 can you please help to resolve this

           JSONObject options = new JSONObject();
            options.put("name", customerName);
            options.put("description", ""

[2020-07-04 07:14] #162 closed

[2020-07-10 04:02] mrudultora commented on #167
I was also getting this error. My dependency was **implementation 'com.razorpay:checkout:1.5.18** .

Just downgrade the dependency . I changed it to **implementation 'com.razorpay:checkout:1.5.16** to solve this issue currently.
Hope, this will help you. It worked completely in test mode , and, remember to include proguard rules also...
`-keepclassmembers class * {
    @android.webkit.JavascriptIn

[2020-07-10 10:04] ratnakarreddy641 commented on #167
just Remove This Line in startPayment Method
options.put("order_id", Order_#j76ujhdu);

This Will Work With Any Dependency I guess !

Worked in Testmode

[2020-07-10 10:16] mrudultora commented on #167
@ratnakarreddy641  I also got the same error and I was not using such parameter in options.put()
When I changed the dependency version to a lower one it worked just fine.
So, I think this issue is not because of options.put()

[2020-07-10 10:30] ratnakarreddy641 commented on #167
It is not bcoz of options.put().
It is bcoz of order_Id parameter field

Which it need to be connected to ORDERS API  of Razorpay

[2020-07-10 12:20] rahuldange09 opened #169 "Custom Payment not descriptive"
Hello, We are implementing razorpay's custom payment SDK. As we were going through the docs of it, on first page of android custom SDK integration, we came across this line.

As this says auto otp reading feature. This feature for what? Which OTP you talking about and also the manifest's code below this line doesn't have that otp permission line.
We thought it is for netbanking or card payment's b

[2020-07-11 09:50] santosh3700 commented on #76
This is working like this.
Inside the **option** variable just create the JSON yourself

`const options = {
   //other data
    prefill: {
        //prefill data
    },

    readonly: {
    	email: true,
    	contact: true
    }
};`

[2020-07-14 03:25] KhyatiMehta3 commented on #76
Hi Santosh
Thank you very much for getting back on this thread. I will try it out and
get back to you!

Thanks & Best Regards,
Khyati.

On Sat, 11 Jul 2020 15:20 Santosh Devnath, <notifications@github.com> wrote:

[2020-07-14 18:23] souvikdas2411 commented on #136
In the log. Please help.

[2020-07-14 18:23] souvikdas2411 commented on #136
In the log. Please help.

[2020-07-15 11:08] pravingaikwad07 opened #172 "Android app crashing with following crash log in release build"
Fatal Exception: android.view.InflateException
[code]

Caused by java.lang.reflect.InvocationTargetException
java.lang.reflect.Constructor.newInstance0

[code]

[code]

[2020-07-22 05:46] sumedht commented on #172
@pravingaikwad07 Can u provide more details like Razorpay SDK version, Android OS version, Frequency of issue..

[2020-07-22 10:14] pravingaikwad07 commented on #172
@sumedht Razor pay sdk :
implementation 'com.razorpay:checkout:1.5.16'
Android Mobile : One Plus 6T
Android Version : 10

[2020-07-23 07:08] vivekshindhe commented on #169
@rahuldange09 Glad, you reached out to us. Razorpay SDKs use two types of SMS retrieval options. One, the SMS_PERMISSIONS in the manifest file. Second, the SMS_RETRIEVER APIs provided by Google, in case the merchant doesn't want to use the global permissions as Play Store is coming down on it. You can use either. And it is only for netbanking right now. Working to bring it to Card transactions and

[2020-07-23 07:26] sumedht commented on #172
@pravingaikwad07 we tried at our end but not able tp reproduced. Can u check with integration in our sample app to make sure it's align with yours. Also can u run same sample app in your device & check if it's reproducible.
https://razorpay.com/docs/payment-gateway/android-integration/standard/

[2020-07-23 08:12] rahuldange09 commented on #169
@vivekshindhe Thank you for the reply.
Until you update the document, can you please give us steps here to achieve auto OTP reading feature. As our customers are facing this we want to fix it as soon as possible.

[2020-07-23 13:58] snehachandiyekar opened #174 "Uncaught TypeError: window.getDeviceDetails is not a function"
While integrating RazorPay Standard SDK for Android in test mode, receiving this log in Logcat console:

`I/chromium: [INFO:CONSOLE(1)] "Uncaught TypeError: window.getDeviceDetails is not a function", source: https://api.razorpay.com/v1/checkout/public?version=1.5.16&library=checkoutjs&platform=android (1)`

and neither "onPaymentError" nor "onPaymentSuccess" method is getting called

Razorpay SDK

[2020-07-24 05:09] Dhamu143 commented on #110
I am also facing the same issue, I have integrated Razorpay in Angular/Node . Its working fine with cards transactions but not working with UPI integration

[2020-07-24 06:07] vivekshindhe commented on #174
@snehachandiyekar the above error shouldn't cause a problem with the payment transaction. Would you mind showing us the logs for this?

[2020-07-24 06:09] vivekshindhe commented on #169
@rahuldange09 sure thing. Could please let us know the SDK version of the Razorpay SDK you are using currently?

[2020-07-24 07:52] snehachandiyekar commented on #174
Yeah you were right. I had implemented payment in Fragment and it expects `PaymentResultWithDataListener` to be implemented in Activity. So now I'm capturing callbacks in Activity and passing it to the Fragment. Payment is working for me now.

"Uncaught TypeError" logs are still there:

[code]

[2020-07-24 07:54] vivekshindhe commented on #174
@snehachandiyekar glad you were able to sort the problem. The Uncaught TypeError is unrelated to the process. So it shouldn't be a problem. Closing this ticket. Reach out to us in case you have any other issues.

Thanks,
Vivek,
Razorpay

[2020-07-24 07:54] #174 closed

[2020-07-24 13:57] rahuldange09 commented on #169
@vivekshindhe Latest one which is mentioned in your custom SDK docs. v3.8.10

[2020-07-26 03:51] nitinsurana opened #175 "Please update the docs to mention that keyId needs to be in manifest.xml"
According to the current [docs](https://razorpay.com/docs/payment-gateway/android-integration/standard/), keyid is set inside the activity. But this sample app clearly demonstrates & works when the api key id is set in manifest.xml instead.

Please update the docs for the same.

PS: Thanks for this app; it's very helpful.

[2020-07-27 03:41] vivekshindhe commented on #175
@nitinsurana Thanks for reaching out to us. Could you maybe send us the logs you are getting for this error? The library was developed so that the key_id can be set from either AndroidManifest of an Activity of the user's choice.

Can you please try with this once,

and remove the metadata key from the Manifest file completely.

We are not able to reproduce this issue on our end. It'd be very help

[2020-07-27 06:05] vivekshindhe commented on #169
@rahuldange09 Hey, sorry for the late info. It turns out we are apparently disabling that feature for net banking due to many such reasons. You can safely remove the SMS permissions from your app for the same. Will be closing this ticket now. Let us know if you have any other issues with the integration.
Thanks,
Vivek Shindhe

[2020-07-27 06:05] #169 closed

[2020-07-27 10:30] nitinsurana commented on #175
I'm no longer able to reproduce it; strangely.

Thanks for replaying, close this for now.

[2020-07-27 10:30] #175 closed

[2020-07-28 03:31] ShubhraRao commented on #112
I am still getting the above error. It works fine when I run the RazorPay app individually. But when it is integrated with other packages, it is giving me this error. Please help me out.

[2020-07-28 07:15] vivekshindhe commented on #112
@ShubhraRao Thanks for reaching out to us.

Is it possible that you are using Razorpay SDK through that library? Or use it in any case? From the logs and the issue told by the issuer of the post, this seems like a proguard issue. Also, are you facing this issue in both debug & release modes?

[2020-08-05 19:18] shubham0728 opened #178 "Android --- Caused by java.lang.SecurityException"
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{}: java.lang.SecurityException: Permission Denial: checkClipboardServiceCallingUser from "" asks to run as user 31 but is calling from uid u0a523; this requires android.permission.INTERACT_ACROSS_USERS_FULL
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3374)
       at android.app.Ac

[2020-08-06 06:44] vivekshindhe commented on #178
Hey @shubham0728, thanks for reaching out to us. We have released a new version 1.6.2. Can you please try with that and see if you are facing the issue again?

[2020-08-06 06:49] vivekshindhe commented on #178
Also, as a side note, this doesn't look like an issue being caused by the SDK. Could you maybe look into StackOverflow for some suggestions on this?  [Here's something I found](https://stackoverflow.com/questions/28134128/android-permission-interact-across-users-full)

[2020-08-06 06:52] shubham0728 commented on #178
@vivekshindhe will check that.

[2020-08-09 16:39] shubham0728 commented on #178
@vivekshindhe still not working on android 10 device. Getting the same crash

[2020-08-09 18:19] vivekshindhe commented on #178
I saw the error. But there's nothing to point towards saying it's an error
because of the SDK in the logs you've provided here. Some more input would
be helpful.

On Sun, 9 Aug, 2020, 10:09 pm Shubham Singhal, <notifications@github.com>
wrote:

--
--------------------------------------------------------------------------------------------------------------------------------------------------------

[2020-08-10 06:10] shubham0728 commented on #178
Checkout.preload(getApplicationContext());

My app is crashing on checkout method in android 10

[2020-08-10 06:15] vivekshindhe commented on #178
Okay. Did you try giving it ActivityContext and not applicationContext? This is the first time we are seeing this error. So Please try this out and let us know if it solves the issue for you. Thank you.

[2020-08-10 06:38] shubham0728 commented on #178
still the same issue.

[2020-08-10 06:38] shubham0728 commented on #178
can we get on a call if possible?

[2020-08-10 09:06] #172 closed

[2020-08-10 09:07] sumedht commented on #165
@AdithyaMpn Plz update to latest v1.6.3

[2020-08-10 09:07] #165 closed

[2020-08-10 09:34] AdithyaMpn commented on #165
Thank you!

On Mon, Aug 10, 2020, 2:37 PM Sumedh <notifications@github.com> wrote:

[2020-08-11 09:20] vivekshindhe commented on #178
@shubham0728 can you give us more details about which profile have you installed in, and such? From the logs it's clear that this isn't a normal issue and would require some deepdiving.

[2020-08-17 05:15] SaurabhGaddelpalliwar commented on #110
For UPI ,
  final Checkout co = new Checkout();
 JSONObject options = new JSONObject();
options.put("payment_capture", "1"); // add this line in your json  (payment_capture is always default 0) for UPI it should be 1.

 co.open(activity, options);

[2020-08-18 02:06] sumedht commented on #167
@vairam07 @ImSaumilShah @ratnakarreddy641 @mrudultora
Apologise for inconvenience. We have released a stable updated version of SDK 1.6.3 with a crash fix, bug fix, more detail error message & many other fixes/features. Please do update to latest version of SDK.

[2020-08-18 02:06] #167 closed

[2020-08-18 02:08] sumedht commented on #160
@Selvam-bestea We have updated to latest version of Flutter SDK version. Please do check https://github.com/razorpay/razorpay-flutter

[2020-08-18 02:08] #160 closed

[2020-08-18 02:10] sumedht commented on #148
@exaltaenergy Have any more details?

[2020-08-18 02:29] #149 closed

[2020-08-18 02:32] sumedht commented on #161
@Sandeepbandral PSP apps give callback in **onActivityResult()** method so it will come when activity is in foreground.

[2020-08-18 02:32] #161 closed

[2020-08-18 02:33] sumedht commented on #178
@shubham0728 Any update on this?

[2020-08-18 02:34] sumedht commented on #166
@sunil456 @sayusharma Any update on this?

[2020-08-18 02:45] sumedht commented on #136
@souvikdas2411 want more details like what exactly it causing. Does app crashing/behaving unexpectedly, version of SDK.

[2020-08-21 05:54] sumedht commented on #117
@shashankmeddo @abhijeet971992 @neha-kashware
U need to add proguard rules as mention in documents. Also, update to the latest version of SDK 1.6.3
https://razorpay.com/docs/payment-gateway/android-integration/custom/proguard/

[2020-08-21 05:54] #117 closed

[2020-08-24 05:35] sumedht commented on #96
Closing this ticket as there is the flutter SDK available
https://github.com/razorpay/razorpay-flutter

[2020-08-24 05:35] #96 closed

[2020-08-24 05:37] sumedht commented on #178
@shubham0728 r u still facing this issue?

[2020-08-24 06:06] shubham0728 commented on #178
@sumedht yes the issue is fixed. Not linked to the sdk. There was some method reflection issue. Had to rename a method name.

[2020-08-24 06:06] #178 closed

[2020-08-24 15:49] sunil456 commented on #166
#sumedht

No But u you can use interface for calling razor pay in your fragment.

[2020-08-28 06:33] mwshubham commented on #105
+1
 We are using implementation 'com.razorpay:checkout:1.5.5'

[2020-08-28 06:40] mwshubham commented on #120
I guess you mean bot testing not bat mobile.

[2020-08-28 11:51] vivekshindhe commented on #105
@mwshubham we are now currently at 1.6.2 version. Could you please update and check?

[2020-08-29 08:30] cw-gawdeprasad commented on #81
Can I do this enabling and disabling of payment options via RazorPay dashboard? I would like to disable certain payment options and I have the Standard plan.

[2020-08-30 12:17] mahendradabi commented on #136
following error printed in logcat and screen apear blank not even able to back the screen need to kill the app and restart
2020-08-30 17:41:04.333 13017-13017/com.ahaar.india I/chromium: [INFO:CONSOLE(1)] "Uncaught TypeError: CheckoutBridge.sendAnalyticsData is not a function", source: https://api.razorpay.com/v1/checkout/public?version=1.5.16&library=checkoutjs&platform=android (0)
2020-08-30 17:

[2020-08-31 05:40] vivekshindhe commented on #136
@mahendradabi Thanks for reaching out to us. Could you please use our latest SDK

Also, please cross verify the apiKeys once. Just for the sake of covering all bases. Let us know if the issue still persists.

[2020-09-01 07:50] hidur opened #182 "Back press from Razorpay activity to app side activity get blank content"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Android SDK to make sure your issue has not already been fixed.

## Razorpay SDK Version :
Open `build.gradle`. > Copy `com.razorpay` version here or github URL.

## Android OS Version :
Any specific android version if this issue is only occuring o

[2020-09-01 07:59] #182 closed

[2020-09-20 15:02] kamleshch86 commented on #136
In above case must sure that your app icon size should be maximum 512X512 px ......generally it raise this kind of problem...

[2020-09-23 06:55] #18 closed

[2020-09-23 06:56] #31 closed

[2020-09-23 06:58] #55 closed

[2020-10-02 08:43] itsmeJithin opened #185 "Razorpay Payment Blank Screen"
## Description

When initiating the payment, Razorpay shows a blank white screen. I have tried with latest android SDK version

## Razorpay SDK Version :
 `build.gradle`. > `com.razorpay:checkout:1.6.3`

## Android OS Version :

Android Version 10

### What you did:

I will create an order from the backend and it will send to the android application. When the user clicks the pay now button, Razorp

[2020-10-03 11:41] akshay-rirev commented on #81
I need to block specific UPI payment, like google_pay How to do that

[2020-10-08 06:39] akshaystreak commented on #124
Refer this
https://stackoverflow.com/questions/58706014/razorpay-crashes-on-payment-page-didnt-find-class-com-razorpay-d-1-in-flut

[2020-10-13 13:43] cr7rahul opened #188 "I added this version of the SDK implementation 'com.razorpay:checkout:1.6.3' and after uploading to Play Store i'm getting this message from Google Your app(s) are vulnerable to Intent Redirection."
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Android SDK to make sure your issue has not already been fixed.

## Razorpay SDK Version :
Open `build.gradle`. > Copy `com.razorpay` version here or github URL.

## Android OS Version :
Any specific android version if this issue is only occuring o

[2020-10-13 13:49] immohanravi commented on #136
Yeah this is the problem

[2020-10-14 06:39] AYAN249 commented on #188
Kindly upgrade to the latest version and integrate accordingly at your end.
https://mvnrepository.com/artifact/com.razorpay/checkout

[2020-10-14 07:40] jamilxt commented on #92
did you able to pull it off?

[2020-10-17 12:38] 317056658 opened #189 "com.razorpay:checkout:1.6.3 Flash back Bug and Other bug"
Problem 1: The first time razorpay SDk is called to open the RazorPay interface (CheckoutActivity), and the second time, the interface (CheckoutActivity) is not affected normally.
Android Studio reported the following error:
Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.l_$w$$2@5d58d2f that was originally registered here. Are you missing a call to unregisterReceiver

[2020-10-19 14:46] #188 closed

[2020-10-21 06:52] sumedht commented on #78
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 06:52] #78 closed

[2020-10-21 06:53] sumedht commented on #84
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 06:53] #84 closed

[2020-10-21 06:56] sumedht commented on #87
@amychaudhary Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 06:56] #87 closed

[2020-10-21 06:58] sumedht commented on #88
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 06:58] #88 closed

[2020-10-21 06:59] sumedht commented on #92
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 06:59] #92 closed

[2020-10-21 07:00] sumedht commented on #94
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:00] #94 closed

[2020-10-21 07:01] sumedht commented on #110
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:01] #110 closed

[2020-10-21 07:03] sumedht commented on #136
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:03] #136 closed

[2020-10-21 07:04] sumedht commented on #148
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:04] #148 closed

[2020-10-21 07:07] sumedht commented on #154
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:07] #154 closed

[2020-10-21 07:08] sumedht commented on #185
@itsmeJithin still facing the same issue? Can u try to reproduce by connecting to different nw

[2020-10-21 07:10] sumedht commented on #189
@317056658 we have fixed this issue in our latest v1.6.4 plz update to that version

[2020-10-21 07:10] #189 closed

[2020-10-21 07:10] sumedht commented on #156
Closing this issue due to no response from your side. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:10] #156 closed

[2020-10-21 07:11] sumedht commented on #166
Closing this issue due to no further communication. Please feel free to either re-open the issue or create a new issue if you have any additional queries.

[2020-10-21 07:11] #166 closed

[2020-10-21 07:11] #107 closed

[2020-10-21 13:08] 317056658 commented on #189
thanks  Handsome

[2020-10-23 07:07] vasudev4689 commented on #5
dd

[2020-10-26 10:53] 317056658 opened #190 "com.razorpay:checkout:1.6.4 bug error"
question1： com.razorpay.checkout: Error reading options!
    org.json.JSONException: No value for send_sms_hash，invoke SDK error，The page won't open。

How to solve the problem?

[2020-10-26 10:57] vivekshindhe commented on #190
Hey @317056658

Thanks for reaching out to us! The error isn't actually a fatal exception. There must be some other issue. But if you want to solve this add this to the json payload

json.put("send_sms_hash",true)

Although, would like to ask you to send the logs as well.

[2020-10-28 03:23] 317056658 commented on #190
@vivekshindhe   com.razorpay:checkout:1.6.4    There is no corresponding document reference
To solve all the problems you encounter?

[2020-10-28 03:47] vivekshindhe commented on #190
@317056658 its a continuous WIP. Will be updated soon. Hope this solved your issue?

[2020-10-29 07:43] 317056658 commented on #190
@vivekshindhe   thank you

[2020-10-29 10:35] 317056658 commented on #190
@vivekshindhe   Android studio prompt: ActivityThread: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.CheckoutPresenterImpl$1@816cd5 that was originally registered here. Are you missing a call to unregisterReceiver()?
    android.app.IntentReceiverLeaked: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.CheckoutPresenterImpl$1@816cd5 that

[2020-11-06 10:09] sambit-m opened #191 "1.5.16 -> IllegalArgumentException Service not registered: com.razorpay.AdvertisingIdUtil$R$$r_@3b75ed7"
## Description

Crash in production [Version **1.5.16**]:
 **IllegalArgumentException, Service not registered: com.razorpay.AdvertisingIdUtil$R$$r_@3b75ed7**

![image](https://user-images.githubusercontent.com/11912046/98352479-10ffda00-2044-11eb-8245-219ba9791521.png)

## Razorpay SDK Version :
com.razorpay:checkout:1.5.16

## Android OS Version :
realme 5pro, Android 10

It happened in productio

[2020-11-06 10:11] sumedht commented on #191
@sambit-m There was an issue with our older SDK which was not compatible with Android 10. Please update to the latest version of SDK 1.6.4

[2020-11-06 10:13] sambit-m commented on #191
@sumedht yep I just saw it but seems like it's still in WIP. Please confirm once again to update.

[2020-11-06 10:14] sumedht commented on #191
@sambit-m u can update to 1.6.4

[2020-11-06 10:16] #191 closed

[2020-11-06 10:26] sambit-m commented on #191
@sumedht Please update the docs/changelogs with release tags and **gradle isn't even notifying the update**.

[2020-11-06 15:24] mpnihad commented on #76
The position where

JSONObject readonly = new JSONObject();
readonly .put("email", "true");
readonly .put("contact", "true");

options.put("readonly", readonly );

this code is added matters when i put them below the prefill it worked
or try putting it at the end

[2020-11-18 05:26] goswamiji0 commented on #190
I'm also facing the same issue
 Android studio prompt: ActivityThread: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.CheckoutPresenterImpl$1@816cd5 that was originally registered here. Are you missing a call to unregisterReceiver()?
android.app.IntentReceiverLeaked: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.CheckoutPresenterImpl$1

[2020-11-21 13:12] rommansabbir opened #194 "Showing Blank Screen After Payment"
## Description

Please provide a clear and concise description of what the bug is. Include screenshots if needed.
Please test using the latest Razorpay Android SDK to make sure your issue has not already been fixed.

## Razorpay SDK Version :
Open `build.gradle`. > Copy `com.razorpay:checkout:1.5.16`

## Android OS Version :
Android 10, API 29

### What you did:

I have tried to make payment with

[2020-11-24 07:57] vivekshindhe commented on #194
Hey @rommansabbir
Could you send us some more details? Like the payload you are sending. and also, if possible could you please try it on an actual device? Also, please use the updated version, 1.6.4

[2020-11-24 13:40] rommansabbir commented on #194
Yeah, sure. I will update the dependency & try on real device. Note that: I have created more transaction in LIVE mode, it's working fine, This is a one time issue.

[2020-12-11 09:19] Dev-Akash commented on #156
Hi there,
I also came here for the solution of the above issue, but later on i came to realize that the issue was not with the setting of the key_id with `.setKeyID()` function, rather it was with the parameter `activity` we pass at the time of `Checkout.open()`.

Here is the error log:

2020-12-11 14:40:27.511 5476-5476/com.pareekshahub.quiz E/QuizActivity: Error in starting Razorpay Checkout

[2020-12-11 09:42] Dev-Akash commented on #156
One more Question, is it okay to keep the api_key in androidManifest.xml file or not ? @sumedht

[2020-12-14 05:59] Anshul1507 commented on #156
There is an option to set api_key dynamically. you can check [here](https://github.com/Anshul1507/Razorpay-Integration) for demo.

[2020-12-17 14:12] RCuztomise commented on #152
How i can set the payload?

[2021-01-07 11:11] gokulakshay opened #197 "v 1.5.13 aar I am writing a binding library for Xamarin and running into the issue"
window.getDeviceDetails is not a function

[2021-01-12 06:01] prateekgupta22195 opened #199 "Crash from v1.6.4"
Fatal Exception: java.lang.RuntimeException: Error receiving broadcast Intent { act=com.google.android.gms.auth.api.phone.SMS_RETRIEVED flg=0x200010 pkg=xxx.xxx.xxx (has extras) } in com.razorpay.AutoReadOtpHelper@cd2d239
       at android.app.LoadedApk$ReceiverDispatcher$Args.lambda$getRunnable$0$LoadedApk$ReceiverDispatcher$Args(LoadedApk.java:1566)
       at android.app.-$$Lambda$LoadedApk$Rece

[2021-01-15 19:11] ravisharma46 opened #200 "getting a blink on screen"
## Description

whenever i start a payment activity it gives me a blink. which is not a good experience for user. i am using  Checkout.preload(getApplicationContext()); in onCreate method.

## Razorpay SDK Version :
implementation 'com.razorpay:checkout:1.5.16'

## Android OS Version :
android 9

### What you did:

 i am opening a payment activity where i have a button for user to start a payment.

[2021-01-18 05:48] vivekshindhe commented on #200
@ravisharma46 Hey, thanks for letting us know. The SDK has been upgraded to version '1.6.4'. Please try with that. If the issue still persists we'll take this ticket forward.

[2021-01-18 06:16] ravisharma46 commented on #200
after updating to version 1.6.4 still I am getting a blink on opening my payment activity. My payment activity extends to AppCompatActivity.

Please look into this and resolve my issue asap. we have to rollout our app to production.

[2021-01-18 06:19] vivekshindhe commented on #200
@ravisharma46 is it possible for you to share a video of the same please?

[2021-01-18 06:27] ravisharma46 commented on #200
https://drive.google.com/file/d/1O64a9ZzjoloYjkSvfx30Yb0SZSAeXpnx/view?usp=sharing

please see this video.

[2021-01-18 06:36] vivekshindhe commented on #200
@ravisharma46 Saw the video. Is there a reason you concluded that this blink was due to razorpay?

[2021-01-18 06:37] vivekshindhe commented on #200
is the issue that the PaymentActivity isn't loading?

[2021-01-18 06:38] ravisharma46 commented on #200
yes the blink was due to razorpay. I am using Checkout.preload(getApplicationContext()); in onCreate method. if i remove this i won't get a blink.

[2021-01-18 06:39] ravisharma46 commented on #200
everything is working fine only the isssue is that i got blink on opening payment activity.

[2021-01-18 06:41] vivekshindhe commented on #200
you can try doing the preload before you initialize the views in this activity.

[2021-01-18 07:37] ravisharma46 commented on #200
i am still facing same issue. I have initialize preload before setContentView()

[2021-01-19 19:26] moinahmed9999 commented on #9
@52280
Implement the PaymentResultListener or PaymentResultWithDataListener(which I have done in the example) in the parent activity and notify the fragment about the event using a [ViewModel](https://developer.android.com/guide/fragments/communicate#viewmodel)
See : https://developer.android.com/guide/fragments/communicate#viewmodel

Create a ViewModel called SharedViewModel like:

    public cla

[2021-01-29 06:15] rahulsharmagbpec opened #202 "Playstore reject app update for policy violation"
My application is getting reject from playstore because of policy violation of Intent Redirection,
tried with razorpay version 'com.razorpay:checkout:1.6.5' and 'com.razorpay:checkout:1.6.3'
screen shot is attached for reference from playstore support email
![Screen Shot 2021-01-29 at 10 00 41 AM](https://user-images.githubusercontent.com/12457008/106238649-3e18ee80-6227-11eb-8d9d-352fa48ec6e7.png

[2021-01-29 07:16] sumedht commented on #199
@prateekgupta22195 Have u check with our latest SDK version? we have fixed this issue.
If u still face the same issue, u can reopen the ticket

[2021-01-29 07:16] #199 closed

[2021-01-29 07:20] vivekshindhe commented on #202
This issue has been resolved by version 1.6.5. In Google app submissions for testing there's a testing track where all versions of the apps are subjected to check. The testing track includes version of the app which has this vulnerability. This is reaffirmed by the message from google. App bundles with versions xxx and xxx have this vulnerability and not the next versions. Removing this should res

[2021-02-04 18:15] sudeshim3 opened #204 "Razorpay doesn't open PhonePe app in intent flow"
## Description

I am integrating Razorpay custom SDK in android app, I have 3 payment methods. Google Pay, PhonePe and PayTm. Both Google pay and PayTm launch successfully with the intent flow.
```val GOOGLE_PAY_PACKAGE_ID = com.google.android.apps.nbu.paisa.user```
and putting this ```put("upi_app_package_name", vpaOrPackageName)``` in payload opens google play perfectly.
However, if I try to do

[2021-02-05 05:20] sumedht commented on #204
@sudeshim3 can u plz try to pass `com.phonepe.app`. I think u passing `com.phonePe.app`

[2021-02-05 05:21] sumedht commented on #202
@rahulsharmagbpec Hopefully this issue got resolved now. If u still facing this issue u can reopen ticket.

[2021-02-05 05:21] #202 closed

[2021-02-05 05:23] rahulsharmagbpec commented on #202
yes this is resolved now, thank you

On Fri, Feb 5, 2021 at 10:52 AM Sumedh <notifications@github.com> wrote:

[2021-02-05 06:47] sudeshim3 commented on #204
@sumedht , No I tried changing it but it didn't help. Moreover If you notice in the app Id of phonepe its all smallcap https://play.google.com/store/apps/details?id=com.phonepe.app.

Result:
![image](https://user-images.githubusercontent.com/34063388/106999274-e7be2980-67ab-11eb-9610-39e5e341c971.png)

I get the razorpay app chooser. And if you notice PhonePe app isn't shown in the apps list.

[2021-02-05 06:54] sudeshim3 commented on #204
[code]

If I pass `"net.one97.paytm"` Paytm app is launched successfully and If I pass "com.google.android.apps.nbu.paisa.user" Google pay is launched. However, phonepe doesn't open when app Id of phonepe is used.

[2021-02-05 07:17] sudeshim3 commented on #204
I checked the source code of file `BaseRazorpay.kt`
The function `getApppsWhichSpportUpi` checks for the deeplink. `upi://pay`. In such case, PhonePe wouldn't show up because It doesn't support the intent flow. I was assuming that Razorpay has a custom webview or it internally handles payment flow on behalf of PhonePe. If PhonePe is not supported kindly update the documentation.

       public sta

[2021-02-05 08:09] sumedht commented on #204
@sudeshim3 PhonePe uses `upi://pay` only. It's not reflecting in a list because the app may not be linked to a bank account. PhonePe uses smart intent & that's why it's not reflecting in supported UPI app.
To solve this, plz check device on which u r running app has PhonePe & linked to a bank account. If it's just installed & not linked to a bank account, It will not get shown.

[2021-02-05 08:39] sudeshim3 commented on #204
@sumedht , Yes it worked. I didn't link my UPI with a bank account in PhonePe and that's the reason it didn't show up.
 Didn't doubt this because HDFC Pay and Axis Mobile show UPI create flow. Now that's something to do with PhonePe specific flow. Thanks again.

[2021-02-05 08:39] #204 closed

[2021-02-05 10:37] vivek8417 commented on #81
I need to block specific UPI payment, like google_pay How to do that

[2021-02-15 09:52] JagadeeshDamarasingu commented on #200
I'm guessing, the issue is not a blink of screen, Its a crash.  @ravisharma46, If u can add Additional Logs, it would be helpful in analyzing the what's happening

[2021-02-15 12:25] JagadeeshDamarasingu commented on #190
@vivekshindhe , @goswamiji0, @317056658 This issue still exists in 1.6.5

E/ActivityThread: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.CheckoutPresenterImpl$1@f3190d3 that was originally registered here. Are you missing a call to unregisterReceiver()?
    android.app.IntentReceiverLeaked: Activity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorp

[2021-02-15 12:47] Aravindh1505 commented on #5
We have to use onPaymentSuccess and onPaymentError in MainActivity if you are using fragments.

[2021-02-16 06:49] karun02525 commented on #152
not working

[2021-02-16 07:24] sumedht commented on #152
@karun02525 can u plz elaborate more on this? It will help us to understand ur query & we can help u out in that

[2021-02-16 10:41] karun02525 commented on #152
Hi,
I am trying to implement android razorpay sdk everything is success but i am fecing failures response it not call errors methods.

I'm useing callback interface with PaymentResultWithDataListener instead of PaymentResultListener.

Please update me quickly.

[2021-02-16 12:17] sumedht commented on #152
@karun02525 Have u checked with sample app code? does callback listeners not getting triggered?

[2021-02-17 05:43] karun02525 commented on #152
I have already checked everything success method called but failure method not call

[2021-02-19 05:33] vivekshindhe commented on #152
@karun02525 If possible can you create a sample project where you can reproduce this issue so we could look at it? We've never had this issue. This will help us look into this in a detailed manner.

[2021-02-24 12:58] karun02525 opened #206 "PaymentResultListener"
Hi,
I am trying to implement android Razorpay SDK everything is a success but I am fencing failures response it did not call errors methods.

I'm using a callback interface with PaymentResultWithDataListener instead of PaymentResultListener.

Please update me quickly. please help me urgent 8920828585

[2021-02-25 10:12] PembaTamang commented on #167
same error with the 1.6.5 sdk
`Webview JS Error: Uncaught TypeError: window.getDeviceDetails is not a function`
the screen says that there is an error with the payment and when I hit close an IntentReceiver is leaked

[code]

[2021-02-25 10:14] PembaTamang commented on #190
same issue here with the 1.6.5 sdk

[2021-02-25 10:34] PembaTamang opened #207 "Failed Payment with the latest sdk"
I am using the latest sdk 1.6.5
with the same kotlin code from this repo.

The first error when I start the payment.

` E/com.razorpay.checkout: Webview JS Error: Uncaught TypeError: window.getDeviceDetails is not a function`

after I leave the activity an IntentReceiver is leaked

[code]

[2021-02-27 04:26] ServeMyTable commented on #154
Then we need to create subscription each time we are out of total_count ?

[2021-02-28 13:48] pmpavan commented on #92
Any documentation to help integrate subscription using RazorPay Android SDK?

[2021-03-01 05:36] sumedht commented on #207
@PembaTamang Checking with it. Meanwhile, u can use our latest SDK version 1.6.6

[2021-03-01 05:37] sumedht commented on #206
@karun02525 can u elaborate more on
`but I am fencing failures response it did not call errors methods.`

[2021-03-02 04:45] sumedht commented on #92
@razorpay/techpgintegrations plz help with this

[2021-03-02 04:59] PraveenGirishNadumani commented on #92
@pmpavan  Subscription/Recurring is the backend implementation, please follow the [subscription doc](https://razorpay.com/docs/api/subscriptions/) and for Android follow the same steps mentioned in the [Android doc](https://razorpay.com/docs/payment-gateway/android-integration/standard/). While [initiating](https://razorpay.com/docs/payment-gateway/android-integration/standard/#initiate-a-payment)

[2021-03-02 05:05] karun02525 commented on #5
Hi,
I am trying to implement android Razorpay SDK everything is a success but I am facing failures in response it does not call errors methods.

I'm using a callback interface with PaymentResultWithDataListener instead of PaymentResultListener.

Please update me quickly.

[2021-03-09 10:23] KrishHari commented on #206
@sumedht facing the same issue. We are using version 1.6.6. After opening the Checkout page and then pressing back button getting Toast message "Your onPaymentError  method is throwing an error. Wrap the entire code of the method inside try catch"
We were getting the callback to onPaymentError in the 1.5.x versions.

[2021-03-10 06:43] sumedht commented on #206
@KrishHari We have checked with our SDK & sample app. It's not reproduced. Have u faced this issue in some specific scenario? if possible can u share a video of it for better understanding. Also, u can share the payload ur passing?

[2021-03-10 06:56] sumedht commented on #200
@ravisharma46 No need to call pre-load. U can follow the documentation where we are calling directly open method with checkout's object.
https://razorpay.com/docs/payment-gateway/android-integration/standard/

[2021-03-10 06:56] #200 closed

[2021-03-10 06:57] sumedht commented on #197
@gokulakshay is this error ur getting while executing? can u plz provide more details on which lib version u wanted to create wrapper?

[2021-03-10 07:01] sumedht commented on #194
@rommansabbir We also faced this issue & found that this issue is on the emulator only. Maybe a configuration or network related issue based on the environment it is running. On a real device, it's working as expected even in a lower network.
Closing this issue as of now as it's reproducible on an emulator only. Feel free to re-open if u want to add some inputs in this.

[2021-03-10 07:01] #194 closed

[2021-03-10 07:12] sumedht commented on #190
@317056658 @PembaTamang Looking into this. Probably we will release it in early next week

[2021-03-12 10:52] KrishHari commented on #206
@sumedht The issue is not reproduced on the sample app. Probable cause is because there is a fragment in our usecase. the payment is initiated from the fragment which opens the CheckoutActivity and on clicking back button, the parent activity which hosted the fragment is not receiving the onPaymentError call back. the same was working fine in your 1.5.X versions.

[2021-03-12 11:32] vivekshindhe commented on #206
Can you send the code for onPaymentError here? @KrishHari

[2021-03-15 11:56] rohit-337 commented on #206
Make the second and third parameters nullable on the `onPaymentError` callback while you implement it.
For eg: `override fun onPaymentError(errorCode: Int, errorMessage: String?, paymentData: PaymentData?) `

[2021-03-17 04:28] Mustangodhra commented on #9
I tried this code but i am getting an error which shows:

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.saiftechnology.eventpool, PID: 15810
    java.lang.RuntimeException: **Unable to start activity ComponentInfo{com.saiftechnology.eventpool/com.saiftechnology.eventpool.student.studentAccount}: java.lang.RuntimeException: Cannot create an instance of class com.saiftechnology.eventpool.

[2021-03-17 04:34] Mustangodhra opened #210 "unable to integrate Razorpay in Fragment"
I tried this code but i am getting an error which shows:

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.saiftechnology.eventpool, PID: 15810
    java.lang.RuntimeException: **Unable to start activity ComponentInfo{com.saiftechnology.eventpool/com.saiftechnology.eventpool.student.studentAccount}: java.lang.RuntimeException: Cannot create an instance of class com.saiftechnology.eventpool.

[2021-03-17 06:14] deepakpradeep1188 opened #211 "QRcode scanner missing"
I changed to RazorPay version 1.6.6, but now QRcode scanner is missing in RazorPay view. Should i integrate anything extra in latest version to enable QR code scanner?

[2021-03-17 09:48] SUMIT0733 opened #212 "Reference to Sample Java class"
When we refer PaymentActivity.java, they don't have included Order_id in JsonObject andsetKeyID in java class as shown in Documentation, I am confused what to refer, this java class or documentation.

I'm getting error like : "Println needs a message" in startPayment method exception.

[2021-03-17 10:47] clint22 commented on #211
Same issue. Here. Pay using the QR code option ( Scan the QR code option using your UPI app ) is not showing anymore in the latest update. Instead, another option like, pay using apps ( You will be redirected to your UPI apps ) option is showing. If this is a major update, should have notified the clients. Our apps are running Razorpay in production and QR code scanning was an integral feature for

[2021-03-18 08:01] tejasCodenicely opened #213 "Option to set language"
### Describe the feature you'd like:

### Suggested implementation:

### Describe alternatives you've considered:

### Teachability, Documentation, Adoption, Migration Strategy:

[2021-03-19 04:34] vivekshindhe commented on #210
@Mustangodhra Two points,
- The logs that you have shared with us, don't really give many contexts as to how this would be caused because of the SDK.
- The ViewModel class is a great idea to use. But, you'll need to implement PaymentResultWithDataListener in the activity and then pass on the values to your fragment.

Let us know if you need any more clarification on the same.

[2021-03-19 04:38] vivekshindhe commented on #212
@SUMIT0733 the PaymentActivity.class is a reference to how the code should be. As such, it does not contain all the pre-requisites that need to be done by you in them. The process for integration should be followed as per the document. If you could send us a code sample of what you've implemented we should be able to help more in this case.

[2021-03-19 04:42] vivekshindhe commented on #206
@karun02525 @KrishHari closing the thread due to inactivity. Please respond here or create a new issue in case this isn't fixed for you.

[2021-03-19 04:42] #206 closed

[2021-03-19 04:44] vivekshindhe commented on #197
@gokulakshay Closing the issue due to inactivity. Please respond here or create a new issue in case you need more assistance.

[2021-03-19 04:44] #197 closed

[2021-03-19 05:07] vivekshindhe commented on #211
@deepakpradeep1188 @clint22 The "Scan QR code using UPI" option has never been enabled for mobile applications. It was only available on the web. We apologize if there was any sort of miscommunication from our end regarding this. Closing this issue.

[2021-03-19 05:07] #211 closed

[2021-03-19 06:08] clint22 commented on #211
Hi @vivekshindhe
We were using the version 'com.razorpay:checkout:1.4.9' at the time when our apps went to production. I'll attach the screenshot of the Android app with the "Scan QR Code using UPI" option. Our apps are Kiosks used by the general public. So it is an important feature for us. Request you to reopen the issue.
![old_razorpay_view](https://user-images.githubusercontent.com/9026966/111

[2021-03-19 07:00] sumedht commented on #213
@tejasCodenicely Can u plz describe ur issue so it will be easy for us to understand & work upon it

[2021-03-19 07:02] tejasCodenicely commented on #213
@sumedht  I am need an option to set default language of the sdk

[2021-03-19 07:06] sumedht commented on #211
@clint22 Can u share ur MID on sumedh.tambat@razorpay.com, vivek.shindhe@razorpay.com

[2021-03-19 07:16] clint22 commented on #211
@sumedht Please check your mail. Thank you.

[2021-03-19 07:18] clint22 commented on #211
Hi,
I have shared the mail ID. Please check.

On Fri, Mar 19, 2021 at 12:36 PM Sumedh ***@***.***> wrote:

[2021-03-19 07:51] NandaKishorJeripothula commented on #211
@clint22 could you please the device dimensions of screen & screenshot to verify on our end.

[2021-03-19 08:22] clint22 commented on #211
Hi @NandaKishorJeripothula
This is the model.
[https://www.flipkart.com/lenovo-tab-4-10-2-gb-ram-16-rom-10-1-inch-wi-fi-4g-tablet-slate-black/p/itmffm425jnehvuu](url)

[2021-03-20 17:51] SUMIT0733 commented on #212
Thanks!, now problem got resolved, I don't know what happened, but I started integration from scratch and it worked. Thanks again!!.

[2021-03-20 17:51] #212 closed

[2021-03-22 08:58] sudeshim3 opened #215 "Razorpay giving HTML code of rupee instead of symbol"
![image](https://user-images.githubusercontent.com/34063388/111963085-22401380-8b19-11eb-97d5-3e78c7fc4c3e.png)

## Description
Razorpay is not showing the symbol of rupee(₹). instead, it is showing the Unicode decimal i.e., &#8377;

`
    JSONObject().apply {

    put("currency", "INR")
    put("amount", payableAmount.toInt())
    put("email", email)
    put("order_id", orderId)
    put("method",

[2021-03-22 09:01] sudeshim3 commented on #215
@sumedht can you or someone in your team help with this. Thanks

[2021-03-22 12:30] vivekshindhe commented on #215
@sudeshim3 Thanks for bringing this to our notice. We are working on this from our end. Will have an update for you soon.

[2021-03-23 08:03] deepakpradeep1188 opened #217 "Hide Google pay and PhonePe from Razor pay UI"
Currently in razor pay UI , GooglePay and PhonePE application is shown. Is there a way to hide that? since we are implementing razor pay in kiosk ,so we are not making use of those applications. just entering UPI id and doing payment meets our requirement

[2021-03-23 08:55] sumedht commented on #213
@razorpay/techpgintegrations

[2021-03-23 08:59] sumedht commented on #217
@razorpay/techpgintegrations

[2021-03-23 13:19] sumedht commented on #217
@deepakpradeep1188 Using SDK integration or webview integration?

[2021-03-23 15:12] deepakpradeep1188 commented on #217
Android SDK integration

[2021-03-24 06:33] sumedht commented on #213
@tejasCodenicely can u share details where u will be reachable to have a more detail discussion?

[2021-03-24 08:43] Anoop-98 commented on #217
By my understanding for your use case, only having the "collect" flow (entering UPI id and making the payment) is required and not intent flow(opening up the PSP apps). For such a use case, use the following snippet and add it to your options object before initiating the checkout. Should meet your requirement.
             JSONObject method = new JSONObject();
             JSONObject upi= new JSON

[2021-03-24 12:24] deepakpradeep1188 commented on #217
@AnoopRz  I integrated the above code but still Google pay is showing as a "preferred payment method" in Razor pay UI

[2021-03-24 13:51] AnoopRz commented on #217
@deepakpradeep1188  Preferred methods visible is due to your previous tries(which will not be same for different devices), clearing the cache should fix it.

[2021-03-24 17:05] deepakpradeep1188 commented on #217
@AnoopRz  THANKS ANOOP..... its fixed...thanks

[2021-03-25 06:08] tejasCodenicely commented on #213
@sumedht  as you know sdk has option of eng and hindi now, when i open the sdk it currently by default it has eng selected, suppose my app has in app language change option and i want to change the language of the sdk according to the language my app currently has i cannot do that right.

[2021-03-25 06:46] NandaKishorJeripothula commented on #211
@clint22 resolved.// @sumedht @vivekshindhe

[2021-03-26 02:41] prudhvir3ddy opened #218 "Android RunTime Exception in webview of checkout file"
## Description
everything was working normal till yesterday but today we got a crashlytics spike alert in android 10 and android 11 devices.

looks like issue is in webview that razorpay uses.

[code]

[code]

## Razorpay SDK Version :
1.6.6

## Android OS Version :
android 10, 11

## Steps To Reproduce
not reproduced yet

for now i have very less info, i'll be working on giving more information a

[2021-03-26 03:16] sumedht commented on #218
@prudhvir3ddy On any specific device?
looks like there is an issue with Webview & Chrome on 23rd March & it's been fixed with update from Google.
https://www.theverge.com/2021/3/22/22345696/google-android-apps-crashing-fix-system-webview
https://www.google.com/appsstatus#hl=en&v=issue&sid=1&iid=aa75515d184a2423be444d676b7ebf45

[2021-03-26 03:39] prudhvir3ddy commented on #218
@sumedht thanks for the update.

realme and oppo devices.

issue started on 24th march for me.

may be some users haven't yet updated from the playstore.  closing this issue for now.

[2021-03-26 03:39] #218 closed

[2021-03-27 07:56] ravisharma46 commented on #200
ctivity com.razorpay.CheckoutActivity has leaked IntentReceiver com.razorpay.CheckoutPresenterImpl$1@c785044 that was originally registered here. Are you missing a call to unregisterReceiver()?

Can you explain this error. I am using 1.6.6 sdk version

[2021-04-01 10:48] #217 closed

[2021-04-01 10:49] sumedht commented on #215
@sudeshim3 It's fixed now

[2021-04-01 10:49] #215 closed

[2021-04-01 10:52] sumedht commented on #207
@PembaTamang Have fixed this in v1.6.7

[2021-04-01 10:52] #207 closed

[2021-04-01 10:52] sumedht commented on #190
@PembaTamang Fixed this in v1.6.7

[2021-04-01 10:52] #190 closed

[2021-04-01 10:54] sumedht commented on #210
@Mustangodhra Closing this issue as there is no further communication on this. U can always re-open if u still facing this issue.

[2021-04-01 10:54] #210 closed

[2021-04-05 10:57] TejendraPX opened #219 "Android app crashing with following crash log"
Binary XML file line #1 in package:layout/rzp_loader: Error inflating class x

Caused by java.lang.ClassNotFoundException: android.view.x
       at java.lang.Class.classForName(Class.java)
       at java.lang.Class.forName(Class.java:454)
       at android.view.LayoutInflater.createView(LayoutInflater.java:813)
       at android.view.LayoutInflater.createView(LayoutInflater.java:774)
       at and

[2021-04-06 02:16] sumedht commented on #219
@TejendraPX As it's not strightly reproducible, we will need more details like version of the app version, device, OS

[2021-04-06 06:34] TejendraPX commented on #219
@sumedht
Version - 1.6.6
Device - Samsung m31s, Xiomi - Redmi Note4
OS - Android 11,10,7

[2021-04-07 04:41] sumedht commented on #213
@tejasCodenicely
We get the feedback. We currently have the option of setting a default other than English from the dashboard. This will change the render language for all your users. We will consider your  feedback of having a param to change the language on Checkout as an input for prioritisation in the upcoming quarters

[2021-04-07 04:41] #213 closed

[2021-04-09 10:20] sayagodshala opened #220 "No value for send_sms_hash"
Stuck in here, not able to complete checkout flow. Pls help

E/com.razorpay.checkout: Error reading options!
    org.json.JSONException: No value for send_sms_hash
        at org.json.JSONObject.get(JSONObject.java:400)
        at org.json.JSONObject.getBoolean(JSONObject.java:421)
        at com.razorpay.CheckoutOptions.shouldSendHashForSms(CheckoutOptions.java:36)
        at com.razorpay.Checkou

[2021-04-09 10:37] vivekshindhe commented on #220
@sayagodshala This is not a fatal exception. We have this in place due to the extensive number of keys in the payload and in case the developer missed one of these. So this isn't a reason for concern. Could you please elaborate more on what is happening?

[2021-04-10 12:58] gouthamravella commented on #145
How this issue was resolved?

[2021-04-18 20:01] kshivam654 commented on #220
@vivekshindhe
I'm facing the same error using the live key, well this is not there in test key.

My gradle error:
E/com.razorpay.checkout: Webview JS Error: Uncaught TypeError: window.getDeviceDetails is not a function
E/com.razorpay.checkout: Webview JS Error: Uncaught ReferenceError: otpPermissionCallback is not defined

[code]

[2021-04-19 03:23] vivekshindhe commented on #220
@kshivam654 the error you mentioned is not a fatal error. If you can send the entire logs from the start to the occrurence of the issue, it'll be helpful in solving the issue you are facing.

[2021-04-19 04:29] paragpaul commented on #220
hi Vivek,
 This is an issue of tantamount importance for us. Can you please solve this problem  or provide an way so that we can expedite the process of resolution in this case.

[2021-04-19 04:31] vivekshindhe commented on #220
@paragpaul please send the logs

[2021-04-19 05:50] paragpaul commented on #220
Yes, we are trying our best to get the log

[2021-04-19 06:00] vivekshindhe commented on #220
@paragpaul can you tell us the issue you are facing? What happens when you do a payment?

[2021-04-19 06:14] kshivam654 commented on #220
@vivekshindhe I'm sending you the entire log removing the confidential info and package info.

[code]

[2021-04-19 09:41] vivekshindhe commented on #220
@paragpaul  Thanks for the logs. I still don't see a fatal exception. Could you please tell me what issue you are facing??

[2021-04-19 15:06] SkiddieSayak commented on #220
@vivekshindhe Hi Vivek ,
The issue which we are facing is the webview widget doesn't open / render when we are using the live api key. But with the same code when i am using a Test api key it works.

[2021-04-20 04:19] SkiddieSayak commented on #220
@vivekshindhe Can we have a quick meet over Skype / Zoom / GMeet so that we can show and explain you what exact issue we are facing.

[2021-04-20 05:08] vivekshindhe commented on #220
@SkiddieSayak have talked to the integrations team at razorpay and they'll get in touch with your team for the call. Thank you.

[2021-04-20 10:14] vivekshindhe commented on #220
@SkiddieSayak @kshivam654 Since the issue is resolved, closing the ticket. Thank you.

[2021-04-20 10:14] #220 closed

[2021-04-20 17:37] paragpaul commented on #220
thank you so much Vivek , This was quick turnaround. This really helps
Kudos

[2021-05-07 05:12] Miteshmakwana73 opened #225 "How to get saved card details?"
I have one question
is it possible to retrieve saved cards details? I want to display card details to the user in other activity

is it possible?

[2021-05-07 05:58] AnoopRz commented on #225
Please fetch the token of the customer via customer backend API call and pass the token in your android SDK, please use this doc for fetching tokens https://razorpay.com/docs/payment-gateway/web-integration/custom/features/saved-cards/#step-4-fetch-all-tokens-of-customer
After which you can use the following snippet to add the token
JSONObject data = new JSONObject();
data.put("amount", 29935);
da

[2021-05-07 06:21] Miteshmakwana73 commented on #225
it's showing invalid format of curl

i am using this

curl -u <YOUR_KEY_ID>:<YOUR_KEY_SECRET> \-X GET https://api.razorpay.com/v1/customers/:customer_id/tokens

in your_key_id i am passing merchant id and in your_key_secret i am passing API key

[2021-05-07 06:35] vivekshindhe commented on #225
@Miteshmakwana73 <YOUR_KEY_ID> is the apiKey that you get with format "rzp_live_XXXXXX".

[2021-05-07 06:53] Miteshmakwana73 commented on #225
still getting issue it's showing `Error while importing Curl: Only the URL can be provided without an option preceding it.All other inputs must be specified via options.` while importing in postman

curl -u rzp_test_*******: H6****
\-X GET https://api.razorpay.com/v1/customers/:cust_H6****/tokens

[2021-05-07 07:05] AnoopRz commented on #225
@Miteshmakwana73  Please provide it in this format curl --location --request GET 'https://api.razorpay.com/v1/customers/cust_*******(*****9/tokens' \
--header 'Authorization: Basic cnpwX3****************************************************************5WVRQ'

[2021-05-07 07:49] Miteshmakwana73 commented on #225
@AnoopRz thank you this is working for me

[code]

but it's not showing any response do I have to do any extra things

[code]

[2021-05-07 07:56] AnoopRz commented on #225
Please ensure that you are passing a customer id which you have already
saved token using previously.

On Fri, May 7, 2021 at 1:19 PM Miteshmakwana73 ***@***.***>
wrote:

--
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
**IMPORTANT**: The contents of this email and any attachme

[2021-05-07 08:00] Miteshmakwana73 commented on #225
i done something like this added customer from the website and add card details from the app and done payment but it's not showing in the response.

i added [test card](https://razorpay.com/docs/payment-gateway/test-card-upi-details/#test-card-for-domestic-payments) details in payment

and added my email in object also

[code]

[2021-05-07 08:04] AnoopRz commented on #225
Please save card details as mentioned in this format via checkout
https://razorpay.com/docs/payment-gateway/android-integration/custom/additional-features/#save-customer-data

On Fri, May 7, 2021 at 1:30 PM Miteshmakwana73 ***@***.***>
wrote:

--
---------------------------------------------------------------------------------------------------------------------------------------------------------

[2021-05-07 08:08] Miteshmakwana73 commented on #225
but this data filled in webview so how it's possible to pass data in an object

[code]

[2021-05-07 08:16] Miteshmakwana73 commented on #225
okay got it I added these 2 parameter and now it's working

[code]

[2021-05-07 08:16] #225 closed

[2021-05-09 01:23] bhaski-1234 opened #226 "Failed to notify a WebView"
Razorpay dashboard opens once on button click and when i press the back button it again opens up automatically and this continues for more than 2 to 3 times

`2021-05-09 06:45:01.436 14850-14850/com.razor.online W/ContentCatcher: Failed to notify a WebView
2021-05-09 06:45:01.441 14850-14850/com.razor.online W/ContentCatcher: Failed to notify a WebView
2021-05-09 06:45:01.658 14850-14850/com.razor

[2021-05-10 02:17] vivekshindhe commented on #226
@bhaski-1234 can you please send your payload that you're sending to the SDK?

[2021-05-19 07:05] sumedht commented on #226
@bhaski-1234 As there is no update from ur side. closing this issue as of now. Feel free to reopen it if u still facing the same.

[2021-05-19 07:05] #226 closed

[2021-05-19 14:35] turbo516 commented on #226
I am facing this same issue . Please help

[2021-05-19 18:38] notchdesign commented on #225
hey, @Miteshmakwana73 can you please tell me how you are creating server-side order id and getting it in your android application? Please!!

[2021-05-24 04:31] sumedht commented on #219
@TejendraPX r u still facing the same issue?

[2021-05-24 05:22] #219 closed

[2021-05-24 05:22] TejendraPX commented on #219
This issue has been fixed for me.

[2021-05-24 09:11] sahilit commented on #81
How to hide EMI options

[2021-05-27 06:31] dishantshah99 opened #231 "Dependency failing"
In project 'app' a resolved Google Play services library dependency depends on another at an exact version (e.g. "[15.0.
1]", but isn't being resolved to that version. Behavior exhibited by the library will be unknown.

Dependency failing: com.google.android.gms:play-services-stats:15.0.1 -> com.google.android.gms:play-services-basement@[
15.0.1], but play-services-basement version was 17.0.0.

[2021-05-28 08:37] vetriselvi-i2i opened #232 "Stuck in Razorpay gateway after successful transaction Android"
## Description

Making the payment with Card/Phonepe via Razorpay gateway.
Phonepe - After payment success Razorpay still in the same page (like again I've to make payment screen)
Card payment - Not even processing any cards (Both master & visa cards) OTP screen is not coming.

## Razorpay SDK Version :
com.razorpay:checkout:1.6.6

## Android OS Version :
Some particular users only having this iss

[2021-05-28 09:21] vivekshindhe commented on #232
@vetriselvi-i2i can you please share a sample project where you are able to reproduce the issue? That would help us a lot. Also v1.6.7 is released. You can try with that.

[2021-05-28 10:35] vetriselvi-i2i commented on #232
@vivekshindhe Sure I'll update the new version and try now. Regarding the sample project to reproduce, I don't have one now. It's happening for some of the users only. Even I couldn't recreate this on my device, but few users keep on getting the same issue with the same flow.

[2021-05-28 11:06] vivekshindhe commented on #232
Its most reproducible in Android 8 right? We'll try to reproduce the issue. But we'll need a bit more help from you on this as well.

[2021-05-28 11:13] vetriselvi-i2i commented on #232
@vivekshindhe
So the steps are below:
1. Just make a payment from Phonepe via RazorPay. Once payment is done Phonepe will close automatically and We'll be still staying in RazorPay screen (expected result: Razorpay should get close and it should give a callback to the application)
2. Choose a card option in RazorPay, by proceeding with it, it's not going to the OTP screen. (tried with both Master

[2021-05-28 14:35] vivekshindhe commented on #232
I would need info of the few users this is happening to sir. Cause, we aren't able to reproduce these issues.

[2021-05-28 14:35] vivekshindhe commented on #232
Android version, manufacturer, model.

[2021-05-28 16:08] vetriselvi-i2i commented on #232
![IMG_20210528_213620](https://user-images.githubusercontent.com/54939814/120012305-f5b6e500-bffc-11eb-80fe-aa450d50c89a.jpg)
Hope this will help you @vivekshindhe

[2021-05-29 02:55] vivekshindhe commented on #232
@vetriselvi-i2i Didn't realise you had access to the device where this is happening. Though the error is clear could you also please help with a video of it?

[2021-05-29 05:42] Priyanshi-Z opened #233 "Razorpay callback returns succesfull even transaction is not successfull"
Description
Making the payment with Upi via Razorpay gateway in test environment.

Paytm - After upi id invalid Paytm returns the callback to the calling app. And in Razorpay onSuccess callback  is returned

Razorpay SDK Version :
com.razorpay:checkout:1.6.6

Android OS Version :
Tested on Android 8.1, android 10 issue  exist most probably issue is on every device

What you did:
Trying to make pay

[2021-05-29 10:43] vetriselvi-i2i commented on #232
@vivekshindhe Please find the vide here : Link: https://drive.google.com/file/d/1-YEhJe_STvaKdifw4C3T7nYgNkvcE-2Y/view

[2021-05-31 11:08] vetriselvi-i2i commented on #232
@vivekshindhe Any updates? Is my info helpful for you?

[2021-05-31 11:38] vivekshindhe commented on #232
@vetriselvi-i2i Yes, thank you for that. Trying to reproduce this on our end. Will update you once we have something on the same. Thank you for your patience.

[2021-06-01 10:03] vivekshindhe commented on #232
@vetriselvi-i2i Not able to reproduce the issue on my device. Could you please send your merchant ID at vivek.shindhe@razorpay.com?

[2021-06-01 10:04] vivekshindhe commented on #233
@Priyanshi-Z could you please try this with Live Mode key? Also, the invalid_upi_id part, is the upi_id to which you are paying is invalid or is the upi_id with which you are paying is invalid?

[2021-06-01 12:52] Priyanshi-Z commented on #46
@hariramsvnit I want to avoid the retry option. In my case it is happening (In Live mode ) I have selected cards --> Added testing cards --> payment fails -->razor pay shows screen of payment fail (for around 2 seconds) --> then again card details has to be added (I don't want it).

Just adding retry option is disabled while passing the payloads to razorpay. Could you help me on this too.

[2021-06-01 12:54] Priyanshi-Z commented on #233
@vivekshindhe Yes it's not happening in live mode. I would give a feedback to either add this behavior in the document or return the call to on error callback so that it doesn't create any confusion for other folks. Thanks

@vivekshindhe   Could you help me on this too.  I want to avoid the retry option. In my case it is happening (In Live mode ) I have selected cards --> Added testing cards --> p

[2021-06-01 13:12] vivekshindhe commented on #233
@Priyanshi-Z Please refer the Retry object in this doc,

https://razorpay.com/docs/payment-gateway/web-integration/standard/checkout-options/

You'll have to pass a JSONObject retry with the payload.

Closing this ticket for now. Please feel free to open another if needed.

Thank you.

[2021-06-01 13:12] #233 closed

[2021-06-02 13:22] sachin-designs opened #234 "Razorypay Checkout Fragment Already Added"
## Description :

During every 1st time razorpay checkout it throws a illegal state exception which could crash the application. However after the first razorpay checkout. it works smoothly.

Please find the exception below

**Exception: java.lang.IllegalStateException: Fragment already added: Checkout{77a5497 #1}**

Which says Fragment already added.
However code does the Checkoud.preload(context

[2021-06-02 15:35] sachin-designs commented on #234
@vivekshindhe It normally occurs on all device and issue occurs only for the first checkout and works fine after that.

[2021-06-02 16:03] vivekshindhe commented on #234
@sachin-designs we haven't encountered this issue. Could you please take some time and send a sample project where you are able to see this? It would be really helpful in resolving this issue quicker.

[2021-06-02 18:01] Balakubera opened #235 "UPI Intent Integration"
In my android App currently I'm using PayU, Im planning to switch to RazorPay now.

After integarting using standard android integration steps as mentioned in below document, Im not able to see the UPI Intent payment optaion, all I see is UPi option where user has to enter the VPA manually. is there any settings or addition integration need to be done? Please clarify. Even under wallet GPAY and Ph

[2021-06-03 02:32] nikharsachdeva commented on #9
Any luck?

[2021-06-03 02:32] nikharsachdeva commented on #9
Any solution/reason found?

[2021-06-03 02:48] Mustangodhra commented on #9
@nikharsachdeva you have to implement the listener in the parent/container activity.

[2021-06-03 03:18] Mustangodhra commented on #9
@nikharsachdeva refer this sample code:

`    public class parentClass extends AppCompatActivity implements PaymentResultWithDataListener {

    //onCreate code........

    public void onPaymentSuccess(String razorpayPaymentId, PaymentData paymentData) {

        Toast.makeText(getApplicationContext, "success", Toast.LENGTH_SHORT).show();

    }
    public void onPaymentError(int code, String des

[2021-06-03 04:33] vivekshindhe commented on #235
@Balakubera I am guessing this is happening in android 11. You will have to add the packages you want to show in the android manifest file. This is due to changes specifically for Android 11. Here's something for your reference https://medium.com/androiddevelopers/package-visibility-in-android-11-cc857f221cd9

[2021-06-03 05:00] sumedht commented on #235
@Balakubera Plz add the above code in ur app's manifeast file
`<queries>

    <package android:name="com.google.android.apps.nbu.paisa.user" />
    <package android:name="com.phonepe.app"/>

    <intent>
        <action android:name="android.intent.action.SEND" />
    </intent>
</queries>`

[2021-06-03 14:57] sachin-designs commented on #234
@vivekshindhe  thanks I will try to come up with  sample project with issue replicated.

[2021-06-03 22:16] Balakubera commented on #234
Same happens in production.. Please fix it.

[2021-06-03 22:50] Balakubera commented on #235
Hi @sumedht @vivekshindhe
I'm using Android 10 only. I have tried byadding manifest too.

I'm following Razorpay Android Standard Integration https://razorpay.com/docs/payment-gateway/android-integration/standard/

When following above standard integration UPI button is displayed but user has to enter his VPA/UPI ID number. But I want  UPI Intent flow such that user doesnt need to remember his VPA

[2021-06-04 01:37] vivekshindhe commented on #235
@Balakubera could you please send the device details you are using? And also a sample project where you can see this would be really helpful in solving this faster.

[2021-06-04 02:39] vivekshindhe commented on #234
@sachin-designs before that, I was just watching your payload. Can you try once removing the modal object?

[2021-06-04 07:40] sachin-designs commented on #234
@vivekshindhe Yes I have tried removing the modal object and i still see the same issue.

## Different Issue
And there is one more enhancement ( or Bug ) Which needs to be addressed in razorpay checkout i.e when user performs payment and during payment verification if user tries do press back button it will close the checkout which results in payment cancel even though amount was deducted.

## Sol

[2021-06-04 09:17] vivekshindhe commented on #234
If the payment gets canceled refund is also initiated.

[2021-06-04 10:36] sachin-designs commented on #234
@vivekshindhe  No in such case Refund is not initiated. Simply event come's into  OnpaymentError method

[2021-06-04 13:23] abhirzp commented on #234
In that case, the money debited will be auto refunded to the end user even after the payment going into failed status.

[2021-06-05 06:02] Balakubera commented on #235
@vivekshindhe Thanks. Will provide an reproducible by this weekend.

[2021-06-07 04:57] rameshsambu-dev opened #236 "I am getting this in crashlytics using native android sdk.Many crash happening in the production account"
`Fatal Exception: java.lang.RuntimeException: Error receiving broadcast Intent { act=com.google.android.gms.auth.api.phone.SMS_RETRIEVED flg=0x200010 pkg=(has extras) } in com.razorpay.AutoReadOtpHelper@5fbb266
       at android.app.LoadedApk$ReceiverDispatcher$Args.lambda$getRunnable$0$LoadedApk$ReceiverDispatcher$Args(LoadedApk.java:1575)
       at android.app.-$$Lambda$LoadedApk$ReceiverDispatc